<!DOCTYPE html>
<html lang="zh-TW">
    <head>

        <!-- <link rel="preload" href="images/reel2.webp" as="image" media="(min-width: 768px)" /> -->
        <!-- <link rel="preload" href="images/reel2.webp" as="image"/> -->

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="theme-color" content="#001a70" />
        <meta name="format-detection" content="telephone=no" />

        <!-- <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" /> -->

        <link rel="shortcut icon" href="portfolio/images/192x192.png" />
        <link rel="apple-touch-icon" sizes="192x192" href="portfolio/images/192x192.png" />
        <title>魏孝峯作品集 | Kevin Wei's Portfolio</title>
        <meta property="og:title" content="魏孝峯作品集 | Kevin Wei's Portfolio" />
        <meta name="twitter:title" content="魏孝峯作品集 | Kevin Wei's Portfolio" />

        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Organization",
                "name": "魏孝峯作品集 | Kevin Wei's Portfolio",
                "url": "https://kevin262666.github.io/",
                "logo": "https://kevin262666.github.io/portfolio/images/192x192.png",
                "mainEntityOfPage":{
                   "@type": "WebPage",
                   "@id": "https://kevin262666.github.io/index.html"
                },
                "image":[
                   "https://kevin262666.github.io/portfolio/images/fb.jpg"
                ]
             }
        </script>

        <meta property="og:type" content="website" />
        <!-- <meta property="fb:app_id" content="1060402337367331" /> -->
        <meta name="description" content="一位持續學習心理學&具備10年設計經驗的網頁設計師，擅長網頁設計、切版、UI Design，具備大型網站、EC網站、形象網站、活動網站開發經驗" />
        <meta property="og:description" content="一位持續學習心理學&具備10年設計經驗的網頁設計師，擅長網頁設計、切版、UI Design，具備大型網站、EC網站、形象網站、活動網站開發經驗" />
        <meta name="twitter:description" content="一位持續學習心理學&具備10年設計經驗的網頁設計師，擅長網頁設計、切版、UI Design，具備大型網站、EC網站、形象網站、活動網站開發經驗" />
        <meta property="og:url" content="https://kevin262666.github.io/" />
        <link rel="canonical" href="https://kevin262666.github.io/" />
        <meta property="og:image" content="https://kevin262666.github.io/portfolio/images/fb.jpg" />
        <meta name="twitter:image" content="https://kevin262666.github.io/portfolio/images/fb.jpg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="628" />

        <meta name="twitter:card" content="summary_large_image" />
        <!-- <meta name="twitter:site" content="@franklin_tw" /> -->

        <!-- <link rel="stylesheet" type="text/css" href="portfolio/css/slick.css" /> -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="portfolio/css/style.css?v=20240919_2" />

        <!-- Google Tag Manager -->
        <!-- <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "//www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-PXDK43H");
        </script> -->
        <!-- End Google Tag Manager -->

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-RQJ7RK4ZNT"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-RQJ7RK4ZNT');
        </script>

        <!-- google font start -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&display=swap" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,700,900&display=swap" rel="stylesheet"> -->
        <!-- google font end -->

        <script src="https://kit.fontawesome.com/0389e2f534.js" crossorigin="anonymous"></script>

        <script src="portfolio/js/vue-v2.min.js"></script>
        <script src="portfolio/js/jquery-v3.4.min.js"></script>
        <!-- <script src="portfolio/js/slick.min.js"></script> -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="portfolio/js/vue-scrollto.min.js"></script>
        <script src="portfolio/js/httpVueLoader.js"></script>

        <!-- 數字遞增動畫 -->
        <script src="https://cdn.jsdelivr.net/npm/countup@1.8.2/dist/countUp.min.js"></script>

        <!-- iOS 和 Android 的智能應用橫幅 -->
        <!-- <meta name="apple-itunes-app" content="app-id=1508279002">
        <meta name="google-play-app" content="app-id=com.sice_app">
        <link href="css/jquery.smartbanner.css" rel="stylesheet">
        <script src="js/jquery.smartbanner.js"></script>
        <script type="text/javascript">
            $(function() { $.smartbanner() } )
        </script>
        <style>
            #smartbanner {position: relative!important;} #smartbanner .sb-info > span:last-of-type {display: none;} #smartbanner.android .sb-button span {display: none;} #smartbanner.android {border-top-color: #005598;}
            .sb-button:before {content: '打開'; display: block; line-height: 28px; background: #005598; color: #fff;}
        </style> -->

        <!-- scrollMagic + tweenMax -->
        <script src="portfolio/js/ScrollMagic-v2.0.7.min.js"></script>
        <script src="portfolio/js/debug.addIndicators-v2.0.7.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
        <script src="portfolio/js/animation.gsap.js"></script>

        <!-- Apex Chart -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script> -->
    </head>

    <body>
        <!-- Google Tag Manager -->
        <!-- <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PXDK43H" height="0" width="0" style="display: none; visibility: hidden"></iframe>
        </noscript> -->
        <!-- End Google Tag Manager -->

        <div id="content" v-cloak>

            <div id="top"></div>

            <!-- header -->
            <header class="header">
                <div class="container">
                    <div class="logo">
                        <a href="javascript:void(0)" @click="$scrollTo('#about')">
                            K
                        </a>
                    </div>
                    <nav>
                        <ul>
                            <li v-if="windowWidth > 767">
                                <a href="javascript:void(0)" @click="$scrollTo('#about')" title="關於Kevin">
                                    關於Kevin
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" @click="$scrollTo('#portfolio')" title="設計作品">
                                    設計作品
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" @click="$scrollTo('#experience')" title="工作經歷">
                                    工作經歷
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" @click="$scrollTo('#projectExperience')" title="專案經歷">
                                    專案經歷
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" @click="$scrollTo('#awards')" title="得獎作品">
                                    得獎作品
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>

            <!-- main -->
            <main class="main">

                <section class="firstItem">
                    <div class="container">
                        <div class="firstItem-img" data-aos="flip-left">
                            <img src="portfolio/images/img1.png" alt="">
                        </div>
                        <div class="firstItem-content">
                            <h1 class="firstItem-content-tit" title="魏孝峯 Kevin Wei's Portfolio">
                                <div class="firstItem-content-tit-twName" data-aos="fade-up">
                                    魏孝峯
                                </div>
                                <div data-aos="fade-up" data-aos-delay="200">
                                    Kevin <b>Wei's</b>
                                </div>
                                <div data-aos="fade-up" data-aos-delay="400">
                                    Portfolio
                                </div>
                            </h1>
                            <div class="firstItem-content-slills" data-aos="fade-up" data-aos-delay="600">
                                <span class="firstItem-content-slills-tit">
                                    Skills：
                                </span>
                                <span>HTML</span>
                                <span>SCSS</span>
                                <span>RWD</span>
                                <span>UI</span>
                                <span>XD</span>
                                <span>Sketch</span>
                                <span>Figma</span>
                                <span>git</span>
                                <span>jQuery</span>
                                <span>vue</span>
                                <span>Photoshop</span>
                                <span>Illustrator</span>
                            </div>
                        </div>
                        <div class="firstItem-arrow">
                            <span>scroll</span>
                        </div>
                    </div>
                    <div class="firstItem-marquee">
                        Kevin Wei's Portfolio Kevin Wei's Portfolio Kevin Wei's Portfolio Kevin Wei's Portfolio
                    </div>
                </section>
                
                <section class="item otherLink">
                    <div class="container">
                        <ul class="otherLink-list">
                            <li data-aos="fade-up">
                                <a href="https://www.behance.net/kevin2626634eb" target="_blank">
                                    <i class="fab fa-behance-square"></i>
                                    <br/>Behance
                                </a>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="100">
                                <a href="https://www.linkedin.com/in/%E5%AD%9D%E5%B3%AF-%E9%AD%8F-586330b2/" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                    <br/>Linkedin
                                </a>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="200">
                                <a href="https://github.com/kevin262666/kevin262666.github.io" target="_blank">
                                    <i class="fab fa-github-square"></i>
                                    <br/>github
                                </a>
                            </li>
                            <!-- <li data-aos="fade-up" data-aos-delay="300">
                                <a href="https://www.yona-pet-food.com/" target="_blank">
                                    <i class="fab fa-blogger"></i>
                                    <br/>Blogger
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </section>

                <div id="about"></div>
                <section class="item about">
                    <div class="container">
                        <div class="about-img" data-aos="flip-left">
                            <img src="portfolio/images/img2.png" alt="">
                        </div>
                        <div class="about-content">
                            <h2 class="itemTit" title="About" data-aos="fade-up">
                                About
                            </h2>
                            <p data-aos="fade-up">
                                <b class="text-yellow">『設計不只是做得美美的，而是設計一個解決方案』</b>
                            </p>
                            <p data-aos="fade-up" data-aos-delay="100">
                                Hi 我叫孝峯(Kevin)，現任職於凱基證券電子商務部擔任設計小組組長。我以<span class="text-yellow">UI/網頁設計師</span>的身份，為多個大小平台、活動網站、APP和前後台UI介面進行設計及優化，包括了<span class="text-yellow">正官庄官網+EC、東南旅遊EC、富蘭克林會員專區、凱基證券e策略APP</span>...等。
                            </p>
                            <p data-aos="fade-up" data-aos-delay="200">
                                我擅長利用<span class="text-yellow">Figma</span>將過去舊式的專案重新打造成嶄新且易用的人機互動界面。除了具有豐富的設計經驗外，我還會運用scss、html5、vue、GASP等切版技術，為網頁設計提供更強的視覺吸引力和使用體驗。
                            </p>
                            <p data-aos="fade-up" data-aos-delay="200">
                                我目前有三位線上的同事，分別叫ChatGPT、gemini、claude，還有一位住在我的電腦裡叫llama3.1，我會讓他們協助我優化程式及提供建議，偶爾也會從他們身上學到東西。
                            </p>
                            <p data-aos="fade-up" data-aos-delay="200">
                                近期利用下班時段<span class="text-yellow">另修心理學課程</span>，期能專精設計類以外的技能，以擴展技能範圍並提升工作表現。
                            </p>
                            <p data-aos="fade-up" data-aos-delay="200">
                                前份工作任職於富蘭克林證券投顧擔任資深網頁設計師，使用<span class="text-yellow">Adobe XD</span>設計EC、會員註冊介面，並利用<span class="text-yellow">scss、html5、vue製作prototype</span>。除網站改版項目，另負責活動網站、banner、EDM等網宣品製作。另協助部門主管處理設計行政事務，負責新人訓練及工作任務分派等事項。
                            </p>
                        </div>
                    </div>
                    <div class="certificate">
                        <ul>
                            <li data-aos="flip-up">
                                <a href="https://learndigital.withgoogle.com/digitalgarage-tw/course/digital-marketing?enroll-success=1"
                                    target="_blank" title="基礎數位行銷資格認證">
                                    <i class="fab fa-google"></i>
                                    <br />
                                    基礎數位行銷資格認證 <i class="fas fa-external-link-alt"></i>
                                    <div class="remark">
                                        2021/10 頒發
                                        <br/>證照編號 3PGHKJ2VK
                                    </div>
                                </a>
                            </li>
                            <li data-aos="flip-up" data-aos-delay="100">
                                <a href="https://analytics.google.com/analytics/academy/certificate/DdsgvTe-Qb68DHfSG6jizw"
                                    target="_blank" title="Google Analytics (分析) 的進階概念">
                                    <i class="fab fa-google"></i>
                                    <br />
                                    Google Analytics (分析) 的進階概念 <i class="fas fa-external-link-alt"></i>
                                    <div class="remark">
                                        2021/12 - 2024/12
                                    </div>
                                </a>
                            </li>
                            <li data-aos="flip-up" data-aos-delay="200">
                                <a href="https://analytics.google.com/analytics/academy/certificate/BlrCHj3DR0akaHdZLd4YMQ"
                                    target="_blank" title="Google Analytics (分析) 的基礎知識">
                                    <i class="fab fa-google"></i>
                                    <br />
                                    Google Analytics (分析) 的基礎知識 <i class="fas fa-external-link-alt"></i>
                                    <div class="remark">
                                        2012/11 - 2024/11
                                    </div>
                                </a>
                            </li>
                            <li data-aos="flip-up" data-aos-delay="300">
                                <a href="https://skillshop.exceedlms.com/student/award/HfAaKMm4WpqMaE6KcoYQTc81?referer=https%3A%2F%2Fskillshop.exceedlms.com%2Fstudent%2Fpath%2F2930%3Fuse_local%3Dtrue"
                                    target="_blank" title="Google Analytics (分析) 個人認證">
                                    <i class="fab fa-google"></i>
                                    <br/>
                                    Google Analytics (分析) 個人認證 <i class="fas fa-external-link-alt"></i>
                                    <div class="remark">
                                        2021/12 - 2022/12
                                        <br/>證照編號 98205636
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="container vsTable-container" v-if="false">
                        <h3 class="vsTable-tit" data-aos="fade-up">
                            同業比較表
                        </h3>
                        <p class="remark text-center" data-aos="fade-up">
                            <i class="fas fa-check-circle"></i> = 會 ｜ <i class="fas fa-exclamation-triangle"></i> = 不一定 ｜ - = 不會
                        </p>
                        <div class="vsTable">
                            <div class="vsTable-row titRow" data-aos="flip-up">
                                <div class="vsTable-col">

                                </div>
                                <div class="vsTable-col selfType">
                                    <img src="portfolio/images/kevinWei.jpeg" alt="" class="selfPic">
                                </div>
                                <div class="vsTable-col">
                                    <b>網頁設計師</b>
                                </div>
                                <div class="vsTable-col">
                                    <b>UI設計師</b>
                                </div>
                            </div>
                            <div class="vsTable-row" data-aos="flip-up">
                                <div class="vsTable-col">
                                    <b>HTML / CSS</b>
                                </div>
                                <div class="vsTable-col selfType">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="vsTable-col">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="vsTable-col">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </div>
                            </div>
                            <div class="vsTable-row" data-aos="flip-up">
                                <div class="vsTable-col">
                                    <b>SCSS</b>
                                </div>
                                <div class="vsTable-col selfType">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="vsTable-col">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </div>
                                <div class="vsTable-col">
                                    -
                                </div>
                            </div>
                            <div class="vsTable-row" data-aos="flip-up">
                                <div class="vsTable-col">
                                    <b>jQuery</b>
                                </div>
                                <div class="vsTable-col selfType">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="vsTable-col">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="vsTable-col">
                                    -
                                </div>
                            </div>
                            <div class="vsTable-row" data-aos="flip-up">
                                <div class="vsTable-col">
                                    <b>RWD</b>
                                </div>
                                <div class="vsTable-col selfType">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="vsTable-col">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="vsTable-col">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </div>
                            </div>
                            <div class="vsTable-row" data-aos="flip-up">
                                <div class="vsTable-col">
                                    <b>Bootstrap</b>
                                </div>
                                <div class="vsTable-col selfType">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="vsTable-col">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </div>
                                <div class="vsTable-col">
                                    -
                                </div>
                            </div>
                            <div class="vsTable-row" data-aos="flip-up">
                                <div class="vsTable-col">
                                    <b>基本javascript</b>
                                </div>
                                <div class="vsTable-col selfType">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="vsTable-col">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </div>
                                <div class="vsTable-col">
                                    -
                                </div>
                            </div>
                            <div class="vsTable-row" data-aos="flip-up">
                                <div class="vsTable-col">
                                    <b>基礎Vue</b>
                                </div>
                                <div class="vsTable-col selfType">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="vsTable-col">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </div>
                                <div class="vsTable-col">
                                    -
                                </div>
                            </div>
                            <div class="vsTable-row" data-aos="flip-up">
                                <div class="vsTable-col">
                                    <b>Chrome Dev</b>
                                </div>
                                <div class="vsTable-col selfType">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="vsTable-col">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="vsTable-col">
                                    -
                                </div>
                            </div>
                            <div class="vsTable-row" data-aos="flip-up">
                                <div class="vsTable-col">
                                    <b>VSCode</b>
                                </div>
                                <div class="vsTable-col selfType">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="vsTable-col">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="vsTable-col">
                                    -
                                </div>
                            </div>
                            <div class="vsTable-row" data-aos="flip-up">
                                <div class="vsTable-col">
                                    <b>Git</b>
                                </div>
                                <div class="vsTable-col selfType">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="vsTable-col">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </div>
                                <div class="vsTable-col">
                                    -
                                </div>
                            </div>
                            <div class="vsTable-row" data-aos="flip-up">
                                <div class="vsTable-col">
                                    <b>Sketch / XD / Figma</b>
                                </div>
                                <div class="vsTable-col selfType">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="vsTable-col">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </div>
                                <div class="vsTable-col">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                            <div class="vsTable-row" data-aos="flip-up">
                                <div class="vsTable-col">
                                    <b>UI Design</b>
                                </div>
                                <div class="vsTable-col selfType">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="vsTable-col">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </div>
                                <div class="vsTable-col">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                        <p class="remark text-center" data-aos="fade-up">
                            註：參考
                            <a href="https://www.hexschool.com/" target="_blank" title="六角學院" style="color: #fff;" class="linkText">
                                六角學院
                            </a>
                            技能樹地圖編製
                        </p>
                    </div>
                </section>

                <div id="portfolio"></div>
                <section class="item portfolio">
                    <div class="container">
                        <h2 class="itemTit" title="Portfolio" data-aos="fade-right">
                            Portfolio
                        </h2>
                        <ul class="tab-btn" data-aos="fade-up">
                            <li :class="{'active': tab[0]}" @click="toggleTab('0')">UI設計</li>
                            <li :class="{'active': tab[1]}" @click="toggleTab('1')">行銷設計</li>
                        </ul>
                        <div class="tab-content" data-aos="fade-left">
                            <section v-if="tab[0]">
                                <ul class="portfolio-list">
                                    <li v-for="item in uiDesign">
                                        <div class="portfolio-list-head">
                                            <a :href="item.link" target="_blank" :title="item.tit">
                                                <img :src="'portfolio/images/uiDesign/' + item.img" :alt="item.tit">
                                                <div class="portfolio-list-head-tit">
                                                    {{item.tit}}
                                                </div>
                                            </a>
                                        </div>
                                        <div class="portfolio-list-link">
                                            <a :href="item.website" target="_blank" title="github" v-if="item.website != ''">
                                                website <i class="fas fa-link"></i>
                                            </a>
                                            <a :href="item.behance" target="_blank" title="Behance" v-if="item.behance != ''">
                                                Behance <i class="fas fa-external-link-alt"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                            <section v-if="tab[1]">
                                <ul class="portfolio-list">
                                    <li v-for="item in marketing">
                                        <div class="portfolio-list-head">
                                            <a :href="item.link" target="_blank" :title="item.tit">
                                                <img :src="'portfolio/images/marketing/' + item.img" :alt="item.tit">
                                                <div class="portfolio-list-head-tit">
                                                    {{item.tit}}
                                                </div>
                                            </a>
                                        </div>
                                        <div class="portfolio-list-link">
                                            <a :href="item.website" target="_blank" title="github" v-if="item.website != ''" >
                                                website <i class="fas fa-link"></i>
                                            </a>
                                            <a :href="item.behance" target="_blank" title="Behance" v-if="item.behance != ''">
                                                Behance <i class="fas fa-external-link-alt"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                        </div>
                        <div class="btnArea twoBtn">
                            <!-- <div class="btn borderType yellowStyle">
                                <a href="https://www.behance.net/gallery/204840059/-e()" target="_blank" title="最新UI設計">
                                    最新UI設計 <i class="fas fa-angle-double-right"></i>
                                </a>
                            </div> -->
                            <div class="btn borderType" :class="windowWidth > 767 ? 'whiteStyle' : 'yellowStyle'">
                                <a href="https://www.behance.net/kevin2626634eb" target="_blank" title="更多設計作品">
                                    更多設計作品 <i class="fas fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="firstItem-arrow">
                            <span>scroll</span>
                        </div>
                    </div>
                    <div class="firstItem-marquee">
                        Kevin Wei's Portfolio Kevin Wei's Portfolio Kevin Wei's Portfolio Kevin Wei's Portfolio
                    </div>
                </section>

                <div id="experience"></div>
                <section class="item experience">
                    <div class="container">
                        <h2 class="itemTit" title="Experience" data-aos="fade-up">
                            Experience
                        </h2>
                        <div class="experience-content">
                            <div class="experience-img" data-aos="fade-right">
                                <div class="experience-img-img">
                                    <img :src="windowWidth > 767 ? 'portfolio/images/img6.jpeg' : 'portfolio/images/img5.jpeg'" alt="">
                                </div>
                            </div>
                            <ul class="experience-list">
                                <li v-for="(item, index) in experience" data-aos="fade-left" :data-aos-delay="100 * index">
                                    <div class="experience-list-tit">
                                        {{item.tit}}
                                    </div>
                                    <div class="experience-list-company">
                                        {{item.company}}
                                    </div>
                                    <div class="experience-list-time">
                                        {{item.time}}
                                    </div>
                                    <div class="experience-list-jobList" v-html="item.jobList">
                                        
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

                <div id="projectExperience"></div>
                <section class="item projectExperience">
                    <div class="container">
                        <h2 class="itemTit" title="Project Experience" data-aos="fade-up">
                            Project Experience
                        </h2>
                        <div class="projectExperience-item" data-aos="fade-left">
                            <h3 class="projectExperience-list-tit" title="2018/7~至今">
                                2018/7~至今
                            </h3>
                            <ul class="projectExperience-list">
                                <li>
                                    <a href="https://shopee.tw/product/103398190/13497429673/" target="_blank" title="YONA寵物凍乾">
                                        YONA寵物凍乾 <span class="remark">(MVP testing)</span> <i
                                            class="fas fa-external-link-alt"></i>
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="https://medium.com/@kevin262666/0%E6%9C%AC%E9%87%91-%E6%9C%88%E9%A0%98%E8%90%AC%E5%85%83%E9%9B%B6%E7%94%A8%E9%8C%A2%E5%AF%A6%E9%A9%97-15e2cace871c" target="_blank"
                                        title="「0本金」月領萬元零用錢實驗">
                                        「0本金」月領萬元零用錢實驗 <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </li> -->
                                <li>
                                    <a href="https://www.franklin.com.tw/DividendDate/index.html" target="_blank"
                                        title="富蘭克林證券投顧-新官網改版">
                                        富蘭克林證券投顧-新官網改版 <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://etrade.franklin.com.tw/ec/login" target="_blank"
                                        title="富蘭克林證券投顧-國民e帳戶改版">
                                        富蘭克林證券投顧-國民e帳戶改版 <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://etrade.franklin.com.tw/openAccount/" target="_blank"
                                        title="富蘭克林證券投顧-線上開戶改版">
                                        富蘭克林證券投顧-線上開戶改版 <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.franklin.com.tw/areas/insurance-area/login.html"
                                        target="_blank" title="富蘭克林證券投顧-壽險專區改版">
                                        富蘭克林證券投顧-壽險專區改版 <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://etrade.ftft.com.tw/open/#/newStep1" target="_blank"
                                        title="富蘭克林華美投信-線上開戶改版">
                                        富蘭克林華美投信-線上開戶改版 <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    植根法律網
                                </li>
                                <li>
                                    第一銀行-薪轉戶專區
                                </li>
                                <li>
                                    字媒體Zimedia
                                </li>
                                <li>
                                    TradingTrain鎚圈
                                </li>
                                <li>
                                    台北市公共住宅招租網
                                </li>
                                <li>
                                    巨輪興業尾牙抽獎活動網站
                                </li>
                                <li>
                                    <a href="https://www.ongfs.com/" target="_blank" title="ONUS GLOBAL FULFILLMENT SOLUTIONS Ltd.">
                                        ONUS GLOBAL FULFILLMENT SOLUTIONS Ltd. <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="projectExperience-item" data-aos="fade-left">
                            <h3 class="projectExperience-list-tit" title="2017/2~2018/6">
                                2017/2~2018/6
                            </h3>
                            <ul class="projectExperience-list">
                                <li>
                                    <a href="https://goo.gl/yeoczR" target="_blank" title="東南旅遊EC網站改版-旅遊票券">
                                        東南旅遊EC網站改版-旅遊票券 <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://goo.gl/ZS4yJq" target="_blank" title="東南旅遊EC網站改版-國際機票">
                                        東南旅遊EC網站改版-國際機票 <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://goo.gl/2KfRRh" target="_blank"
                                        title="東南旅遊EC網站改版-國際機票-有位有價">
                                        東南旅遊EC網站改版-國際機票-有位有價 <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://goo.gl/ZABFdM" target="_blank" title="東南旅遊EC網站改版-國外團旅">
                                        東南旅遊EC網站改版-國外團旅 <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://is.gd/qd3H3H" target="_blank" title="東南旅遊EC網站改版-自由配">
                                        東南旅遊EC網站改版-自由配 <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    東南旅遊EC網站改版-團體自由行
                                </li>
                                <li>
                                    東南旅遊EC網站改版-國外訂房
                                </li>
                                <li>
                                    東南旅遊EC網站改版-國內旅遊
                                </li>
                                <li>
                                    東南旅遊EC網站改版-付款流程
                                </li>
                                <li>
                                    邑陸國際globalEsolution
                                </li>
                            </ul>
                        </div>
                        <div class="projectExperience-item" data-aos="fade-left">
                            <h3 class="projectExperience-list-tit" title="2013/7~2017/2">
                                2013/7~2017/2
                            </h3>
                            <ul class="projectExperience-list">
                                <li>
                                    創世紀資訊快速套版專案Doweb開發
                                </li>
                                <li>
                                    EcBuy購物網站套版專案開發
                                </li>
                                <li>
                                    韓國人蔘公社正官庄-形象網站
                                </li>
                                <li>
                                    韓國人蔘公社正官庄-購物網站
                                </li>
                                <li>
                                    南僑化學工業股份有限公司 小廚師慢食麵
                                </li>
                                <li>
                                    2017世界大學運動會國際學術研討會網站
                                </li>
                                <li>
                                    天喜國際時尚股份有限公司 SST&C-官網
                                </li>
                                <li>
                                    <a href="https://www.unison.tw/web/index/index.jsp" target="_blank"
                                        title="國統開發股份有限公司 擁恆文創園區">
                                        國統開發股份有限公司 擁恆文創園區 <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    ovo京典衛浴股份有限公司-官網
                                </li>
                                <li>
                                    遠東銀行 遠銀保險代理人官網
                                </li>
                                <li>
                                    <a href="http://www.bigdome.com.tw/" target="_blank" title="巨蛋展覽股份有限公司">
                                        巨蛋展覽股份有限公司 <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    北都數位有線電視TaipeiNet
                                </li>
                                <li>
                                    麗斯居有限公司 貓樂園
                                </li>
                                <li>
                                    <a href="http://www.liangchi.com.tw/index1.jsp" target="_blank" title="良機實業股份有限公司">
                                        良機實業股份有限公司-電腦版 <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.liangchi.com.tw/mobile/web-tw/index/index.jsp" target="_blank"
                                        title="良機實業股份有限公司-手機版官網">
                                        良機實業股份有限公司-手機版官網 <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    巨創策略股份有限公司 EcBuy-購物網站
                                </li>
                                <li>
                                    KEVINLIN-官網
                                </li>
                                <li>
                                    傢作有限公司La déco
                                </li>
                                <li>
                                    桔豐科技股份有限公司-官網＆特約商專區
                                </li>
                                <li>
                                    頂宏生物科技有限公司 FRUSIRNAG 曦之麗
                                </li>
                                <li>
                                    珍愛設計事務所 MARRY LOVE網路花店
                                </li>
                                <li>
                                    銓盛電子股份有限公司
                                </li>
                                <li>
                                    大溪棋院
                                </li>
                                <li>
                                    台灣台北陳文雅網路創作個展
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="firstItem-marquee">
                        Kevin Wei's Portfolio Kevin Wei's Portfolio Kevin Wei's Portfolio Kevin Wei's Portfolio
                    </div>
                </section>

                <div id="awards"></div>
                <section class="item awards">
                    <div class="container">
                        <h2 class="itemTit" title="Awards" data-aos="fade-up">
                            Awards
                        </h2>
                        <ul class="awards-list">
                            <li data-aos="fade-up">
                                <a href="https://www.awwwards.com/sites/fu-lan-ke-lin-tan-bo-dun-mei-guo-ji-hui-ji-jin-fu-lan-ke-lin-guo-min-de-ji-jin" target="_blank" class="awards-list-img" title="awwwards Nominees-富蘭克林坦伯頓美國機會基金">
                                    <img src="portfolio/images/marketing/C2018_12_Q4_0799.webp" alt="富蘭克林坦伯頓美國機會基金">
                                </a>
                                <div class="awards-list-content">
                                    <a href="https://www.awwwards.com/sites/fu-lan-ke-lin-tan-bo-dun-mei-guo-ji-hui-ji-jin-fu-lan-ke-lin-guo-min-de-ji-jin" target="_blank" title="awwwards Nominees-富蘭克林坦伯頓美國機會基金">
                                        <img src="portfolio/images/Awwards-logotype-2018.svg" alt="" class="awards-list-logo">
                                        <div class="awards-list-awards">
                                            awwwards-Nominees
                                        </div>
                                        <div class="awards-list-websiteName">
                                            富蘭克林坦伯頓美國機會基金
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>

                <section class="skillWall">
                    <ul class="skillWall-list">
                        <li>
                            <i class="fab fa-html5" title="html5"></i>
                        </li>
                        <li>
                            <i class="fab fa-css3-alt" title="css3"></i>
                        </li>
                        <li>
                            <i class="fab fa-sass" title="sass"></i>
                        </li>
                        <li>
                            <i class="fab fa-git" title="git"></i>
                        </li>
                        <li>
                            <i class="fab fa-js" title="js"></i>
                        </li>
                        <li>
                            <i class="fab fa-vuejs" title="vuejs"></i>
                        </li>
                        <li>
                            <i class="fab fa-apple" title="apple"></i>
                        </li>
                        <li>
                            <i class="fab fa-windows" title="windows"></i>
                        </li>
                        <li>
                            <i class="fab fa-android" title="android"></i>
                        </li>
                        <li>
                            <i class="fab fa-trello" title="trello"></i>
                        </li>
                        <li>
                            <i class="fab fa-github" title="github"></i>
                        </li>
                        <li>
                            <i class="fab fa-font-awesome" title="Font Awesome"></i>
                        </li>
                        <li>
                            <i class="fab fa-bitbucket" title="bitbucket"></i>
                        </li>
                        <li>
                            <i class="fab fa-chrome" title="chrome"></i>
                        </li>
                        <li>
                            <i class="fab fa-edge" title="edge"></i>
                        </li>
                        <li>
                            <i class="fas fa-smoking-ban" title="quit smoking"></i>
                        </li>
                    </ul>
                </section>
                
            </main>

            <!-- footer -->
            <footer class="footer">
                <div class="container">
                    <div class="contactInfo">
                        <!-- <a href="tel:0955321911" title="聯絡電話">
                            <i class="fas fa-phone-alt"></i> 0955-321-911
                        </a> -->
                        <a href="mailto:kevin262666@gmail.com" title="Email">
                            <i class="fas fa-envelope"></i> kevin262666@gmail.com
                        </a>
                    </div>
                    <ul class="otherLink-list">
                        <li>
                            <a href="https://www.behance.net/kevin2626634eb" target="_blank">
                                <i class="fab fa-behance-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/%E5%AD%9D%E5%B3%AF-%E9%AD%8F-586330b2/"
                                target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/kevin262666/kevin262666.github.io" target="_blank">
                                <i class="fab fa-github-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.yona-pet-food.com/" target="_blank">
                                <i class="fab fa-blogger"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="remark text-center">
                        Photo by 
                        <a href="https://unsplash.com/" target="_blank" title="Unsplash">
                            Unsplash
                        </a>
                    </div>
                    <div class="copyright">
                        Copyright © 2024 Captain Design Studio. All rights reserved.
                    </div>
                </div>
            </footer>

            <div class="topBtn">
                <a href="#top" title="返回最上面" @click.prevent="$scrollTo('body')">
                    <span>
                        <i class="fas fa-caret-up"></i>
                        TOP
                    </span>
                </a>
            </div>

            <!-- <modal ref="warning" :can-close="false" class="md">
                <slot slot="infoArea">
                    xxxx
                </slot>
            </modal> -->
            
        </div>

        <script src="portfolio/js/main.min.js?v=20240919"></script>
        
    </body>
</html>