@charset 'utf-8';

.float {
    &-none {
        float: none;
    }
    &-left {
        float: left;
    }
    &-right {
        float: right;
    }
}

.clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}