@charset 'utf-8';

.notice {
    // background: $color-blockBg;
    border-radius: 5px;
    padding: 1px 15px;
    margin: 40px 0px;
    border: solid 1px $color-gray2;
    @include maxWidth-sm {
        font-size: 14px;
        padding: 1px 10px;
    }
}
