@charset 'utf-8';

.slick {
    &-slider {
        // padding-bottom: 20px;
        margin-bottom: 15px;
    }
    &-slide {
        outline: none;
        img {
            max-width: 100%;
        }
    }
    &-dots {
        list-style: none;
        font-size: 0px;
        text-align: center;
        margin: 15px 0 0;
        padding-left: 0px;
        // width: 100%;
        // position: absolute;
        // bottom: 0px;
        li {
            padding: 0px 3px;
            display: inline-block;
            vertical-align: top;
            button {
                font-size: 0px;
                padding: 0px;
                border-radius: 100%;
                width: 10px;
                height: 10px;
                background: $color-border;
                border: none;
                cursor: pointer;
                transition: 0.3s ease all;
            }
            &.slick-active button {
                background: $color-gray1;
                width: 25px;
                border-radius: 20px;
            }
        }
    }
    &-arrow {
        font-size: 0px;
        position: absolute;
        top: -40px;
        padding: 0px;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        text-align: center;
        color: $color-gray1;
        transition: 0.3s ease all;
        z-index: 1;
        border: none;
        @extend .fontAwesomeIcon;
        background: none;
        cursor: pointer;
        &:before {
            font-size: 30px;
            line-height: 1;
        }
        &:hover {
            color: $color-baseBlue;
        }
    }
    &-prev {
        right: 40px;
        &:before {
            content: "\f137";
        }
    }
    &-next {
        right: 0px;
        &:before {
            content: "\f138";
        }
    }
    @include maxWidth-sm {
        &-arrow:before {
            font-size: 26px;
        }
        // &-prev {
        //     left: -20px;
        // }
        // &-next {
        //     right: -20px;
        // }
    }
}
