@charset "UTF-8";

.sign {
    &-optionItem {
        margin: 15px 0px;
        .el-card__body {
            padding: 0px;
        }
        label {
            cursor: pointer;
            display: block;
            position: relative;
            font-size: 0px;
            text-align: center;
            height: 150px;
            padding: 32px 10px;
            box-sizing: border-box;
            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                height: 100%;
                width: 1%;
            }
            input[type="radio"] {
                position: absolute;
                opacity: 0;
                &:checked {
                    & + .sign-optionItem-fakeCheckbox {
                        background: $color-baseBlue;
                        i {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &-fakeCheckbox {
            position: absolute;
            top: 10px;
            right: 10px;
            border: solid 1px $color-gray1;
            width: 20px;
            height: 20px;
            font-size: 15px;
            color: #fff;
            border-radius: 5px;
            transition: 0.3s ease-in-out all;
            i {
                position: absolute;
                left: 3px;
                top: 2px;
                opacity: 0;
                transition: 0.3s ease-in-out all;
            }
        }
        &-content {
            display: inline-block;
            vertical-align: middle;
            width: 99%;
            font-size: $fontSize-base;
        }
        &-tit {
            font-size: 22px;
        }

        // disabled
        &.disabled {
            color: $color-gray2;
            label {
                cursor: auto;
            }
            .sign-optionItem-fakeCheckbox {
                border-color: $color-border;
            }
        }
    }
    @include maxWidth-sm {
        &-optionItem {
            label {
                height: 120px;
            }
            &-tit {
                font-size: 18px;
            }
        }
    }
}