@charset 'utf-8';

.simpleMemberInfo {
    position: fixed;
    top: 68px;
    left: 24px;
    width: 230px;
    text-align: center;
    &-lvImg {
        border-radius: 100%;
        display: block;
        margin: 15px auto;
        width: 100%;
        max-width: 136px;
        border: solid 6px rgba($color-gray1, 0.2);
        box-sizing: border-box;
    }
    &-salutatory {
        color: $color-gray1;
        border-bottom: solid 1px $color-border;
        padding-bottom: 15px;
        margin: 15px 0px;
        &-name {
            font-size: 18px;
            line-height: 1.3;
            color: $color-fontColor;
            strong {
                font-size: 25px;
            }
        }
    }
    &-content {
        font-size: 14px;
        margin: 15px 0px;
        &-item {
            padding: 12px 0px;
            border-bottom: dashed 1px $color-border;
            &:first-of-type {
                padding-top: 0px;
            }
            &:last-of-type {
                border-bottom: none;
            }
            .breakBlock {
                display: none;
            }
        }
        &-price {
            color: $color-baseBlue;
            font-size: 28px;
            line-height: 36px;
        }
        .referralCode {
            color: $color-baseBlue;
            cursor: pointer;
            b {
                font-size: $fontSize-base;
            }
            i {
                font-size: 14px;
                width: 25px;
                line-height: 25px;
                border-radius: 100%;
                box-shadow: 0px 0px 0px 1px rgba($color-baseBlue, 1) inset;
            }
        }
    }
    .slick {
        &-slider {
            margin: 20px 0px 5px;
        }
        &-list {
            border-radius: 5px;
        }
    }
    .goHome {
        // margin: 15px 0px;
        a {
            color: $color-gray1;
            transition: 0.3s ease all;
            border-bottom: solid 1px;
            text-shadow: 0px 0px 2px #fff, 0px 0px 2px #fff, 0px 0px 2px #fff, 0px 0px 2px #fff, 0px 0px 2px #fff, 0px 0px 2px #fff, 0px 0px 2px #fff, 0px 0px 2px #fff, 0px 0px 2px #fff,
                0px 0px 2px #fff;
            &:hover {
                border-bottom-color: transparent;
            }
        }
    }

    // 首頁樣式
    &.indexStyle {
        .goHome {
            display: none;
        }
    }

    // 特製螢幕寬度大於1200 && 高度小於750
    @media screen and (min-width: 1200px) and (max-height: 750px) {
        &-lvImg {
            width: 70px;
            border-width: 3px;
            margin: 10px auto 0;
        }
        &-salutatory {
            font-size: 14px;
            padding-bottom: 5px;
            margin-top: 5px;
            &-name {
                strong {
                    font-size: 20px;
                }
            }
        }
        &-content {
            &-item {
                padding: 5px 0px;
                &:last-of-type {
                    padding-bottom: 0;
                }
            }
            &-price {
                font-size: 24px;
                line-height: 1;
            }
        }
        .slick {
            &-slider {
                margin-top: 10px;
            }
            &-dots {
                margin-top: 5px;
                li button {
                    height: 3px;
                }
            }
        }
    }
    @include maxWidth-lg {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        margin-top: 15px;
        font-size: 0px;
        .el-card {
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 250px - 15px);
            box-sizing: border-box;
            &__body {
                position: relative;
                padding-left: 155px;
            }
        }
        &-lvImg {
            position: absolute;
            left: 15px;
            top: 0px;
            width: 125px;
        }
        &-salutatory {
            text-align: left;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 16px;
            &-name {
                display: inline-block;
            }
        }
        &-content {
            font-size: 0px;
            text-align: left;
            &-price {
                display: inline-block;
                vertical-align: middle;
            }
            &-item {
                font-size: 14px;
                display: inline-block;
                box-sizing: border-box;
                vertical-align: middle;
                border-bottom: none;
                border-right: dashed 1px $color-border;
                text-align: center;
                padding: 0px 15px;
                br {
                    display: none;
                }
                &:last-of-type {
                    border-right: none;
                }
            }
        }
        .slick {
            &-slider {
                display: inline-block;
                vertical-align: top;
                width: 250px;
                margin: 0px;
                margin-left: 15px;
            }
        }
        .goHome {
            font-size: 16px;
            // padding-top: 10px;
            width: 250px;
            margin-left: auto;
            margin-right: 0;
        }
    }
    @include maxWidth-md {
        margin-top: 0px;
        .el-card {
            display: block;
            width: auto;
        }
        .goHome {
            display: none;
        }
    }
    @include maxWidth-sm {
        .el-card {
            &__body {
                padding-left: 68px;
            }
        }
        &-lvImg {
            width: 50px;
            border-width: 3px;
            left: 10px;
        }
        &-salutatory {
            padding: 0px 0px 8px;
            margin: 10px 0px;
            font-size: 14px;
            &-name {
                font-size: 16px;
                strong {
                    font-size: 20px;
                }
            }
        }
        &-content {
            margin: 10px 0px;
            &-item {
                display: none;
                border: none;
                font-size: 12px;
                text-align: left;
                padding: 0px;
                &:first-of-type {
                    display: block;
                }
            }
            &-price {
                font-size: 22px;
                line-height: 1;
            }
        }

        // 首頁樣式
        &.indexStyle {
            .el-card {
                &__body {
                    padding-left: 10px;
                }
            }
            .simpleMemberInfo {
                &-lvImg {
                    position: relative;
                    left: 0;
                    width: 110px;
                }
                &-salutatory {
                    text-align: center;
                }
                &-content {
                    &-item {
                        text-align: center;
                        display: block;
                        border-bottom: dashed 1px $color-border;
                        padding: 10px 0px;
                        font-size: 14px;
                        &:first-of-type {
                            padding-top: 0px;
                        }
                        &:last-of-type {
                            border-bottom: none;
                            padding-bottom: 0px;
                        }
                        .breakBlock {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}