<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#003680">
	<meta name="format-detection" content="telephone=no">
	
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="shortcut icon" href="https://event.franklin.com.tw/commonResources/images/favicon.ico">
	<link rel=”apple-touch-icon” sizes=”192×192″ href="https://event.franklin.com.tw/commonResources/images/192x192.png"/>
	<link rel="stylesheet" href="css/style.css?v=20200330">

    <title>投資“定”心丸 | 富蘭克林 國民的基金</title>
	<meta property="og:title" content="投資“定”心丸">
	<meta name="twitter:title" content="投資“定”心丸">

	<meta name="description" content="遇到重大利空，定期定額都應該持續進行甚至加碼扣款！">
	<meta property="og:description" content="遇到重大利空，定期定額都應該持續進行甚至加碼扣款！">
	<meta name="twitter:description" content="遇到重大利空，定期定額都應該持續進行甚至加碼扣款！">

    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="1060402337367331">
	<meta property="og:image:width" content="1200"/>
	<meta property="og:image:height" content="630"/>
	<meta property="og:image" content="https://event.franklin.com.tw/rsp/images/fb.jpg">
	<meta name="twitter:image" content="https://event.franklin.com.tw/rsp/images/fb.jpg">
	<meta name="twitter:card" content="https://event.franklin.com.tw/rsp/images/fb.jpg" >

	<meta property="og:url" content="https://event.franklin.com.tw/rsp/index.html">
	<meta name="twitter:site" content="@franklin_tw">

</head>
<body>

	<div id="content" v-cloak>

		<!-- ie用的遮罩 -->
		<!-- <div class="ieUseMask" v-if="ieUseMask">
			<div class="ieUseMask-text">
				<strong>建議您使用現代化瀏覽器瀏覽</strong><br/><strong>以獲得最佳瀏覽效果</strong><br />(例：Chrome、Firefox)
				<div class="ieUseMask-dot"></div>
			</div>
		</div> -->

		<div id="top"></div>

		<!-- <header class="mobileHeader">
			<div class="container clearfix">
				<div class="mobileHeader-logo">
					<a href="https://www.franklin.com.tw/" target="_blank" title="富蘭克林 國民的基金">
						<img src="images/logo2019.svg" alt="富蘭克林 國民的基金">
					</a>
				</div>
				<div class="mobileHeader-shareLink-area">
					<div class="mobileHeader-shareLink">
						<a href="http://line.naver.jp/ti/p/%40franklin" target="_blank" title="Line">
							<i class="fab fa-line"></i>
						</a>
					</div>
					<div class="mobileHeader-shareLink">
						<a href="https://www.youtube.com/user/franklin0800885888" target="_blank" title="youtube">
							<i class="fab fa-youtube"></i>
						</a>
					</div>
					<div class="mobileHeader-shareLink">
						<a href="https://www.facebook.com/franklin.taiwan/" target="_blank" title="粉絲團">
							<i class="fab fa-facebook-square"></i>
						</a>
					</div>
				</div>
			</div>
		</header> -->

		<!-- header -->
		<header-area active-number="0"></header-area>

		<!-- main -->
		<article class="main">

			<section class="banner">
				<h1 title="數位時代必備基金投資工具 不藏私分享">
					數位時代必備基金投資工具 不藏私分享
				</h1>
				<picture>
					<source media="(max-width: 767px)" srcset="images/banner-mobile.jpg">
					<img src="images/banner-pc.jpg" alt="數位時代必備基金投資工具 不藏私分享" class="banner-kv">
				</picture>
			</section>

			<section class="banner-bottom">
				<div class="container">
					<p>
						任誰也想不到，一株看似微不足道的中國新型冠狀病毒，<br class="pcShow"/>居然會引發全球風險性資產連續暴跌暴漲，美股短短一個星期更觸發四次熔斷機制！
					</p>
					<p>
						各國政府陸續祭出財政或貨幣政策來緩和經濟下行風險，美國聯準會一個月內二度緊急大降息至0~0.25%，<br class="pcShow"/>並推出無限量購債的寬鬆貨幣政策，川普後續端出2兆美元刺激經濟振興方案…
					</p>
				</div>
			</section>

			<section class="item">
				<div class="container">
					<p class="text-center">
						市場如同沒有盡頭的雲霄飛車般震的投資人膽顫心驚，若您只是單純的希望透過投資基金累積人生財富，又不想過著提心吊膽的生活，富蘭克林提供您「定期定額」這顆投資”定”心丸，它最重要的使用說明只有一條：
					</p>
					<p class="focusText text-center">
						<i class="fas fa-quote-left"></i>
						<strong>
							「遇到重大利空，定期定額都應該持續進行甚至加碼扣款！」
						</strong>
						<i class="fas fa-quote-right"></i>
					</p>
					<p class="text-center">
						<a href="concept.html" class="link" title="什麼是定期定額?">
							不知道什麼是定期定額？<br class="mobileShow"/>沒關係，先來新手區逛逛！<i class="fas fa-angle-double-right"></i>
						</a>
					</p>
				</div>
			</section>

			<section class="item grayBg">
				<div class="container">
					<h2 class="tit-type1" title="若歷史重現，你想當哪一種人?">
						若歷史重現，你想當哪一種人?
					</h2>
					<div v-if="kinds == 1">
						<p class="tit-type3 text-center">
							我們以2008年金融危機為例，面對海嘯來臨，投資人可能會有的三種選擇：
						</p>
						<div class="threeKinds">
							<div class="threeKinds-item">
								<p>
									<span class="threeKinds-item-no">A</span>
									因內心極度恐慌選擇認賠出場
								</p>
							</div>
							<div class="threeKinds-item">
								<p>
									<span class="threeKinds-item-no">B</span>
									不論市場漲跌都持續定期定額
								</p>
							</div>
							<div class="threeKinds-item">
								<p>
									<span class="threeKinds-item-no">C</span>
									遇利空勇敢加碼一倍定期定額
								</p>
							</div>
						</div>
						<h2 class="tit-type2" title="短短三年後，會有怎樣不同的結果呢？">
							短短三年後，<br class="mobileShow"/>會有怎樣不同的結果呢？
						</h2>
					</div>
					<div class="kindsArrow">
						<i class="fas fa-chevron-circle-left" @click="kinds > 1 ? kinds-- : kinds=3" v-if="kinds != 1"></i>
						<i class="fas" :class="kinds < 3 ? 'fa-chevron-circle-right' : 'fa-redo-alt'" @click="kinds < 3 ? kinds++ : kinds=1"></i>
					</div>
					<div v-if="kinds == 2">
						<p class="text-center">
							我們試算2007年10月底至2010年10月底，每月定期定額投資5000元在各主要指數的投資人，<br class="pcShow"/>在上述三種情境下最後的累積報酬率。
						</p>
						<p class="focusText text-center">
							<i class="fas fa-quote-left"></i>
							<strong>
								結果發現，持續與加碼定期定額的投資人，<br class="pcShow"/>其報酬率明顯優於遇重大利空即贖回的投資人！
							</strong>
							<i class="fas fa-quote-right"></i>
						</p>
					</div>
					<div v-if="kinds == 3">
						<p class="text-center">
							我們再以同樣區間，實際試算2007年10月底至2010年10月底，每月定期定額投資5000元在美股S&P500指數的投資人，在上述三種情境下最後的累積報酬率。
						</p>
						<p class="focusText text-center">
							<i class="fas fa-quote-left"></i>
							<strong>
								更能明顯的顯示持續(或加碼)定期定額的投資人，<br class="pcShow"/>報酬率表現都優於停扣或是單筆投入的投資人
							</strong>
							<i class="fas fa-quote-right"></i>
						</p>
					</div>
					<div class="kindsChart">
						<div v-if="kinds == 1">
							<img src="images/chart-1.svg" alt="全球股市" class="kindsChart-img">
							<p class="kindsChart-remark">
								資料來源︰彭博資訊，原幣計價自2007/1/1至2013/12/31。指數以MSCI系列指數為主&lt;本文提及之經濟走勢不必然代表本基金之績效，本基金投資風險請詳閱基金公開說明書&gt;
							</p>
						</div>
						<div v-if="kinds == 2">
							<img src="images/chart-2.svg" alt="股市大跌三種模擬情況" class="kindsChart-img">
							<p class="kindsChart-remark">
								資料來源︰理柏資訊，新台幣計價自2007/10/31至2010/10/31。「高點進場」係以2007年10月底為進場點，「李曼兄弟破產後」係以2008/9/30為贖回或加碼的計算時點。定期定額報酬率係理柏資訊假設每月1日扣款，遇例假日則以次一營業日計算。<b style="color: #333;">投資人因不同時間進場，將有不同之投資績效，且過去績效不代表未來績效之保證。</b>投資報酬率以投資報酬除以投資成本簡單計算，暫不考慮時間價值。投資人不能直接投資指數。&lt;以上試算結果並非代表特定基金之投資成果，亦不代表對特定基金之買賣建議。基金不同於指數，可能會有中途清算或合併等情形。投資人無法直接投資指數&gt;
							</p>
						</div>
						<div v-if="kinds == 3">
							<img src="images/chart-3.svg" alt="金融海嘯前後，三種不同定期定額策略的報酬趨勢(以美股為例)" class="kindsChart-img">
							<p class="kindsChart-remark">
								資料來源︰理柏資訊，史坦普500指數，台幣計價，計價自2007/10/31至2010/10/31。「高點進場」係以2007年10月底為進場點，「李曼兄弟破產後」係以2008/9/30為贖回或加碼的計算時點。定期定額報酬率係理柏資訊假設每月1日扣款，遇例假日則以次一營業日計算。<b style="color: #333;">投資人因不同時間進場，將有不同之投資績效，且過去績效不代表未來績效之保證。</b>投資報酬率以投資報酬除以投資成本簡單計算，暫不考慮時間價值。投資人不能直接投資指數。&lt;以上試算結果並非代表特定基金之投資成果，亦不代表對特定基金之買賣建議。基金不同於指數，可能會有中途清算或合併等情形。投資人無法直接投資指數&gt;
							</p>
						</div>
						<img src="images/kinds-man.png" alt="" class="kindsChart-man">
					</div>
				</div>
			</section>

			<section class="item">
				<div class="container">
					<h2 class="tit-type1" title="堅持，是最終能享受微笑的關鍵">
						堅持，是最終能享受微笑的關鍵
					</h2>
					<p class="text-center">
						市場漲多必跌、跌深必漲，漲跌走勢彷彿微笑時的嘴型，這就是所謂的「微笑曲線」。
						<br/>然而，沒有人能精準預測微笑曲線的高低點，而定期定額最大的優勢，在於市場下跌時能用相同成本買到更多單位數，等到市場上漲時就能享有獲利成長機會！
					</p>
					<p class="focusText text-center">
						<i class="fas fa-quote-left"></i>
						<strong>
							定期定額是一種無需選擇進場點的懶人投資法，<br class="pcShow"/>只要堅持持續扣款不中斷，就有機會獲得耐心投資的好回報！
						</strong>
						<i class="fas fa-quote-right"></i>
					</p>
					<div class="chart">
						<h3 class="chart-tit" title="摩根士丹利全球指數走勢">
							<div class="chart-tit-bg">
								摩根士丹利全球指數走勢
							</div>
						</h3>
						<img src="images/chart-4.svg" alt="摩根士丹利全球指數走勢" class="chart-img">
						<p class="chart-remark">
							資料來源: 彭博，截至2015年8月31日。
						</p>
					</div>
					<p class="focusText text-center mobileShow">
						<i class="fas fa-quote-left"></i>
						<strong>
							全球股市在波動中，仍造就了無數個微笑曲線!
						</strong>
						<i class="fas fa-quote-right"></i>
					</p>
					<div class="dividingDot">
						<div></div>
					</div>
					<p class="text-center">
						因為定期定額是一種”以時間換取獲利空間”的投資方式，若試算新興股市成立以來任一個月進場定期定額投資，不難發現投資年期越長累積報酬率越高，正報酬率機率也越高！一旦耐不住寂寞或擋不住恐慌在低點停扣，反而會讓投資功虧一簣！
					</p>
					<p class="focusText text-center">
						<i class="fas fa-quote-left"></i>
						<strong>
							長期投資的耐心與面對震盪的堅定，絕對是定期定額的致勝法門！
						</strong>
						<i class="fas fa-quote-right"></i>
					</p>
					<div class="chart">
						<div class="chart-table">
							<table style="min-width: 600px;">
								<thead>
									<tr>
										<td>定期定額累積</td>
										<td rowspan="2">投資六個月</td>
										<td rowspan="2">投資一年</td>
										<td rowspan="2">投資三年</td>
										<td rowspan="2">投資五年</td>
										<td rowspan="2">投資十年</td>
									</tr>
									<tr>
										<td>報酬率(%)</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>平均值</td>
										<td>3.49%</td>
										<td>6.67%</td>
										<td>18.88%</td>
										<td>31.96%</td>
										<td>60.48%</td>
									</tr>
									<tr>
										<td>最佳報酬率</td>
										<td>37.93%</td>
										<td>53.44%</td>
										<td>94.05%</td>
										<td>171.62%</td>
										<td>263.66%</td>
									</tr>
									<tr>
										<td>最差報酬率</td>
										<td>-39.57%</td>
										<td>-44.36%</td>
										<td>-37.99%</td>
										<td>-32.16%</td>
										<td>-13.57%</td>
									</tr>
									<tr class="focusTr">
										<td>正報酬機率(%)</td>
										<td>65.09%</td>
										<td>70.67%</td>
										<td>79.49%</td>
										<td>83.49%</td>
										<td>94.76%</td>
									</tr>
								</tbody>
							</table>
						</div>
						<p class="chart-remark">
							資料來源︰理柏資訊，台幣計價自1987/12/31至2020/02/29，以MSCI新興市場指數為準。投資期間一年、三年、五年與十年。定期定額報酬率係理柏資訊假設每月1日扣款，遇例假日則以次一營業日計算，每個月投資5000元新台幣之投資成果。<b style="color: #333;">投資人因不同時間進場，將有不同之投資績效，且過去績效不代表未來績效之保證。</b>投資報酬率以累積投資成果除以投資成本簡單計算，暫不考慮時間價值。<b>&lt;以上試算結果並非代表特定基金之投資成果，亦不代表對特定基金之買賣建議。基金不同於指數，可能會有中途清算或合併等情形。投資人無法直接投資指數&gt;&lt;本文提及之經濟走勢不必然代表本基金之績效，本基金投資風險請詳閱基金公開說明書&gt;</b>
						</p>
					</div>
				</div>
			</section>

			<section class="item grayBg">
				<div class="container">
					<h2 class="tit-type1" title="大撿便宜趁現在">
						大撿便宜趁現在
					</h2>
					<p class="text-center">
						定期定額雖然號稱懶人投資法，但仍應選擇長期趨勢向上的市場才能提高投資勝率；波動度較高的股票型基金尤其容易發揮定期定額平均成本的威力！統計過去十年國內各類型基金定期定額投資報酬率，科技、公用事業、美國股票與生技醫療相關股票型基金，堪稱定期定額投資優等生！
					</p>
					<p class="focusText text-center">
						<i class="fas fa-quote-left"></i>
						<strong>
							正為淨值下跌所苦的投資人千萬不要停扣，這正是您加速累積單位數大好機會；對於尚未進場的投資人而言，此刻更是備妥銀彈撿便宜的天賜良機！
						</strong>
						<i class="fas fa-quote-right"></i>
					</p>
					<div class="chart">
						<h3 class="chart-tit" title="國內核備基金定期定額十年，各類基金報酬率平均值(取前十名)與其單筆報酬率">
							<div class="chart-tit-bg">
								國內核備基金定期定額十年，各類基金報酬率平均值(取前十名)與其單筆報酬率
							</div>
						</h3>
						<return-ranking></return-ranking>
						<p class="chart-remark">
							資料來源：理柏資訊台幣計價，統計2010/03/01~2020/02/29完整十年期定期定額報酬率與單筆報酬率。定期定額理柏資訊假設每月扣款5000元，每月1日扣款、遇例假日則以次一營業日計算。例如：十年期之累積投資成果係假設自2010/03/01起（含）每月1日扣款，共計扣款120次之截至2020/02/29止計算而得之歷史報酬，其他期間之累積投資成果以此類推。<b style="color: #333;">投資人因不同時間進場，將有不同之投資績效，且過去績效不代表未來績效之保證。</b>投資報酬率以累積投資成果除以投資成本簡單計算，暫不考慮時間價值。
						</p>
					</div>
					<article class="fundList">
						<fund-list tag='精選績優成長'
									img='https://event.franklin.com.tw/commonBanner/common-prod-img/fund-0799.png'
									url='https://etrade.franklin.com.tw/Trade/Sip/ShowForm/0799'
									name='富蘭克林<br/>美國機會基金'>
						</fund-list>
						<fund-list tag='疫情題材正夯'
									img='https://event.franklin.com.tw/commonBanner/common-prod-img/fund-0796.png'
									url='https://etrade.franklin.com.tw/Trade/Sip/ShowForm/0796'
									name='富蘭克林<br/>生技領航基金'>
						</fund-list>
						<fund-list tag='聚焦數位轉型'
									img='https://event.franklin.com.tw/commonBanner/common-prod-img/fund-0797.png'
									url='https://etrade.franklin.com.tw/Trade/Sip/ShowForm/0797'
									name='富蘭克林<br/>科技基金'>
						</fund-list>
					</article>
					<div class="dividingDot">
						<div></div>
					</div>
					<h2 title="若是手上已經持有美股或新興股債基金的投資人，又該如何面對市場的震盪？" class="tit-type1">
						若是手上已經持有美股或新興股債基金的投資人，<br/>又該如何面對市場的震盪？
					</h2>
					<article class="suggest">
						<section class="suggest-item">
							<div class="suggest-content">
								<h3 class="suggest-tit" title="穩健及保守型投資人，建議續抱等待反彈">
									<div class="suggest-tit-no">1</div>
									穩健及保守型投資人，建議續抱等待反彈
								</h3>
								<p>
									但投資組合中建議可增加<strong>低波動、低相關性</strong>和貨幣高度避險的債券型基金，包括<strong>美國GNMA政府債、伊斯蘭債、以及精選當地政府債的全球政府債券型基金</strong>，其中GNMA政府債更是聯準會此次量化寬鬆的購債標的之一，可望優先受惠並平衡整體投資組合的波動風險。
								</p>
								<article class="fundList">
									<fund-list tag='高債信'
												img='https://event.franklin.com.tw/commonBanner/common-prod-img/fund-0812.png'
												url='https://etrade.franklin.com.tw/Trade/Sip/ShowForm/0812'
												name='富蘭克林坦伯頓<br/>美國政府<span class="fundFocus">(本基金之配息來源可能為本金)</span>'>
									</fund-list>
									<fund-list tag='具潛力'
												img='https://event.franklin.com.tw/commonBanner/common-prod-img/fund-0810.png'
												url='https://etrade.franklin.com.tw/Trade/Sip/ShowForm/0810'
												name='富蘭克林坦伯頓<br/>全球債券基金<span class="fundFocus">(本基金之配息來源可能為本金)</span>'>
									</fund-list>
									<fund-list tag='低波動'
												img='https://event.franklin.com.tw/commonBanner/common-prod-img/fund-islam.png'
												url='https://etrade.franklin.com.tw/Trade/Sip/ShowForm/4008'
												name='富蘭克林坦伯頓<br/>伊斯蘭債券基金<span class="fundFocus">(本基金之配息來源可能為本金)</span>'>
									</fund-list>
								</article>
								<p class="text-center">
									<a href="https://event.franklin.com.tw/early-deployment/index.html" target="_blank" class="link" title="了解更多關於『抗震三傑』">
										了解更多關於『抗震三傑』 <i class="fas fa-angle-double-right"></i>
									</a>
								</p>
							</div>
						</section>
						<section class="suggest-item">
							<div class="suggest-content">
								<h3 class="suggest-tit" title="積極型投資人">
									<div class="suggest-tit-no">2</div>
									積極型投資人
								</h3>
								<p>
									建議可透過提高定期定額扣款金額或增加扣款次數方式加速累積單位數。
								</p>
							</div>
						</section>
						<section class="suggest-item">
							<div class="suggest-content">
								<h3 class="suggest-tit" title="偏好單筆投資者">
									<div class="suggest-tit-no">3</div>
									偏好單筆投資者
								</h3>
								<p>
									衷心建議等待股市底部確立後再進場，或採取單筆分批布局，除了上述三檔抗震基金外，亦可考慮具有評價面優勢的新興市場平衡型基金的長期成長機會。
								</p>
							</div>
						</section>
					</article>
				</div>
			</section>

			<section class="item">
				<div class="container">
					<p class="text-center">
						富蘭克林專為投資人設計新一代的『定期定額自由選』功能，具有三大優勢：
					</p>
					<article class="advantage">
						<section class="advantage-item">
							<div class="advantage-item-top">
								<img src="images/man-1.png" alt="">
							</div>
							<div class="advantage-content">
								<div class="advantage-content-no">
									1
								</div>
								<p>
									從1號到31號都能扣款，操作靈活，不受傳統6/16/26號的限制，方便投資人配合自己的發薪日來做扣款喔。
								</p>
							</div>
						</section>
						<section class="advantage-item">
							<div class="advantage-item-top">
								<img src="images/man-2.png" alt="">
							</div>
							<div class="advantage-content">
								<div class="advantage-content-no">
									2
								</div>
								<p>
									當天下單、當天扣款，不受傳統須提前設定的限制，操作起來更靈活。
								</p>
							</div>
						</section>
						<section class="advantage-item">
							<div class="advantage-item-top">
								<img src="images/man-3.png" alt="">
							</div>
							<div class="advantage-content">
								<div class="advantage-content-no">
									3
								</div>
								<p>
									可用紅利折抵手續費，至最低0.3%，相當於1折的優惠，更減輕投資人每月投資的負擔。
								</p>
							</div>
						</section>
					</article>
					<div class="btnArea twoBtn">
						<div class="btn neumorphismType">
							<a href="https://etrade.franklin.com.tw/Open/Entrance" target="_blank" title="開立國民e帳戶">
								投資理財第一步，開立國民e帳戶 <i class="fas fa-angle-right pcShow"></i>
							</a>
						</div>
						<div class="btn neumorphismType">
							<a href="https://event.franklin.com.tw/regular-rsp/index.html" target="_blank" title="了解更多『定期定額自由選』">
								了解更多『定期定額自由選』 <i class="fas fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div>
			</section>

			<!-- <div id="item1"></div>
			<section class="item">
				<div class="container">
					<p>
						有別於美國公債的GNMA(政府國家抵押協會)保證的房地產抵押債，擁有美國政府信用擔保、流動性佳、受景氣循環影響較小，堪稱穩定資產波動的投資神器，也是資金避風港。<b>富蘭克林坦伯頓美國政府基金<span class="fundFocus">(本基金之配息來源可能為本金)</span></b>主要佈局美國政府債GNMA，將是您在防禦市場波動時的投資首選。
					</p>
				</div>
			</section> -->

		</article>

		<!-- footer -->
		<footer-area></footer-area>
		
		<div class="topBtn">
			<a href="#top" title="返回最上面">
				<span>
					<i class="fas fa-caret-up"></i>
					TOP
				</span>
			</a>
		</div>

		<div class="fixedRightBtn-area clearfix">
			<div class="fixedRightBtn">
				<a href="https://etrade.franklin.com.tw/Trade/LumpSum" target="_blank" title="立即申購">
					立即申購 <i class="fas fa-chevron-right"></i>
				</a>
			</div>
			<div class="fixedRightBtn type2">
				<a href="https://etrade.franklin.com.tw/Open/Entrance" target="_blank" title="立即開戶">
					立即開戶 <i class="fas fa-chevron-right"></i>
				</a>
			</div>
		</div>

		<!-- popup -->
		<!-- <div class="popup" style="display: none;">
			<div class="popup-content">
				<p>
					敬請期待
				</p>
			</div>
		</div> -->

	</div>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap" rel="stylesheet">

	<script src="https://event.franklin.com.tw/commonResources/js/vue-v2.min.js"></script>
	<!-- <script src="https://event.franklin.com.tw/commonResources/js/vue-v2.js"></script> -->
	<script src="https://event.franklin.com.tw/commonResources/js/jquery-v3.4.min.js"></script>
	<script src="https://event.franklin.com.tw/commonResources/js/jquery-migrate-v1.2.1.min.js"></script>
	<!-- <script src="js/wow.min.js"></script> -->
	<!-- <script src="https://event.franklin.com.tw/commonResources/js/ScrollMagic-v2.0.7.min.js"></script>
	<script src="https://event.franklin.com.tw/commonResources/js/debug.addIndicators-v2.0.7.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
	<script src="https://event.franklin.com.tw/commonResources/js/animation.gsap.js"></script> -->
	<script src="js/main.min.js?v=20200406"></script>

	<!-- Google Tag Manager -->
    <!-- <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-586SXP"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript> -->
	<!-- End Google Tag Manager -->

	<!-- Google Tag Manager -->
	<!-- <script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-586SXP');
	</script> -->
	<!-- End Google Tag Manager -->

</body>
</html>