.switchBtn {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 20px -10px;
    li {
        flex: 1;
        text-align: center;
        margin: 0 10px;
        a {
            display: block;
            color: var(--color-primary);
            transition: 0.3s ease all;
            font-size: 20px;
            padding: 6px 10px;
            @extend .itemStyle;
        }
        &.active a,
        a:hover {
            color: #fff;
            background: var(--color-primary);
        }
    }
    @include maxWidth-md {
        margin: 4px -4px;
        li {
            margin: 0 4px;
            a {
                font-size: 18px;
                padding: 0 10px;
            }
        }
    }
}