/*20160429 by kevin*/
@charset "utf-8";
/* CSS Document */

/*------------------------------------------CSS Reset 開始-------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dt, dd, li,
fieldset, form, label, legend,
 caption, tbody, tfoot, thead, th,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*//*修改部分 by kevin 20140822*/
	/*vertical-align: baseline;*//*修改部分 by kevin 20140822*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	/*list-style: none;*//*修改部分 by kevin 20140822 會影響到網邊*/
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	/*border-collapse: collapse;
	border-spacing: 0;*/
}

body{ 
	margin: 0; 
	padding: 0;
	background: #35363A;
	color: #333;
	font-family: Arial, Helvetica, sans-serif, "Century Gothic", "Times New Roman", Times, serif, "微軟正黑體", "新細明體";
	/*overflow-x: hidden;*/
	letter-spacing: 1px;
	-webkit-text-size-adjust: none;/*解決iphone橫平轉豎屏時字變大的問題*/
}

/* ~~ 元素/標籤選取器 ~~ */
ul, ol, dl { /* 由於瀏覽器之間的差異，最佳作法是在清單中使用零寬度的欄位間隔及邊界。為了保持一致，您可以在這裡指定所要的量，或在清單包含的清單項目 (LI、DT、DD) 上指定所要的量。請記住，除非您寫入較為特定的選取器，否則在此執行的作業將重疊顯示到 .nav 清單。 */
	padding: 0;
	margin: 0;
}

/*-----↓↓↓↓新增部分 by kevin 20150108 為了網編↓↓↓↓-----*/
ul, ol {
	padding-left:40px;
}
/*-----↑↑↑↑新增部分 by kevin 20150108 為了網編↑↑↑↑-----*/

/*h1, h2, h3, h4, h5, h6,*/ p {	margin: 0; padding: 0;}

/*img{ display:block;}*//*清除IE7下方溢位*/

a img { /* 這個選取器會移除某些瀏覽器在影像由連結所圍繞時，影像周圍所顯示的預設藍色邊框 */
	border: none;}

.clearfloat { /* 這個類別可放置在 <br /> 或空白的 Div 上，當做接在 #container 內最後一個浮動 Div 後方的最後一個元素 (如果從 #container 移除或取出 #footer) */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
a{ 
	/*color:#ccc;*//*修改部分 by kevin 20140814 會影響到網編區 不宜使用*/
	text-decoration: none;
	outline: none;/* for Firefox Google Chrome  *//*讓a點擊時不會出現框線*/
  	behavior:expression(this.onFocus=this.blur());  /* for IE *//*讓a點擊時不會出現框線*/
}
a:hover { 
	/*color:#ccc;*//*修改部分 by kevin 201450108 太醜了所以刪掉*/
	text-decoration:underline;
	/*opacity:0.9;新增部分 by kevin 20150121*//*會影響到輪播 刪除 by kevin 20150324*/
}
	
a:active, a:focus {/* 這個選取器群組可以讓使用鍵盤導覽的使用者，也和使用滑鼠的使用者一樣擁有相同的滑過體驗。 */
	text-decoration: none; }
	
area {
	outline:none;
}
/*------------------------------------------CSS Reset 結束-------------------------------*/

/*------------------------------------------icon-字型 開始-------------------------------*/
@font-face {
    font-family: 'LigatureSymbols';
    src: url('../icon_fonts/ligature_symbols/LigatureSymbols-2.11.html');
    src: url('../icon_fonts/ligature_symbols/LigatureSymbols-2.11d41d.html?#iefix') format('embedded-opentype'),
         url('../icon_fonts/ligature_symbols/LigatureSymbols-2.11-2.html') format('woff'),
         url('../icon_fonts/ligature_symbols/LigatureSymbols-2.11-3.html') format('truetype'),
         url('../icon_fonts/ligature_symbols/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('../icon_fonts/ligature_symbols/LigatureSymbols-2.11-3.html') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}

.lsf-icon:before {
  content:attr(title);
  /*margin-right:0.3em;*/
}
/*------------------------------------------icon-字型 結束-------------------------------*/


/*Webkit,Opera9.5+,Ie9+ 控制文字選取時的顏色*/
::selection {
	background:#23aae2;
	color:#fff;
}

/*Mozilla Firefox 控制文字選取時的顏色*/
::-moz-selection {
	background:#23aae2;
	color:#fff;
}

.wrap {
	/*width:984px;*/
	margin:0 auto;
	padding: 25px 15px 20px;
}
	@media (max-width: 768px){
		.wrap {
			padding: 25px 15px 20px;
		}
	}

/*-------input reset--------------------------------------------------------*/
input, textarea, select {
	font-family: Arial, Helvetica, sans-serif, "Century Gothic", "Times New Roman", Times, serif, "微軟正黑體", "Microsoft JhengHei", "新細明體";
	font-size:15px;
	border-radius:4px;
}
input[type="text"], .input, input[type="password"], .input, input[type="search"], input[type='file'] {
	margin: 0;
    padding: 0;
    outline: none;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    border: solid 1px #aeaeae;
    width: 100%;
    transition: 0.2s ease all;
    padding: 0px 6px 0px 6px;
    box-sizing: border-box;
}
	input[type="text"]:focus, input[type="password"]:focus, input[type='file']:focus {
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	}

	input[type='file'] {
		font-size:14px;
		background:#fff;
		padding: 6px 6px;
	}
		@-moz-document url-prefix() { 
		  input[type="file"] {
			 height:auto;
		  }
		}
		
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance:none;
	-webkit-border-radius:0px;
	margin:0;
	padding:0;
	outline:none;
	cursor:pointer;
	vertical-align: middle;
	border:none;
	width:48%;
	max-width:160px;
	height:40px;
	background:#337ab7;
	color:#fff;
	border-radius:4px;
	line-height:40px;
	transition: 0.2s ease all;
	letter-spacing:1px;
	box-shadow: 0px -15px 19px rgba(0,0,0,0.15) inset,
				1px 1px 0px rgba(255,255,255,0.5) inset,
				-1px -1px 0px rgba(255,255,255,0.5) inset;
}
	input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
		box-shadow: 0px 0px 15px rgba(0,0,0,0.4) inset;
	}
	input[type="button"] {
		background: #585858;
		border: solid 1px #333;
	}
	input[type="submit"] {
		border: solid 1px #1D5586;
	}
	input[type="reset"] {
		background:#fff;
		color:#333;
		border: solid 1px #8E8E8E;
	}
	
	/*小按鍵*/
	input.s_btn {
		font-size:12px;
		line-height:30px;
		height:30px;
		width: auto;
		padding: 0px 10px;
	}
		@media (max-width: 450px){
			/*小按鍵*/
			input.s_btn {
				height:40px;
				line-height:40px;
				font-size:15px;
				margin:5px 0px;
			}
		}
	
input[type="radio"], input[type="checkbox"] {
	margin:0px;
	padding:0px;
	outline:none;
	vertical-align: baseline;
	cursor:pointer;
}
	input[type="radio"]:focus, input[type="checkbox"]:focus {
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	}
	
textarea {
	margin: 0;
    padding: 0;
    outline: none;
    vertical-align: middle;
    line-height: 24px;
    border: solid 1px #aeaeae;
    width: 100%;
    resize: none;
    height: 117px;
    transition: 0.2s ease all;
    box-sizing: border-box;
    padding: 3px;
}
	textarea:focus {
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	}
	
select {
	margin:0;
	padding:0;
	outline:none;
	vertical-align: middle;
	border: solid 1px #aeaeae;
	padding: 9px 0px 9px 7px;
	transition: 0.2s ease all;
	background:#fff;
	letter-spacing:1px;
	-webkit-appearance: none;	/* Safari 和 Chrome */
       -moz-appearance: none;	/* Firefox */
        -ms-appearance: none;	/*for Internet Explorer*/
         -o-appearance: none;	/*for Opera*/
            appearance: none;
	background: #fff url(../images/select_arrow.png) no-repeat;
	background-size: 13px;
	background-position:right;
	padding-right:18px !important;
	border-radius:3px;
}
	select::-ms-expand {	/*for Internet Explorer*/
		display: none;
	}
	select:focus {
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	}
	
label {
	cursor:pointer;
}
				
/*-------頁次--RWD版 by kevin 20150629------------------------------------------------------------------------*/			
.page_area_rwd {
	text-align:center;
	padding:25px 0px 20px 0px;
}
	.page_left_arrow, .page_right_arrow {
		width:83px;
		display: inline-block;
		vertical-align: top;
	}
		.page_left_arrow a, .page_right_arrow a {
			text-decoration:none;
			display:block;
			transition:0.2s ease all;
			color:#333;
			font-size:15px;
			line-height:38px;
			height:38px;
			box-shadow: 0px -15px 19px rgba(0,0,0,0.15) inset,
					1px 1px 0px rgba(255,255,255,0.5) inset,
					-1px -1px 0px rgba(255,255,255,0.5) inset;
			font-weight:bold;
			text-align:center;
			border-radius:5px;
			background:#fff;
			border: solid 1px #8E8E8E;
		}
			.page_left_arrow a:hover, .page_right_arrow a:hover {
				box-shadow: 0px 0px 15px rgba(0,0,0,0.4) inset;
			}
	.page_select {
		display:inline-block;
		padding:0px 7px;
		vertical-align: top;
	}
		.page_select select {
			width: auto !important;
			font-size:15px !important;
			padding:8px 18px 7px 16px !important;
			border: solid 1px #a4a4a4 !important;
			height:40px !important;
			box-sizing:border-box;
			border-radius:3px;
		}

/*-------浮動top鍵----------------------------------------------------------------------------*/
.top_but {
	position: fixed;
	right:0px;
	bottom:-70px;
}
	.top_but a {
		display:block;
		text-align:center;
		font-size:14px;
		color:#fff;
		line-height:32px;
		transition:0.3s ease all;
		text-decoration:none;
		border-radius: 5px 0px 0px 5px;
		background:#0a1f62;
		padding: 0px 20px;
	}
		.top_but a:hover {
			color:#000;
		}
		
/*-------驗證碼----------------------------------------------------------------------------*/
.captcha {
	line-height: 37px;
    padding: 0px 0px 5px 0px !important;
}
	.captcha input[type="text"] {
		width:80px;
		margin-right:5px;
	}
	.captcha a {
		transition: 0.5s ease all;
		color: #fff;
		background: #333;
		border-radius: 5px;
		padding: 0px 11px;
		font-size: 14px;
		display: inline-block;
		margin: 9px 0px 7px;
		line-height: 29px;
		text-decoration:none;
	}
		.captcha a:hover {
		}
	.captcha img {
		vertical-align:middle;
	}
	.captcha span {
		color:#c30000;
	}

/*-------hack----------------------------------------------------------------------------*/
.hack {
	padding:20px;
}
	.hack_demo {
		float:left;
		width:50%;
		line-height:200px;
		text-align:center;
		box-sizing:border-box;
		border: solid 1px #CCC;
	}
	
 /* IE10、11、edge模式 */
@media all and (-ms-high-contrast:none) {
	.ie10Up {
		color: #fff;
		background:#06F;
	}
	*::-ms-backdrop, .ie10Up {
		color: #fff;
		background:#06F;
	}
}

/*firefox*/
@-moz-document url-prefix() { 
	.firefox {
		color: #fff;
		background: #C00;
	}
}

/*Safari和chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.safariAndChrome {
		color: #fff;
		background: #333;
	}
}

/*-------首頁----------------------------------------------------------------------------*/
.index_body {
	background:#333;
}
/*登入區*/
.login_area {
	margin:0 auto;
	margin-top:130px;
	max-width:390px;
	padding:0px 15px;
	box-sizing:border-box;
}
	.login_tit {
		font-weight:bold;
		text-align:center;
		font-size:28px;
		/*line-height:28px;*/
		color:#fff;
		padding: 0px 0px 8px;
	}
		.lT_en {
			font-weight:100;
			font-size:12px;
			line-height:20px;
			color:#23aae2;
		}
		
	.login_form_area {
		background:#fff;
		border-radius:5px;
		padding:30px;
	}
		.lF_input_list {
			position:relative;
			background: none;
			padding:0px 0px 15px;
		}
			.lF_input_list span {
				position:absolute;
				font-size: 20px;
				color: #ccc;
				top: 10px;
				left: 10px;
			}
			.lF_input_list input[type='text'], .lF_input_list input[type='password'] {
				border: 1px solid #D0D0D0;
				padding-left: 30px;
			}
			
		.lF_captcha {
		}
			.lF_captcha img {
				padding: 13px 0px 0px;
				vertical-align: middle;
			}
			.lF_captcha a {
				font-size: 23px;
				vertical-align: middle;
				line-height: 27px;
				margin: 13px 0px 0px 5px;
				display: inline-block;
				color: #fff;
				background: #23aae2;
				border-radius: 5px;
				padding: 0px 14px;
				text-decoration: none;
				transition:0.3s ease all;
			}
				.lF_captcha a:hover {
					box-shadow: 0px 0px 15px rgba(0,0,0,0.4) inset;
				}
				
		.lF_bottom {
		}
			.lFB_remember {
				float:left;
				font-size:15px;
				line-height:23px;
				padding: 7px 0px 0px;
			}
			.lFB_btn {
				float:right;
				width:50%;
			}
				.lFB_btn input {
					width:100%;
					background: #337ab7;
				}
	
	.login_copyright {
		color: #808080;
		font-size: 12px;
		text-align: center;
		padding: 10px 0px 0px;
		transform: scale(0.8);
		white-space: nowrap;
	}
		.login_copyright a {
			color:#808080;
			text-decoration:none;
		}
			@media (max-width: 350px){
				.login_copyright {
					transform-origin: top left;
				}
			}
			@media (max-height: 570px){
				.login_area {
					margin-top: 55px;
				}
			}

/*-------版頭----------------------------------------------------------------------------*/
.header {
	background:#fff;
}
	.header .wrap {
		padding-top:0px;
		padding-bottom:0px;
		position:relative;
	}
		/*logo*/
		.logo {
			float:left;
			padding:5px 0px;
		}
		
		/*版頭右*/
		.header_right {
			float:right;
		}
			.hR_btn {
				border-left: solid 1px #eaeaea;
				position:relative;
				float:left;
			}
				.hRB_icon {
					font-size: 14px;
					line-height: 48px;
					text-align: center;
					cursor: pointer;
					position:relative;
					transition:0.3s ease all;
					padding: 0px 13px;
				}
					.hR_btn:hover {
						background: #eaeaea;
					}
					.hRB_icon .lsf {
						font-size:20px;
					}
					.hRBI_no {
						font-size: 12px;
						background: #45b6af;
						line-height: 20px;
						padding: 0px 7px;
						border-radius: 20px;
						color:#fff;
						-webkit-animation: shadow 0.1s ease-in-out infinite alternate;/* Safari 和 Chrome */
								animation: shadow 0.5s ease-in-out infinite alternate;
						display:inline-block;
					}
						@-webkit-keyframes shadow {/* Safari 和 Chrome */
							from {
								box-shadow: 0px 0px 0px rgb(255, 255, 255);
							}
							to {
								box-shadow: 0px 0px 19px rgb(255, 255, 255);
							}
						}
						@keyframes shadow {
							from {
								box-shadow: 0px 0px 0px rgb(255, 255, 255);
							}
							to {
								box-shadow: 0px 0px 19px rgb(255, 255, 255);
							}
						}
							.hRBI_no.no2 {
								background:#E91E63;
							}
					
					/*版頭登入資訊*/
					.h_login {
					}
						.h_login .hRB_icon {
							padding-right:20px;
						}
							.h_login .hRB_icon:after {
								position: absolute;
								content: '';
								border: 4px solid;
								border-color: #333 rgba(255,255,255,0);
								border-bottom-width: 0px;
								top: 50%;
								right: 6px;
								margin: -2px 0px 0px;
							}
					
				.hRB_open {
					position:absolute;
					top:100%;
					right:0px;
					width:300px;
					background:#fff;
					font-size:15px;
					line-height:23px;
					border: 1px solid rgba(0,0,0,.15);
					box-shadow:0 6px 12px rgba(0,0,0,.175);
					padding:10px 0px;
					border-radius: 4px;
					pointer-events:none;
					opacity:0;
					transition:0.3s ease all;
					z-index:2;
				}
					.hRB_open:before {
						position:absolute;
						content:'';
						border: solid 8px;
						border-color: #d9d9d9  rgba(255,255,255,0);
						border-top-width:0px;
						top:-8px;
						right:20px;
					}
				.hRB_open.show {
					pointer-events:auto;
					opacity:1;
				}
					.hRBO_top {
						background:#eee;
						padding:10px;
						border-radius:4px 4px 0px 0px;
						margin:-10px 0px 0px;
					}
					
					.hRBO_list {
						padding: 6px 10px;
						border-bottom: solid 1px #E2E2E2;
						transition:0.3s ease all;
					}
					.hRBO_list:last-of-type {
						border-bottom:none;
					}
						.hRBO_list a {
							color:#333;
							text-decoration:none;
							transition:0.3s ease all;
							display:block;
						}
							.hRBOL_time {
								font-size:12px;
								line-height:20px;
								letter-spacing:0px;
							}
							.hRBOL_text {
							}
								/*hover*/
								.hRBO_list:hover {
									background:#eee;
								}
					.hRBO_bottom {
						text-align:center;
						margin:0px 0px -10px;
					}
						.hRBO_bottom a {
							color:#333;
							padding:10px 0px;
							display:block;
						}
						
		/*menu鍵*/
		.mune_btn {
			position:absolute;
			top:0px;
			right:0px;
			display:none;
			padding: 7px 15px;
			font-size: 35px;
			cursor: pointer;
		}
			.mune_btn span {
				color:#333;
			}
						
		/*主按鍵*/
		.navbar {
			background:#23aae2;
			box-shadow: 0px 5px 9px rgba(0,0,0,0.2);
			position:relative;
		}
			.nav {
				float:left;
				color:#fff;
				font-size: 14px;
				line-height: 23px;
				border-right: 1px solid #41bedd;
				cursor:pointer;
				transition:0.3s ease all;
				position:relative;
			}
				.nav > a {
					color:#fff;
					text-decoration:none;
					display:block;
					padding: 6px 20px 6px 12px;
					position:relative;
				}
					.nav > a:after {
						position:absolute;
						content:'';
						border: 4px solid;
						border-color: #fff rgba(255,255,255,0);
						border-bottom-width: 0px;
						top: 50%;
						right: 6px;
						margin: -2px 0px 0px;
					}
					.nav a > span {
						font-size: 22px;
					}
					.nav:hover {
						background-color: #41bedd;
					}
				
					/*第一層選單*/
					.nav_open {
						position: absolute;
						width: 100%;
						left: 0px;
						top: 100%;
						background: rgba(255, 255, 255, 0.92);
						font-size: 14px;
						line-height: 22px;
						border-radius: 0px 0px 4px 4px;
						border: solid 1px #D6D6D6;
						border-top: none;
						pointer-events: none;
						opacity:0;
						transition:0.3s ease all;
						height:0px;
						overflow:hidden;
						z-index: 1;
					}
					.nav_open.show {
						pointer-events: auto;
						opacity:1;
						height:auto;
						overflow:initial;
					}
						.nO_list {
							border-bottom: solid 1px #E8E8E8;
						}
						.nO_list:last-of-type {
							border-bottom: none;
						}
							.nO_list a {
								display:block;
								transition:0.1s ease all;
								text-decoration:none;
								color:#333;
								padding:5px 10px;
							}
								.nO_list:hover > a {
									color:#23AAE2;
								}
									/*有第二層選單*/
									.nO_list.has_child {
										position:relative;
									}
										.nO_list.has_child > a {
											padding-right:20px;
										}
										.nO_list.has_child:after {
											position:absolute;
											content:'+';
											top: 4px;
											right: 3px;
											color: #828282;
											font-size: 16px;
										}
									
									/*第二層選單*/
									.nOL_open {
										background: rgba(0, 0, 0, 0.08);
										box-shadow: 0px 0px 10px rgba(0,0,0,0.1) inset;
										height:0px;
										transition:0.3s ease all;
										overflow:hidden;
									}
									.nOL_open.show {
										height:auto;
										overflow:auto;
									}
										.nOLO_list {
											border-bottom: solid 1px #BBB2B2;
										}
										.nOLO_list:last-of-type {
											border-bottom:none;
										}
											.nOLO_list a {
											}
												.nOLO_list a:hover {
													color:#000;
												}
						
					@media (max-width: 1024px){
						.header {
							border-bottom: solid 3px #23AAE2;
						}
							/*版頭右*/
							.header_right {
								padding: 0px 36px 0px 0px;
							}
							/*主按鍵*/
							.navbar {
								height:0px;
								transition:0.3s ease all;
								overflow:hidden;
								position: fixed;
								top: 0px;
								width: 250px;
								background: rgba(0,0,0,0.8);
								z-index: 2;
							}
							.navbar.show {
								height: 100%;
								overflow-y: scroll;
							}
								.nav {
									float:none;
									border-right:0px;
									font-size: 16px;
									line-height: 24px;
								}
									.nav > a {
										padding:10px 20px 10px 12px;
									}
										.nav_open {
											position:relative;
											font-size:15px;
											line-height:23px;
											background:#fff;
										}
											.nO_list a {
												padding: 11px 10px;
											}
												.nO_list.has_child:after {
													top: 10px;
													right: 6px;
												}
								
							/*menu鍵*/
							.mune_btn {
								display:block;
							}
					}
						@media (max-width: 620px){
							.header {
								border-bottom:none;
							}
							.logo {
								float:none;
							}
							/*版頭右*/
							.header_right {
								float:none;
								padding: 0px;
								margin: 0px -15px;
								background: #23AAE2;
							}
								.hR_btn {
									border-left: solid 1px #44C1F5;
								}
									.hR_btn:hover {
										background:#005071;
									}
									.hRB_icon {
										line-height:40px;
										color: #fff;
									}
										.h_login .hRB_icon:after {
											border-color: #fff rgba(255,255,255,0);
										}
										
									.hRB_open {
										right:auto;
										left:0px;
										width:300px;
									}
										.hRB_open:before {
											right:auto;
											left:20px;
										}
											/*第二個*/
											.hR_btn:nth-of-type(2) .hRB_open {
												left:-70px;
											}
												.hR_btn:nth-of-type(2) .hRB_open:before {
													left: 100px;
												}
												
											/*第三個*/
											.hR_btn:nth-of-type(3) .hRB_open {
												left:-145px;
											}
												.hR_btn:nth-of-type(3) .hRB_open:before {
													left: 183px;
												}
						}

/*-------main----------------------------------------------------------------------------*/
.main {
}
	/*左邊*/
	.left {
		float:left;
		width: 15%;
		box-sizing:border-box;
		padding:20px 0px;
	}
		/*左選單*/
		.left_list_area {
		}
			.left_list {
				font-size: 15px;
				line-height: 23px;
				border-bottom: solid 1px #4C4E54;
			}
				.left_list a {
					display:block;
					text-decoration:none;
					transition:0.1s ease all;
					color:#eee;
					padding: 8px 15px;
				}
					.left_list a:hover {
						background:#27272B;
						color:#fff;
					}
					/*當前模式*/
					.left_list.active > a {
						background:#000;
						color:#fff;
						font-weight:900;
						position:relative;
					}
						.left_list.active > a:after {
							position: absolute;
							content: '';
							border: solid 8px;
							border-color: rgba(255,255,255,0) #fff;
							border-left-width: 0px;
							right: 0px;
							top: 50%;
							margin: -8px 0px 0px;
						}
						
						/*有第二層時*/
						.left_list.has_child {
							position:relative;
						}
							.left_list.has_child:before {
								font-family: 'LigatureSymbols';
								-webkit-text-rendering: optimizeLegibility;
								-moz-text-rendering: optimizeLegibility;
								-ms-text-rendering: optimizeLegibility;
								-o-text-rendering: optimizeLegibility;
								text-rendering: optimizeLegibility;
								-webkit-font-smoothing: antialiased;
								-moz-font-smoothing: antialiased;
								-ms-font-smoothing: antialiased;
								-o-font-smoothing: antialiased;
								font-smoothing: antialiased;
								-webkit-font-feature-settings: "liga" 1, "dlig" 1;
								-moz-font-feature-settings: "liga=1, dlig=1";
								-ms-font-feature-settings: "liga" 1, "dlig" 1;
								-o-font-feature-settings: "liga" 1, "dlig" 1;
								font-feature-settings: "liga" 1, "dlig" 1;
								position:absolute;
								content:'\E120';
								color: #fff;
								top: 7px;
								right: 12px;
								pointer-events:none;
							}
							
							.left_list.has_child > a {
								padding-right: 26px;
							}
								/*第二層*/
								.lL_open {
									display:none;
									background: #fff;
									box-shadow: 0px 0px 9px rgba(0,0,0,0.3) inset;
								}
									.lLO_list {
										border-bottom: solid 1px #ccc;
									}
									.lLO_list:last-of-type {
										border-bottom: none;
									}
										.lLO_list a {
											padding: 8px 15px 8px 32px;
											font-size:14px;
											position:relative;
											color: #333;
										}
											.lLO_list a:before {
												position: absolute;
												content: '';
												height: 1px;
												width: 8px;
												background: #777;
												left: 17px;
												top: 18px;
											}
											
											.lLO_list a:hover, .lLO_list.active a {
												background: rgba(255,255,255,0);
												color: #23AAE2;
											}
	
	/*右邊*/
	.right {
		float:right;
		background:#fff;
		border-radius:0px 0px 0px 5px;
		padding:20px 15px;
		box-sizing:border-box;
		width:85%;
	}
		/*麵包屑*/
		.crumb {
			border-radius:4px;
			background:#eee;
			font-size:14px;
			line-height:22px;
			color:#999;
			padding: 5px 13px;
		}
			.crumb a {
				color:#999;
			}
				.crumb .lsf {
					font-size:18px;
				}
					@media (max-width: 900px){
						/*左邊*/
						.left {
							display:none;
						}
						/*右邊*/
						.right {
							float:none;
							width:auto;
						}
					}
						@media (max-width: 610px){
							/*右邊*/
							.right {
								padding-top:0px;
							}
								/*麵包屑*/
								.crumb {
									display:none;
								}
						}
		
		/*功能鍵區塊*/
		.function_btn_area {
			padding: 10px 0px 0px;
		}

/*-------標題樣式1----------------------------------------------------------------------------*/
.tit_style_1 {
	font-weight: 900;
	font-size: 25px;
	line-height: 33px;
	padding: 15px 0px 0px;
}

/*-------一列一個樣式----------------------------------------------------------------------------*/
.dom {
	padding:25px 0px 0px;
}
	/*一列一個樣式*/
	.dom > div {
		border: 1px solid #ddd;
		border-radius: 4px;
	}
	
	/*一列兩個樣式 依樣大*/
	.dom.two > div {
		float:left;
		width:49%;
	}
		.dom.two > div:nth-of-type(2) {
			float:right;
		}
			.dom.two .table_list_style > table {
				min-width:490px;
			}
		
	/*一列兩個樣式 左邊大*/
	.dom.two.style2 > div {
		width:68%;
	}
		.dom.two.style2 > div:nth-of-type(2) {
			width:30%;
		}
	
	/*一列兩個樣式 右邊大*/
	.dom.two.style3 > div {
		width:30%;
	}
		.dom.two.style3 > div:nth-of-type(2) {
			width:68%;
		}
		
		.dom.two:after {
			content:'';
			clear: both;
			height: 0;
			font-size: 1px;
			line-height: 0px;
			display:block;
		}
		
		/*標題樣式2*/
		.tit_style_2 {
			background: #eee;
			border-radius: 4px 4px 0 0;
			padding: 7px 30px 6px 29px;
			box-sizing: border-box;
			font-weight: 900;
			font-size: 16px;
			line-height: 24px;
			position: relative;
			box-shadow: 0px -13px 19px rgba(0,0,0,0.05) inset;
			text-shadow: 1px 1px 0px #fff;
			text-indent: -19px;
		}
			/*收合鍵*/
			.showHide_btn {
				position:absolute;
				cursor:pointer;
				transition:0.3s ease all;
				top:4px;
				right:4px;
			}
				.showHide_btn span {
					display:block;
					width: 30px;
					text-align: center;
					letter-spacing: 0px;
					line-height: 30px;
					font-weight: 100;
					color: #A7A7A7;
					text-indent: 0px;
				}
				.showHide_btn.active {
					transform: rotate(-180deg);
				}
		
		/*表格樣式*/
		.table_list_style {
			overflow-x:scroll;
			padding:10px;
		}
			.table_list_style > table {
				background:#ddd;
				font-size:14px;
				line-height:22px;
				min-width:780px;
			}
				.table_list_style > table tr {
					background:#fff;
				}
				.table_list_style > table tr:nth-of-type(2n+0) {
					background:#eee;
					background: #f5f5f5;
					background: #EDF1F5;
				}
					.table_list_style > table tr td {
						padding:10px 10px;
						/*text-align:center;*/
						white-space: nowrap;
					}
			
			/*表格內標題樣式*/
			.tbale_tit {
				text-align:center;
				font-weight: bold;
				font-size:15px;
				line-height:23px;
			}
			
			/*表格內功能鍵*/
			.table_s_btn {
				position:relative;
				display:inline-block;
				vertical-align: middle;
			}
				.table_s_btn:before {
					position: absolute;
					content: attr(data-name);
					font-size: 13px;
					line-height: 22px;
					background: #000;
					color: #fff;
					border-radius: 5px;
					top: -25px;
					right: 0px;
					display: none;
					padding: 0px 5px;
				}
				.table_s_btn label {
					display: block;
					color: #fff;
					background: #5A5A5A;
					width: 30px;
					line-height: 30px;
					border-radius: 5px;
					text-decoration: none;
					font-size: 22px;
					letter-spacing:0px;
					box-shadow: 0px -15px 10px rgba(0,0,0,0.5) inset;
					text-align: center;
				}
					.table_s_btn label input {
						display:none;
					}
					.table_s_btn:hover:before {
						display:block;
					}
					
		/*表格-列表樣式*//*搜尋樣式*/
		.table_list_style.search_style {
		}

		/*表格-列表樣式*//*排序樣式*/
		.table_list_style.sequence_style {
			overflow: initial;
		}
			.table_list_style.sequence_style > table {
				min-width: 0px;
			}
				.table_list_style.sequence_style td.sequence_td_2 {
					width: 130px;
				}
					.sequence_select {
						width:100%;
						text-align:left;
						white-space: normal;
					}
						.sequence_select label {
							display:block;
							padding:6px 2px;
						}
						.sequence_select label:nth-of-type(2n+0) {
							background: #f5f5f5;
						}
						
		/*表格-列表樣式*//*表格不要卷軸樣式*/
		.table_no_scroll {
			overflow: initial;
		}
			.table_no_scroll > table {
				min-width:0px;
			}
			/*系統權限樣式*/
			.admin_style {
				padding:10px 0px;
			}
					
						@media (max-width: 680px){
							/*一列兩個樣式*/
							.dom.two > div {
								float:none !important;
								width:auto !important;
							}
								.dom.two > div:nth-of-type(2) {
									margin:25px 0px 0px;
								}
							
							/*表格-列表樣式*//*排序樣式*/
							.table_list_style.sequence_style td.sequence_td_2 {
								width:100px;
							}
						}
							@media (max-width: 450px){
								/*表格內功能鍵*/
								.table_s_btn label {
									line-height:40px;
									width:40px;
								}
								
								/*表格-列表樣式*//*搜尋樣式*/
								.table_list_style.search_style > table {
									min-width:100%;
								}
									.table_list_style.search_style > table tr {
										background:#fff;
									}
										.table_list_style.search_style > table tr td {
											display:block;
											text-align:left;
											border-bottom: dotted 1px #ccc;
										}
								
								/*表格-列表樣式*//*排序樣式*/
								.table_list_style.sequence_style > table tr td {
									display: block;
								}
									.sequence_tit {
										display:none;
									}
									.sequence_select {
									}
										.sequence_select label {
											padding: 5px 2px;
										}
							}
		
		/*表單區*/
		.form_area {
		}
			.form_list {
				background:#F8F8F8;
				border-bottom: #ddd 1px solid;
				box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
				padding:15px;
				font-size: 15px;
				line-height: 23px;
			}
			.form_list:nth-of-type(2n+0) {
				background:#fff;
			}
				.fL_tit {
					float:left;
					width:16%;
					box-sizing: border-box;
					padding: 8px 45px 8px 0px;
					font-weight:bold;
					position:relative;
					color:#000;
				}
					/*必填icon*/
					.requirde_icon {
						display: inline-block;
						border-radius: 3px;
						font-size: 12px;
						color: #fff;
						background: #c13e42;
						line-height: 18px;
						padding: 0px 5px;
						font-weight: 100;
					}
					.fL_tit .requirde_icon {
						position:absolute;
						right: 5px;
						top: 11px;
					}
					
				.fL_info {
					float:right;
					width:84%;
				}
					/*radio和checkbox樣式*/
					label.radioCheckbox {
						margin:0px 10px 0px 0px;
						display: inline-block;
						padding: 8px 0px;
					}
						/*含輸入框樣式*/
						label.radioCheckbox.hasText {
							padding:2px 0px;
						}
							label.radioCheckbox.hasText input[type='text'] {
								display: inline-block;
								width: 120px;
								height:36px;
								line-height:36px;
							}
							
					/*純文字時樣式*/
					.fL_info.noInput {
						padding: 8px 5px;
						box-sizing: border-box;
					}
						/*上傳的檔案 列表*/
						.uploadFile_listArea {
							font-size:0px;
							padding: 0px 0px 10px;
							border-bottom:dotted 1px #c4c4c4;
							margin:0px 0px 10px;
						}
							.uploadFile_list {
								position: relative;
								display: inline-block;
								vertical-align: top;
								box-sizing: border-box;
								width: 49%;
								padding: 8px;
								font-size: 14px;
								line-height: 22px;
								cursor: pointer;
								border: solid 1px #c4c4c4;
								border-radius: 5px;
								background: #fff;
								margin: 0.5vw 0.5vw 0.5vw 0px;
								transition:0.3s ease all;
							}
							.uploadFile_list:nth-of-type(2n+0) {
							}
								.uploadFile_list img {
									width:100%;
								}
								.uploadFile_list input {
									position: absolute;
									top: 5px;
									right: 5px;
									font-size: 12px;
									width: auto;
									height: 27px;
									line-height: 27px;
									padding: 0px 8px;
									background: #fff;
									color: #333;
									display:none;
								}
									/*hover*/
									.uploadFile_list:hover {
										border: solid 1px #23aae2;
										box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
									}
										.uploadFile_list:hover input {
											display:block;
										}
								
								@media (max-width: 900px){
									.fL_tit {
										float: none;
										width: auto;
										padding: 0px 0px 10px;
										font-size: 16px;
									}
										.fL_tit .requirde_icon {
											position:relative;
											right:0px;
											top:-2px;
										}
									.fL_info {
										float:none;
										width:auto;
									}
								}
									@media (max-width: 425px){
										/*上傳的檔案 列表*/
										.uploadFile_list {
											width:100%;
										}
									}
									
/*-------頁籤----------------------------------------------------------------------------*/
/*頁籤 頁籤列表區*/
.tabs_list_area {
	padding:10px 10px 0px;
	margin: 0px 0px -10px;
	font-size: 0px;
	position: relative;
}
	.tabs_list {
		cursor: pointer;
		font-size: 15px;
		line-height: 23px;
		font-weight: bold;
		display: inline-block;
		background: #e0e0e0;
		padding: 7px 20px;
		border-radius: 5px 5px 0px 0px;
		border: solid 1px #a9a9a9;
		border-bottom: none;
		box-shadow: 0px -13px 19px rgba(0,0,0,0.05) inset;
		text-shadow: 1px 1px 0px #fff;
	}
		/*當前模式*/
		.tabs_list.active {
			background: #fff;
			box-shadow: 0px 1px #fff, 0px 13px 19px rgba(0,0,0,0.05) inset;
			border-color: #bdbdbd;
		}
		
		/*手機版顯示*/
		.tabs_list_now {
			display:none;
			cursor: pointer;
			font-size: 15px;
			line-height: 23px;
			font-weight: bold;
			background: #fff;
			padding: 10px 36px 10px 18px;
			border-radius: 5px 5px 0px 0px;
			border: solid 1px #bdbdbd;
			border-bottom: none;
			box-shadow: 0px 1px #fff, 0px 13px 19px rgba(0,0,0,0.05) inset;
			text-shadow: 1px 1px 0px #fff;
			position:relative;
		}
			@media (max-width: 900px){
				.tabs_list_area {
					overflow-x: scroll;
					white-space: nowrap;
					padding: 10px 0px 0px;
					margin: 0px 10px -10px;
				}
			}
				@media (max-width: 450px){
					.tabs_list {
						padding: 10px 20px;
					}
				}

/*頁籤 頁籤內容區*/
.tabs_text_area {
}
	.tabs_text_area > div {
		display:none;
	}
	.tabs_text_area > div:first-of-type {
		display:block;
	}

/*-------按鍵區----------------------------------------------------------------------------*/
.btn_area {
	font-size:0px;
	text-align:center;
	padding:20px 10px;
}
	.btn_area input {
		margin:0px 10px;
	}
		@media (max-width: 600px){
			.btn_area.three input {
				margin: 0px 2%;
				width: 29%;
			}
		}
			@media (max-width: 450px){
				/*兩個按鍵*/
				.btn_area.two input {
					margin:0px;
					float:left;
					max-width:200px;
				}
					.btn_area.two input:nth-of-type(2) {
						float:right;
					}
			}

/*-------訊息----------------------------------------------------------------------------*/
.alert_message {
	border-radius: 5px;
    margin: 20px 0px 0px;
    border: 1px solid;
    padding: 8px 10px 8px 32px;
    font-size: 15px;
    font-weight: bold;
    text-indent: -22px;
	line-height: 23px;
}
	.alert_message .lsf {
		font-weight: 100;
		font-size: 19px;
		width: 17px;
		display: inline-block;
		letter-spacing: 0px;
		text-indent: 0px;
	}
	
	/*警告*/
	.alert_message.warning {
		background:#F5F3BA;
		border-color:#C7A20D;
		color: #796616;
	}
	/*錯誤*/
	.alert_message.error {
		background:#F3D9D9;
		border-color:#D20009;
		color: #7B040F;
	}
	/*成功*/
	.alert_message.success {
		background:#E2F6C5;
		border-color:#79C20D;
		color: #32510F;
	}
						
	
/*-------footer----------------------------------------------------------------------------*/
.footer {
	color:#777;
	font-size:12px;
	line-height:20px;
	text-align: right;
}
	.footer .wrap {
		padding-top:5px;
		padding-bottom:5px;
	}
		.copyright {
		}
			.copyright a {
				text-decoration:none;
				color:#808080;
			}
	

/*平板版*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
@media (min-width: 541px) and  (max-width: 950px){
}


/*手機版*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
@media (max-width: 540px){
}