@charset "UTF-8";
/* 用法範例
    @include maxWidth-xxl {
        margin: 20px;
    }
*/
body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, "Noto Sans TC", sans-serif;
  color: #3a3a3a;
  font-size: 16px;
  line-height: 1.4;
  line-height: 1.6;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  /*強制瀏覽器不要縮放文字*/
  overflow-x: hidden;
}
/*控制文字選取時的顏色*/
::-moz-selection {
  background: #016350;
  color: #fff;
}
::selection {
  background: #016350;
  color: #fff;
}

a {
  text-decoration: none;
}

img {
  outline: none;
  border: none;
}

p {
  margin: 15px 0px;
}

ul,
ol {
  margin: 15px 0px;
  padding-left: 20px;
}
ul li,
ol li {
  padding-bottom: 3px;
}
ul li:last-of-type,
ol li:last-of-type {
  padding-bottom: 0px;
}
ul li ul,
ul li ol,
ol li ul,
ol li ol {
  margin: 3px 0px 0px;
}

.checkbox {
  vertical-align: middle;
  display: inline-block;
}
.checkbox input[type=checkbox] {
  display: none;
}
.checkbox input[type=checkbox]:checked + span {
  background: #fae103;
  border-color: #fae103;
}
.checkbox input[type=checkbox]:checked + span i {
  color: #000;
}
.checkbox span {
  display: block;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px #818181;
  background: #fff;
  border-radius: 3px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  position: relative;
}
.checkbox span i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font-size: 15px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.radio {
  vertical-align: middle;
  display: inline-block;
}
.radio input[type=radio] {
  display: none;
}
.radio input[type=radio]:checked + .radio-fake {
  background: #fae103;
  border-color: #fae103;
}
.radio input[type=radio]:checked + .radio-fake i {
  color: #000;
}
.radio-fake {
  display: block;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px #a4a4a4;
  background: #fff;
  border-radius: 100%;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  position: relative;
}
.radio-fake i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font-size: 13px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.radio-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 17px;
  padding-left: 8px;
}

label {
  cursor: pointer;
}

button {
  border: none;
  color: #fff;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  border-radius: 5px;
  cursor: pointer;
}
button i {
  margin-left: 5px;
}

input,
button {
  outline: none;
  font-family: Arial, "Microsoft JhengHei", "Helvetica Neue", Helvetica, sans-serif;
}

input,
button,
select {
  outline: none;
  font-family: Arial, "Microsoft JhengHei", "Helvetica Neue", Helvetica, sans-serif;
}

.inputStyle, input[type=text], input[type=password], input[type=tel], input[type=search], input[type=number], input[type=email] {
  border-radius: 10px;
  border: solid 1px #c7c7c7;
  background: #fff;
  font-size: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 10px;
  width: 100%;
}

select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 24px 0 10px;
  font-size: 17px;
  line-height: 50px;
  height: 54px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: #fff url(../images/icon-dropdown.png) right center no-repeat;
  background-size: 18px;
  border-radius: 10px;
  border: solid 2px #818181;
}
select::-ms-expand {
  display: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.hide {
  display: none !important;
}

.mobileShow {
  display: none !important;
}

@media screen and (max-width: 991px) {
  .pcShow {
    display: none !important;
  }

  .mobileShow {
    display: initial !important;
  }
}
.fontAwesomeIcon, .slick-arrow {
  display: inline-block;
  font: normal normal normal 14px/1 "Font Awesome 5 Free";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 900;
}

.animated {
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.dividingLine {
  margin: 40px 0px;
  border-bottom: dashed 1px #bbb;
  clear: both;
}

.youtube {
  width: 100%;
  max-width: 600px;
  max-width: 750px;
  margin: 0 auto;
  position: relative;
}
.youtube img {
  width: 100%;
  position: relative;
  display: block;
}
.youtube-content {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.youtube-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 991px) {
  .youtube {
    max-width: 600px;
  }
}

.slick-slide {
  outline: none;
}
.slick-slide a {
  outline: none;
}
.slick-dots {
  list-style: none;
  font-size: 0px;
  text-align: center;
  margin: 0px;
  padding-left: 0px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.slick-dots li {
  padding: 0px 9px;
  display: inline-block;
  vertical-align: top;
}
.slick-dots li button {
  font-size: 0px;
  padding: 0px;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background: #11ffff;
  background: #a5a5a5;
}
.slick-dots li.slick-active button {
  background: #3d6ed0;
}
.slick-arrow {
  font-size: 0px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0px;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  text-align: center;
  color: #959595;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  z-index: 1;
  background: none;
}
.slick-arrow:before {
  font-size: 36px;
  line-height: 1;
}
.slick-arrow:hover {
  color: #007eff;
}
.slick-prev {
  left: 0px;
}
.slick-prev:before {
  content: "";
}
.slick-next {
  right: 0px;
}
.slick-next:before {
  content: "";
}
@media screen and (max-width: 767px) {
  .slick-arrow:before {
    font-size: 26px;
  }
  .slick-prev {
    left: -20px;
  }
  .slick-next {
    right: -20px;
  }
}

#content {
  overflow-x: hidden;
  overflow: hidden;
}

[v-cloak] {
  opacity: 0;
}

.item {
  padding: 50px 0px;
  position: relative;
}
.item .container {
  position: relative;
}
.item.lightBlueBg {
  background: #e1eeff;
}
.item.blue {
  color: #fff;
  background: #005598;
}
.item.blue .tit-type1 {
  color: #ffff02;
}
@media screen and (max-width: 767px) {
  .item {
    padding: 40px 0px;
  }
  .item.gift {
    padding-bottom: 40px;
  }
}

.tit-type1 {
  margin: 15px 0;
  font-size: 42px;
  line-height: 1.2;
  color: #01503d;
}
.tit-type1 .sTit {
  font-size: 20px;
  color: #c76725;
}
.tit-type1 .content {
  display: inline-block;
  border-radius: 20px;
  color: #fff;
  background: #385991;
  padding: 3px 20px;
}
.tit-type1 .fundFocus {
  color: #519e2f;
}
.tit-type1 .hasTag {
  position: relative;
  margin-top: 42px;
  display: inline-block;
}
.tit-type1 .hasTag .tag {
  position: absolute;
  top: -42px;
  left: 0;
  color: #fff;
  background: #005598;
  border-radius: 5px;
  font-size: 21px;
  font-weight: bold;
  padding: 3px 11px;
}
.tit-type1 .hasTag .tag:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 13px;
  border-top: solid 5px #005598;
  border-left: solid 6px transparent;
  border-right: solid 6px transparent;
}
.tit-type2 {
  margin: 15px 0px;
  font-size: 30px;
  line-height: 1.3;
  color: #006a51;
  position: relative;
}
.tit-type2-tag {
  display: inline-block;
  color: #fff;
  background: #005598;
  padding: 3px 10px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 24px;
  border-radius: 15px 0px;
}
.tit-type2 span {
  vertical-align: middle;
}
.tit-type2.arrowIconType {
  padding-left: 32px;
}
.tit-type2.arrowIconType:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  border-left: solid 18px #006a51;
  border-top: solid 11px transparent;
  border-bottom: solid 11px transparent;
}
.tit-type3 {
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.tit-type3 span {
  background: #b42727;
  display: inline-block;
  padding: 3px 5px;
}
@media screen and (max-width: 767px) {
  .tit-type1 {
    font-size: 20px;
  }
  .tit-type1 .sTit {
    font-size: 17px;
  }
  .tit-type1 .hasTag {
    margin-top: 36px;
  }
  .tit-type1 .hasTag .tag {
    top: -35px;
    font-size: 18px;
  }
  .tit-type2 {
    font-size: 18px;
  }
  .tit-type2-tag {
    font-size: 20px;
  }
  .tit-type2.arrowIconType {
    padding-left: 17px;
  }
  .tit-type2.arrowIconType:before {
    top: 5px;
    border-left-width: 10px;
    border-top-width: 5px;
    border-bottom-width: 5px;
  }
}

.text {
  margin-bottom: 15px;
  font-size: 18px;
}
@media screen and (max-width: 991px) {
  .text {
    font-size: 16px;
  }
}

.remark {
  font-size: 14px;
}

.focus {
  color: #133492;
  border-bottom: solid 1px;
}

.focusText {
  color: #005598;
}

.linkText {
  color: #005598;
  border-bottom: solid 1px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.linkText:hover {
  border-bottom-color: transparent;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 0px;
}
.btnArea {
  text-align: center;
  font-size: 0px;
  margin: 10px 0px;
}
.btnArea.twoBtn .btn, .btnArea.threeBtn .btn {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 50%;
}
.btnArea.threeBtn .btn {
  max-width: 33.3333333333%;
}
.btn a,
.btn button {
  font-size: 20px;
  display: block;
  color: #fff;
  line-height: 30px;
  border-radius: 100px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 11px 47px;
  background: #00694f;
  overflow: hidden;
  position: relative;
  font-weight: bold;
}
.btn a:before,
.btn button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.1);
  width: 0px;
  height: 0px;
  -webkit-transition: 0.6s ease-in-out all;
  transition: 0.6s ease-in-out all;
}
.btn a:hover,
.btn button:hover {
  -webkit-box-shadow: 0px 15px 10px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 15px 10px -5px rgba(0, 0, 0, 0.3);
}
.btn a:hover:before,
.btn button:hover:before {
  width: 800px;
  height: 800px;
}
.btn a span,
.btn button span {
  vertical-align: middle;
}
.btn a img,
.btn button img {
  vertical-align: middle;
}
.btn.twoLines a,
.btn.twoLines button {
  line-height: 1.2;
  padding-top: 16px;
  padding-bottom: 16px;
}
.btn.type2 a,
.btn.type2 button {
  background: #eeb211;
  text-shadow: 1px 1px 0px #9d4d08;
}
.btn.type3 a,
.btn.type3 button {
  background: #00a3e0;
}
.btn.red a,
.btn.red button {
  background: #ff0000;
  text-shadow: none !important;
}
.btn.yellow a,
.btn.yellow button {
  background: #ffff02;
  color: #000;
  text-shadow: none !important;
}
.btn.disable a,
.btn.disable button {
  background: #fff;
  color: rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.21);
  cursor: auto;
}
.btn.disable a:hover,
.btn.disable button:hover {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.21);
}
.btn.fixedWidth {
  width: 250px;
}
.btn-remark {
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
}
.btn.white a,
.btn.white button {
  background: none;
  color: #fff;
  border: solid 1px;
}
@media screen and (max-width: 767px) {
  .btn {
    width: 100%;
  }
  .btnArea.twoBtn .btn, .btnArea.threeBtn .btn {
    max-width: none;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 0px;
    padding-right: 0px;
  }
  .btn a,
.btn button {
    font-size: 17px;
    line-height: 1.4;
    width: 100%;
  }
  .btn-remark {
    padding: 5px 0px 10px;
  }
}

.normal a,
.normal button {
  font-size: 24px;
  line-height: 55px;
  padding: 0px 25px;
  border-radius: 18px;
}
@media screen and (max-width: 767px) {
  .normal a,
.normal button {
    font-size: 17px;
    line-height: 45px;
    padding: 0px 10px;
  }
}

.sBtn a,
.sBtn button {
  font-size: 18px;
  line-height: 38px;
  padding: 0px 25px;
}
@media screen and (max-width: 767px) {
  .sBtn a,
.sBtn button {
    font-size: 16px;
    line-height: 30px;
    padding: 0px 12px;
  }
}

.bigBtn a,
.bigBtn button {
  font-size: 36px;
  padding: 29px 98px;
}
@media screen and (max-width: 1199px) {
  .bigBtn a, .bigBtn button {
    padding: 29px 40px;
  }
}
@media screen and (max-width: 991px) {
  .bigBtn a,
.bigBtn button {
    font-size: 26px;
  }
}
@media screen and (max-width: 767px) {
  .bigBtn a,
.bigBtn button {
    font-size: 22px;
    padding: 20px 20px;
  }
  .bigBtn a img,
.bigBtn button img {
    width: 40px;
  }
}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 50;
}
.modal-bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 700px;
  box-sizing: border-box;
}
.modal-container .closeBtn {
  z-index: 2;
}
.modal-container-infoArea {
  background: white;
  border-radius: 8px;
  padding: 15px 30px;
  -webkit-box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.54);
          box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.54);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 80vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.modal-container-text {
  font-size: 17px;
  line-height: 30px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.modal-container-text .focusText {
  color: #ab3533;
  font-size: 20px;
}
.modal-container-btnArea {
  margin-top: 30px;
  text-align: center;
  font-size: 0px;
}
.modal-container-btn {
  display: inline-block;
  padding: 0px 24px;
}
.modal-container.fixedHeight {
  top: 10vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.modal-container.fixedHeight > div {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 80vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.modal-youtube {
  position: relative;
  margin: 0 auto;
  padding-bottom: 56.25%;
}
.modal-youtube iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.modal.show {
  display: block;
}
.modal-enter-active, .modal-leave-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.modal-enter, .modal-leave-to {
  opacity: 0;
}
.modal.md .modal-container {
  max-width: 450px;
}
@media screen and (max-width: 991px) {
  .modal-container {
    width: 90%;
  }
  .modal-container-infoArea {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px 15px;
  }
  .modal-container .tit:before, .modal-container .tit:after {
    display: none;
  }
  .modal-container .tit > strong {
    max-width: none;
  }
}
@media screen and (max-width: 767px) {
  .modal-container-infoArea {
    border-width: 4px;
  }
  .modal-container-btn {
    margin-bottom: 15px;
  }
}

.openModal {
  cursor: pointer;
}

.closeBtn {
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border-radius: 100%;
  color: #fff;
  background: #3d6ed0;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(61, 110, 208, 0.3);
          box-shadow: 0px 0px 0px 4px rgba(61, 110, 208, 0.3);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.closeBtn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 0%;
  height: 0%;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  border-radius: 100%;
}
.closeBtn i {
  position: relative;
}
.closeBtn:hover:before {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .closeBtn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }
}

.chart {
  margin: 15px 0px;
}
.chart-area {
  font-size: 0px;
  text-align: center;
  margin: 15px -30px;
}
.chart-area .chart {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  padding: 0px 30px;
  margin: 0px;
}
.chart-area.threeChart .chart {
  width: 33.3333333333%;
}
.chart-tit {
  font-size: 17px;
  font-weight: normal;
  margin: 10px 0px;
  text-align: center;
  color: #006a51;
}
.chart-tit.type2 {
  font-size: 24px;
}
.chart-tit.type2:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: #005598;
  width: 8px;
  height: 26px;
  border-radius: 4px;
  position: relative;
  top: -3px;
}
.chart-tit-bg {
  background: #ececec;
  border-radius: 5px;
  display: inline-block;
  padding: 3px 10px;
}
.chart-img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.chart-table {
  margin: 10px 0px;
  overflow-x: auto;
}
.chart-table table {
  width: 100%;
  border-spacing: 0px;
  font-size: 18px;
}
.chart-table table thead tr {
  background: #00a3e0;
}
.chart-table table thead tr td {
  color: #fff;
  font-weight: bold;
}
.chart-table table tr {
  background: #fff;
}
.chart-table table tr td {
  text-align: center;
  color: #353535;
  padding: 12px 5px;
}
.chart-table table tr:nth-of-type(2n+0) {
  background: #e9f5ff;
}
.chart-table table tr.focusTr {
  background: #fff8e8;
}
.chart-remark {
  font-size: 14px;
  margin: 20px 0px 10px;
  color: #474747;
}
.chart-chartAndText {
  font-size: 0px;
}
.chart-chartAndText .chart,
.chart-chartAndText .chartText {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
}
.chart-chartAndText .chart-img {
  margin-top: 0px;
}
.chart-chartAndText .chartText {
  padding-left: 12px;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .chart-area {
    margin: 15px 0px;
  }
  .chart-area .chart {
    display: block;
    padding: 0px;
    width: auto;
    margin: 15px 0px;
  }
  .chart-area .chart + .chart {
    margin-top: 25px;
  }
  .chart-area.threeChart .chart {
    width: auto;
  }
  .chart-tit {
    font-size: 17px;
  }
  .chart-tit.type2 {
    font-size: 17px;
  }
  .chart-tit.type2:before {
    width: 6px;
    height: 17px;
    top: -1px;
  }
  .chart-table table {
    font-size: 13px;
  }
  .chart-chartAndText .chart,
.chart-chartAndText .chartText {
    display: block;
    width: auto;
  }
  .chart-chartAndText .chartText {
    padding-left: 0px;
    font-size: 16px;
  }
  .chart-remark {
    font-size: 12px;
  }
}

.row {
  margin: 5px -10px;
  font-size: 0px;
  text-align: center;
}

[class*=col-] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  text-align: left;
}
.col-1 {
  width: 4.1666666667%;
}
.col-2 {
  width: 8.3333333333%;
}
.col-3 {
  width: 12.5%;
}
.col-4 {
  width: 16.6666666667%;
}
.col-5 {
  width: 20.8333333333%;
}
.col-6 {
  width: 25%;
}
.col-7 {
  width: 29.1666666667%;
}
.col-8 {
  width: 33.3333333333%;
}
.col-9 {
  width: 37.5%;
}
.col-10 {
  width: 41.6666666667%;
}
.col-11 {
  width: 45.8333333333%;
}
.col-12 {
  width: 50%;
}
.col-13 {
  width: 54.1666666667%;
}
.col-14 {
  width: 58.3333333333%;
}
.col-15 {
  width: 62.5%;
}
.col-16 {
  width: 66.6666666667%;
}
.col-17 {
  width: 70.8333333333%;
}
.col-18 {
  width: 75%;
}
.col-19 {
  width: 79.1666666667%;
}
.col-20 {
  width: 83.3333333333%;
}
.col-21 {
  width: 87.5%;
}
.col-22 {
  width: 91.6666666667%;
}
.col-23 {
  width: 95.8333333333%;
}
.col-24 {
  width: 100%;
}
@media screen and (max-width: 1399px) {
  .col-xl-1 {
    width: 4.1666666667%;
  }
  .col-xl-2 {
    width: 8.3333333333%;
  }
  .col-xl-3 {
    width: 12.5%;
  }
  .col-xl-4 {
    width: 16.6666666667%;
  }
  .col-xl-5 {
    width: 20.8333333333%;
  }
  .col-xl-6 {
    width: 25%;
  }
  .col-xl-7 {
    width: 29.1666666667%;
  }
  .col-xl-8 {
    width: 33.3333333333%;
  }
  .col-xl-9 {
    width: 37.5%;
  }
  .col-xl-10 {
    width: 41.6666666667%;
  }
  .col-xl-11 {
    width: 45.8333333333%;
  }
  .col-xl-12 {
    width: 50%;
  }
  .col-xl-13 {
    width: 54.1666666667%;
  }
  .col-xl-14 {
    width: 58.3333333333%;
  }
  .col-xl-15 {
    width: 62.5%;
  }
  .col-xl-16 {
    width: 66.6666666667%;
  }
  .col-xl-17 {
    width: 70.8333333333%;
  }
  .col-xl-18 {
    width: 75%;
  }
  .col-xl-19 {
    width: 79.1666666667%;
  }
  .col-xl-20 {
    width: 83.3333333333%;
  }
  .col-xl-21 {
    width: 87.5%;
  }
  .col-xl-22 {
    width: 91.6666666667%;
  }
  .col-xl-23 {
    width: 95.8333333333%;
  }
  .col-xl-24 {
    width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .col-lg-1 {
    width: 4.1666666667%;
  }
  .col-lg-2 {
    width: 8.3333333333%;
  }
  .col-lg-3 {
    width: 12.5%;
  }
  .col-lg-4 {
    width: 16.6666666667%;
  }
  .col-lg-5 {
    width: 20.8333333333%;
  }
  .col-lg-6 {
    width: 25%;
  }
  .col-lg-7 {
    width: 29.1666666667%;
  }
  .col-lg-8 {
    width: 33.3333333333%;
  }
  .col-lg-9 {
    width: 37.5%;
  }
  .col-lg-10 {
    width: 41.6666666667%;
  }
  .col-lg-11 {
    width: 45.8333333333%;
  }
  .col-lg-12 {
    width: 50%;
  }
  .col-lg-13 {
    width: 54.1666666667%;
  }
  .col-lg-14 {
    width: 58.3333333333%;
  }
  .col-lg-15 {
    width: 62.5%;
  }
  .col-lg-16 {
    width: 66.6666666667%;
  }
  .col-lg-17 {
    width: 70.8333333333%;
  }
  .col-lg-18 {
    width: 75%;
  }
  .col-lg-19 {
    width: 79.1666666667%;
  }
  .col-lg-20 {
    width: 83.3333333333%;
  }
  .col-lg-21 {
    width: 87.5%;
  }
  .col-lg-22 {
    width: 91.6666666667%;
  }
  .col-lg-23 {
    width: 95.8333333333%;
  }
  .col-lg-24 {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .col-md-1 {
    width: 4.1666666667%;
  }
  .col-md-2 {
    width: 8.3333333333%;
  }
  .col-md-3 {
    width: 12.5%;
  }
  .col-md-4 {
    width: 16.6666666667%;
  }
  .col-md-5 {
    width: 20.8333333333%;
  }
  .col-md-6 {
    width: 25%;
  }
  .col-md-7 {
    width: 29.1666666667%;
  }
  .col-md-8 {
    width: 33.3333333333%;
  }
  .col-md-9 {
    width: 37.5%;
  }
  .col-md-10 {
    width: 41.6666666667%;
  }
  .col-md-11 {
    width: 45.8333333333%;
  }
  .col-md-12 {
    width: 50%;
  }
  .col-md-13 {
    width: 54.1666666667%;
  }
  .col-md-14 {
    width: 58.3333333333%;
  }
  .col-md-15 {
    width: 62.5%;
  }
  .col-md-16 {
    width: 66.6666666667%;
  }
  .col-md-17 {
    width: 70.8333333333%;
  }
  .col-md-18 {
    width: 75%;
  }
  .col-md-19 {
    width: 79.1666666667%;
  }
  .col-md-20 {
    width: 83.3333333333%;
  }
  .col-md-21 {
    width: 87.5%;
  }
  .col-md-22 {
    width: 91.6666666667%;
  }
  .col-md-23 {
    width: 95.8333333333%;
  }
  .col-md-24 {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .col-sm-1 {
    width: 4.1666666667%;
  }
  .col-sm-2 {
    width: 8.3333333333%;
  }
  .col-sm-3 {
    width: 12.5%;
  }
  .col-sm-4 {
    width: 16.6666666667%;
  }
  .col-sm-5 {
    width: 20.8333333333%;
  }
  .col-sm-6 {
    width: 25%;
  }
  .col-sm-7 {
    width: 29.1666666667%;
  }
  .col-sm-8 {
    width: 33.3333333333%;
  }
  .col-sm-9 {
    width: 37.5%;
  }
  .col-sm-10 {
    width: 41.6666666667%;
  }
  .col-sm-11 {
    width: 45.8333333333%;
  }
  .col-sm-12 {
    width: 50%;
  }
  .col-sm-13 {
    width: 54.1666666667%;
  }
  .col-sm-14 {
    width: 58.3333333333%;
  }
  .col-sm-15 {
    width: 62.5%;
  }
  .col-sm-16 {
    width: 66.6666666667%;
  }
  .col-sm-17 {
    width: 70.8333333333%;
  }
  .col-sm-18 {
    width: 75%;
  }
  .col-sm-19 {
    width: 79.1666666667%;
  }
  .col-sm-20 {
    width: 83.3333333333%;
  }
  .col-sm-21 {
    width: 87.5%;
  }
  .col-sm-22 {
    width: 91.6666666667%;
  }
  .col-sm-23 {
    width: 95.8333333333%;
  }
  .col-sm-24 {
    width: 100%;
  }
}
@media screen and (max-width: 359px) {
  .col-xs-1 {
    width: 4.1666666667%;
  }
  .col-xs-2 {
    width: 8.3333333333%;
  }
  .col-xs-3 {
    width: 12.5%;
  }
  .col-xs-4 {
    width: 16.6666666667%;
  }
  .col-xs-5 {
    width: 20.8333333333%;
  }
  .col-xs-6 {
    width: 25%;
  }
  .col-xs-7 {
    width: 29.1666666667%;
  }
  .col-xs-8 {
    width: 33.3333333333%;
  }
  .col-xs-9 {
    width: 37.5%;
  }
  .col-xs-10 {
    width: 41.6666666667%;
  }
  .col-xs-11 {
    width: 45.8333333333%;
  }
  .col-xs-12 {
    width: 50%;
  }
  .col-xs-13 {
    width: 54.1666666667%;
  }
  .col-xs-14 {
    width: 58.3333333333%;
  }
  .col-xs-15 {
    width: 62.5%;
  }
  .col-xs-16 {
    width: 66.6666666667%;
  }
  .col-xs-17 {
    width: 70.8333333333%;
  }
  .col-xs-18 {
    width: 75%;
  }
  .col-xs-19 {
    width: 79.1666666667%;
  }
  .col-xs-20 {
    width: 83.3333333333%;
  }
  .col-xs-21 {
    width: 87.5%;
  }
  .col-xs-22 {
    width: 91.6666666667%;
  }
  .col-xs-23 {
    width: 95.8333333333%;
  }
  .col-xs-24 {
    width: 100%;
  }
}

.margin-top-0 {
  margin-top: 0px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-35 {
  margin-top: 35px;
}
.margin-top-40 {
  margin-top: 40px;
}
@media screen and (max-width: 1599px) {
  .margin-top-xxl-0 {
    margin-top: 0px;
  }
  .margin-top-xxl-5 {
    margin-top: 5px;
  }
  .margin-top-xxl-10 {
    margin-top: 10px;
  }
  .margin-top-xxl-15 {
    margin-top: 15px;
  }
  .margin-top-xxl-20 {
    margin-top: 20px;
  }
  .margin-top-xxl-25 {
    margin-top: 25px;
  }
  .margin-top-xxl-30 {
    margin-top: 30px;
  }
  .margin-top-xxl-35 {
    margin-top: 35px;
  }
  .margin-top-xxl-40 {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1399px) {
  .margin-top-xl-0 {
    margin-top: 0px;
  }
  .margin-top-xl-5 {
    margin-top: 5px;
  }
  .margin-top-xl-10 {
    margin-top: 10px;
  }
  .margin-top-xl-15 {
    margin-top: 15px;
  }
  .margin-top-xl-20 {
    margin-top: 20px;
  }
  .margin-top-xl-25 {
    margin-top: 25px;
  }
  .margin-top-xl-30 {
    margin-top: 30px;
  }
  .margin-top-xl-35 {
    margin-top: 35px;
  }
  .margin-top-xl-40 {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1199px) {
  .margin-top-lg-0 {
    margin-top: 0px;
  }
  .margin-top-lg-5 {
    margin-top: 5px;
  }
  .margin-top-lg-10 {
    margin-top: 10px;
  }
  .margin-top-lg-15 {
    margin-top: 15px;
  }
  .margin-top-lg-20 {
    margin-top: 20px;
  }
  .margin-top-lg-25 {
    margin-top: 25px;
  }
  .margin-top-lg-30 {
    margin-top: 30px;
  }
  .margin-top-lg-35 {
    margin-top: 35px;
  }
  .margin-top-lg-40 {
    margin-top: 40px;
  }
}
@media screen and (max-width: 991px) {
  .margin-top-md-0 {
    margin-top: 0px;
  }
  .margin-top-md-5 {
    margin-top: 5px;
  }
  .margin-top-md-10 {
    margin-top: 10px;
  }
  .margin-top-md-15 {
    margin-top: 15px;
  }
  .margin-top-md-20 {
    margin-top: 20px;
  }
  .margin-top-md-25 {
    margin-top: 25px;
  }
  .margin-top-md-30 {
    margin-top: 30px;
  }
  .margin-top-md-35 {
    margin-top: 35px;
  }
  .margin-top-md-40 {
    margin-top: 40px;
  }
}
@media screen and (max-width: 767px) {
  .margin-top-sm-0 {
    margin-top: 0px;
  }
  .margin-top-sm-5 {
    margin-top: 5px;
  }
  .margin-top-sm-10 {
    margin-top: 10px;
  }
  .margin-top-sm-15 {
    margin-top: 15px;
  }
  .margin-top-sm-20 {
    margin-top: 20px;
  }
  .margin-top-sm-25 {
    margin-top: 25px;
  }
  .margin-top-sm-30 {
    margin-top: 30px;
  }
  .margin-top-sm-35 {
    margin-top: 35px;
  }
  .margin-top-sm-40 {
    margin-top: 40px;
  }
}
@media screen and (max-width: 359px) {
  .margin-top-xs-0 {
    margin-top: 0px;
  }
  .margin-top-xs-5 {
    margin-top: 5px;
  }
  .margin-top-xs-10 {
    margin-top: 10px;
  }
  .margin-top-xs-15 {
    margin-top: 15px;
  }
  .margin-top-xs-20 {
    margin-top: 20px;
  }
  .margin-top-xs-25 {
    margin-top: 25px;
  }
  .margin-top-xs-30 {
    margin-top: 30px;
  }
  .margin-top-xs-35 {
    margin-top: 35px;
  }
  .margin-top-xs-40 {
    margin-top: 40px;
  }
}
.margin-right-0 {
  margin-right: 0px;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-15 {
  margin-right: 15px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-right-25 {
  margin-right: 25px;
}
.margin-right-30 {
  margin-right: 30px;
}
.margin-right-35 {
  margin-right: 35px;
}
.margin-right-40 {
  margin-right: 40px;
}
@media screen and (max-width: 1599px) {
  .margin-right-xxl-0 {
    margin-right: 0px;
  }
  .margin-right-xxl-5 {
    margin-right: 5px;
  }
  .margin-right-xxl-10 {
    margin-right: 10px;
  }
  .margin-right-xxl-15 {
    margin-right: 15px;
  }
  .margin-right-xxl-20 {
    margin-right: 20px;
  }
  .margin-right-xxl-25 {
    margin-right: 25px;
  }
  .margin-right-xxl-30 {
    margin-right: 30px;
  }
  .margin-right-xxl-35 {
    margin-right: 35px;
  }
  .margin-right-xxl-40 {
    margin-right: 40px;
  }
}
@media screen and (max-width: 1399px) {
  .margin-right-xl-0 {
    margin-right: 0px;
  }
  .margin-right-xl-5 {
    margin-right: 5px;
  }
  .margin-right-xl-10 {
    margin-right: 10px;
  }
  .margin-right-xl-15 {
    margin-right: 15px;
  }
  .margin-right-xl-20 {
    margin-right: 20px;
  }
  .margin-right-xl-25 {
    margin-right: 25px;
  }
  .margin-right-xl-30 {
    margin-right: 30px;
  }
  .margin-right-xl-35 {
    margin-right: 35px;
  }
  .margin-right-xl-40 {
    margin-right: 40px;
  }
}
@media screen and (max-width: 1199px) {
  .margin-right-lg-0 {
    margin-right: 0px;
  }
  .margin-right-lg-5 {
    margin-right: 5px;
  }
  .margin-right-lg-10 {
    margin-right: 10px;
  }
  .margin-right-lg-15 {
    margin-right: 15px;
  }
  .margin-right-lg-20 {
    margin-right: 20px;
  }
  .margin-right-lg-25 {
    margin-right: 25px;
  }
  .margin-right-lg-30 {
    margin-right: 30px;
  }
  .margin-right-lg-35 {
    margin-right: 35px;
  }
  .margin-right-lg-40 {
    margin-right: 40px;
  }
}
@media screen and (max-width: 991px) {
  .margin-right-md-0 {
    margin-right: 0px;
  }
  .margin-right-md-5 {
    margin-right: 5px;
  }
  .margin-right-md-10 {
    margin-right: 10px;
  }
  .margin-right-md-15 {
    margin-right: 15px;
  }
  .margin-right-md-20 {
    margin-right: 20px;
  }
  .margin-right-md-25 {
    margin-right: 25px;
  }
  .margin-right-md-30 {
    margin-right: 30px;
  }
  .margin-right-md-35 {
    margin-right: 35px;
  }
  .margin-right-md-40 {
    margin-right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .margin-right-sm-0 {
    margin-right: 0px;
  }
  .margin-right-sm-5 {
    margin-right: 5px;
  }
  .margin-right-sm-10 {
    margin-right: 10px;
  }
  .margin-right-sm-15 {
    margin-right: 15px;
  }
  .margin-right-sm-20 {
    margin-right: 20px;
  }
  .margin-right-sm-25 {
    margin-right: 25px;
  }
  .margin-right-sm-30 {
    margin-right: 30px;
  }
  .margin-right-sm-35 {
    margin-right: 35px;
  }
  .margin-right-sm-40 {
    margin-right: 40px;
  }
}
@media screen and (max-width: 359px) {
  .margin-right-xs-0 {
    margin-right: 0px;
  }
  .margin-right-xs-5 {
    margin-right: 5px;
  }
  .margin-right-xs-10 {
    margin-right: 10px;
  }
  .margin-right-xs-15 {
    margin-right: 15px;
  }
  .margin-right-xs-20 {
    margin-right: 20px;
  }
  .margin-right-xs-25 {
    margin-right: 25px;
  }
  .margin-right-xs-30 {
    margin-right: 30px;
  }
  .margin-right-xs-35 {
    margin-right: 35px;
  }
  .margin-right-xs-40 {
    margin-right: 40px;
  }
}
.margin-bottom-0 {
  margin-bottom: 0px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-35 {
  margin-bottom: 35px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
@media screen and (max-width: 1599px) {
  .margin-bottom-xxl-0 {
    margin-bottom: 0px;
  }
  .margin-bottom-xxl-5 {
    margin-bottom: 5px;
  }
  .margin-bottom-xxl-10 {
    margin-bottom: 10px;
  }
  .margin-bottom-xxl-15 {
    margin-bottom: 15px;
  }
  .margin-bottom-xxl-20 {
    margin-bottom: 20px;
  }
  .margin-bottom-xxl-25 {
    margin-bottom: 25px;
  }
  .margin-bottom-xxl-30 {
    margin-bottom: 30px;
  }
  .margin-bottom-xxl-35 {
    margin-bottom: 35px;
  }
  .margin-bottom-xxl-40 {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1399px) {
  .margin-bottom-xl-0 {
    margin-bottom: 0px;
  }
  .margin-bottom-xl-5 {
    margin-bottom: 5px;
  }
  .margin-bottom-xl-10 {
    margin-bottom: 10px;
  }
  .margin-bottom-xl-15 {
    margin-bottom: 15px;
  }
  .margin-bottom-xl-20 {
    margin-bottom: 20px;
  }
  .margin-bottom-xl-25 {
    margin-bottom: 25px;
  }
  .margin-bottom-xl-30 {
    margin-bottom: 30px;
  }
  .margin-bottom-xl-35 {
    margin-bottom: 35px;
  }
  .margin-bottom-xl-40 {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1199px) {
  .margin-bottom-lg-0 {
    margin-bottom: 0px;
  }
  .margin-bottom-lg-5 {
    margin-bottom: 5px;
  }
  .margin-bottom-lg-10 {
    margin-bottom: 10px;
  }
  .margin-bottom-lg-15 {
    margin-bottom: 15px;
  }
  .margin-bottom-lg-20 {
    margin-bottom: 20px;
  }
  .margin-bottom-lg-25 {
    margin-bottom: 25px;
  }
  .margin-bottom-lg-30 {
    margin-bottom: 30px;
  }
  .margin-bottom-lg-35 {
    margin-bottom: 35px;
  }
  .margin-bottom-lg-40 {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 991px) {
  .margin-bottom-md-0 {
    margin-bottom: 0px;
  }
  .margin-bottom-md-5 {
    margin-bottom: 5px;
  }
  .margin-bottom-md-10 {
    margin-bottom: 10px;
  }
  .margin-bottom-md-15 {
    margin-bottom: 15px;
  }
  .margin-bottom-md-20 {
    margin-bottom: 20px;
  }
  .margin-bottom-md-25 {
    margin-bottom: 25px;
  }
  .margin-bottom-md-30 {
    margin-bottom: 30px;
  }
  .margin-bottom-md-35 {
    margin-bottom: 35px;
  }
  .margin-bottom-md-40 {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .margin-bottom-sm-0 {
    margin-bottom: 0px;
  }
  .margin-bottom-sm-5 {
    margin-bottom: 5px;
  }
  .margin-bottom-sm-10 {
    margin-bottom: 10px;
  }
  .margin-bottom-sm-15 {
    margin-bottom: 15px;
  }
  .margin-bottom-sm-20 {
    margin-bottom: 20px;
  }
  .margin-bottom-sm-25 {
    margin-bottom: 25px;
  }
  .margin-bottom-sm-30 {
    margin-bottom: 30px;
  }
  .margin-bottom-sm-35 {
    margin-bottom: 35px;
  }
  .margin-bottom-sm-40 {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 359px) {
  .margin-bottom-xs-0 {
    margin-bottom: 0px;
  }
  .margin-bottom-xs-5 {
    margin-bottom: 5px;
  }
  .margin-bottom-xs-10 {
    margin-bottom: 10px;
  }
  .margin-bottom-xs-15 {
    margin-bottom: 15px;
  }
  .margin-bottom-xs-20 {
    margin-bottom: 20px;
  }
  .margin-bottom-xs-25 {
    margin-bottom: 25px;
  }
  .margin-bottom-xs-30 {
    margin-bottom: 30px;
  }
  .margin-bottom-xs-35 {
    margin-bottom: 35px;
  }
  .margin-bottom-xs-40 {
    margin-bottom: 40px;
  }
}
.margin-left-0 {
  margin-left: 0px;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-left-20 {
  margin-left: 20px;
}
.margin-left-25 {
  margin-left: 25px;
}
.margin-left-30 {
  margin-left: 30px;
}
.margin-left-35 {
  margin-left: 35px;
}
.margin-left-40 {
  margin-left: 40px;
}
@media screen and (max-width: 1599px) {
  .margin-left-xxl-0 {
    margin-left: 0px;
  }
  .margin-left-xxl-5 {
    margin-left: 5px;
  }
  .margin-left-xxl-10 {
    margin-left: 10px;
  }
  .margin-left-xxl-15 {
    margin-left: 15px;
  }
  .margin-left-xxl-20 {
    margin-left: 20px;
  }
  .margin-left-xxl-25 {
    margin-left: 25px;
  }
  .margin-left-xxl-30 {
    margin-left: 30px;
  }
  .margin-left-xxl-35 {
    margin-left: 35px;
  }
  .margin-left-xxl-40 {
    margin-left: 40px;
  }
}
@media screen and (max-width: 1399px) {
  .margin-left-xl-0 {
    margin-left: 0px;
  }
  .margin-left-xl-5 {
    margin-left: 5px;
  }
  .margin-left-xl-10 {
    margin-left: 10px;
  }
  .margin-left-xl-15 {
    margin-left: 15px;
  }
  .margin-left-xl-20 {
    margin-left: 20px;
  }
  .margin-left-xl-25 {
    margin-left: 25px;
  }
  .margin-left-xl-30 {
    margin-left: 30px;
  }
  .margin-left-xl-35 {
    margin-left: 35px;
  }
  .margin-left-xl-40 {
    margin-left: 40px;
  }
}
@media screen and (max-width: 1199px) {
  .margin-left-lg-0 {
    margin-left: 0px;
  }
  .margin-left-lg-5 {
    margin-left: 5px;
  }
  .margin-left-lg-10 {
    margin-left: 10px;
  }
  .margin-left-lg-15 {
    margin-left: 15px;
  }
  .margin-left-lg-20 {
    margin-left: 20px;
  }
  .margin-left-lg-25 {
    margin-left: 25px;
  }
  .margin-left-lg-30 {
    margin-left: 30px;
  }
  .margin-left-lg-35 {
    margin-left: 35px;
  }
  .margin-left-lg-40 {
    margin-left: 40px;
  }
}
@media screen and (max-width: 991px) {
  .margin-left-md-0 {
    margin-left: 0px;
  }
  .margin-left-md-5 {
    margin-left: 5px;
  }
  .margin-left-md-10 {
    margin-left: 10px;
  }
  .margin-left-md-15 {
    margin-left: 15px;
  }
  .margin-left-md-20 {
    margin-left: 20px;
  }
  .margin-left-md-25 {
    margin-left: 25px;
  }
  .margin-left-md-30 {
    margin-left: 30px;
  }
  .margin-left-md-35 {
    margin-left: 35px;
  }
  .margin-left-md-40 {
    margin-left: 40px;
  }
}
@media screen and (max-width: 767px) {
  .margin-left-sm-0 {
    margin-left: 0px;
  }
  .margin-left-sm-5 {
    margin-left: 5px;
  }
  .margin-left-sm-10 {
    margin-left: 10px;
  }
  .margin-left-sm-15 {
    margin-left: 15px;
  }
  .margin-left-sm-20 {
    margin-left: 20px;
  }
  .margin-left-sm-25 {
    margin-left: 25px;
  }
  .margin-left-sm-30 {
    margin-left: 30px;
  }
  .margin-left-sm-35 {
    margin-left: 35px;
  }
  .margin-left-sm-40 {
    margin-left: 40px;
  }
}
@media screen and (max-width: 359px) {
  .margin-left-xs-0 {
    margin-left: 0px;
  }
  .margin-left-xs-5 {
    margin-left: 5px;
  }
  .margin-left-xs-10 {
    margin-left: 10px;
  }
  .margin-left-xs-15 {
    margin-left: 15px;
  }
  .margin-left-xs-20 {
    margin-left: 20px;
  }
  .margin-left-xs-25 {
    margin-left: 25px;
  }
  .margin-left-xs-30 {
    margin-left: 30px;
  }
  .margin-left-xs-35 {
    margin-left: 35px;
  }
  .margin-left-xs-40 {
    margin-left: 40px;
  }
}

/* 編譯說明
    ``` scss例
    .margin {
        &-top {
            &-sm {
                @media screen and (max-width: 767px) {
                    &-10 {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    ```
    編譯出來的css 例：
    ``` css
    @media screen and (max-width: 767px) {
        .margin-top-sm-10 {
            margin-top: 10px;
        }
    }
    ```
*/
.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fixedBody {
  overflow: hidden;
}

.header {
  font-size: 0.8em;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  background: #fff;
  line-height: 1.4;
}
.header .logo {
  float: left;
  text-align: left;
}
@media screen and (max-width: 359px) {
  .header .logo img {
    width: 130px;
    margin: 0 0 0 -1em;
    padding: 0.8em 0 1em;
  }
}
.header:after {
  content: "";
  display: table;
  clear: both;
}

nav {
  float: right;
  display: block;
}
@media screen and (max-width: 991px) {
  nav {
    float: inherit;
    position: absolute;
    top: 82px;
    left: 0;
    width: 100%;
    z-index: 1;
    background: #fff;
    display: none;
    top: 74px;
    max-height: calc(100vh - 74px);
    overflow-y: auto;
  }
}
nav ul {
  margin: 0 auto;
  padding: 0;
  text-align: left;
}
nav ul li {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 991px) {
  nav ul li {
    display: block;
    text-align: center;
  }
}
nav ul li a {
  color: #919191;
  display: block;
  padding: 1.4em 0.5em;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
nav ul li a b {
  color: #016450;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
@media screen and (max-width: 1199px) {
  nav ul li a {
    padding: 1.4em 0.1em;
  }
}
@media screen and (max-width: 991px) {
  nav ul li a {
    padding: 1.25em 0.5em;
    border-bottom: 1px dotted #ccc;
    text-align: center;
  }
}
nav ul li:hover a {
  color: #000000;
}
nav ul li:hover a b {
  color: #000;
}
nav ul li .fbShare,
nav ul li .lineShare {
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 1.2em 0.5em;
  vertical-align: middle;
}
@media screen and (max-width: 1199px) {
  nav ul li .fbShare,
nav ul li .lineShare {
    padding: 1.2em 0.2em;
  }
}

.menuicon {
  position: absolute;
  right: 1.2em;
  top: 1.2em;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 991px) {
  .menuicon {
    display: block;
  }
}
.menuicon .bar1,
.menuicon .bar2,
.menuicon .bar3 {
  width: 35px;
  height: 4px;
  background-color: #bababa;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.menuicon.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 7px);
          transform: rotate(-45deg) translate(-8px, 7px);
}
.menuicon.change .bar2 {
  opacity: 0;
}
.menuicon.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -7px);
          transform: rotate(45deg) translate(-6px, -7px);
}

.footer {
  background: #006350;
  text-align: left;
  font-size: 0;
  color: #fff;
}
.footer_info {
  color: #b7d3cd;
  display: inline-block;
  width: 70%;
  font-size: 14px;
  line-height: 1.2;
  padding: 5em 0 3em;
}
@media screen and (max-width: 1199px) {
  .footer_info {
    width: 68%;
    margin-left: 2%;
  }
}
@media screen and (max-width: 767px) {
  .footer_info {
    width: 100%;
    margin: 0;
    padding: 0 0 2em;
  }
}
.footerfooter_copyright {
  font-size: 15px;
}
.footer .comany_info {
  display: inline-block;
  width: 30%;
  font-size: 15px;
  vertical-align: top;
  padding: 5em 0 3em;
}
@media screen and (max-width: 767px) {
  .footer .comany_info {
    width: 100%;
    padding: 2em 0;
  }
}
.footer .comany_info .address_info h4 {
  margin: 0.5em 0;
}
.footer .comany_info .address_info img {
  max-width: 180px;
}
.footer .comany_info .address {
  font-weight: normal;
}
.footer .comany_info .address h3 {
  font-size: 1.2em;
  margin: 1em 0;
  color: #b7d3cd;
}
.footer h3 {
  margin: 0.5em 0 0;
  font-size: 1.5em;
}
.footer p {
  line-height: 1.4;
}
.footer p strong {
  color: #fff;
}
.footer p a {
  color: #ffffff;
}
.footer_copyright {
  background: #043a27;
  color: #b7d3cd;
  font-size: 12px;
  padding: 3em 1em;
  text-align: center;
}

.back-to-top {
  position: fixed;
  display: none;
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  color: #fff;
  padding: 2px 20px 8px 20px;
  font-size: 16px;
  border-radius: 4px 4px 0 0;
  right: 15px;
  bottom: 0;
  -webkit-transition: none;
  transition: none;
}

.pinBtn {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  position: relative;
  top: 0;
}
.pinBtn-area {
  position: fixed;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}
.pinBtn a {
  font-size: 17px;
  background: #eeb211;
  display: block;
  width: 114px;
  line-height: 1.2;
  padding: 7px 4px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 0px #9d4d08;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.pinBtn a img {
  display: block;
  margin: 0 auto 5px;
}
.pinBtn:nth-of-type(2) {
  margin-top: 20px;
}
.pinBtn:hover {
  top: -5px;
}
@media screen and (max-width: 991px) {
  .pinBtn-area {
    top: auto;
    bottom: 40px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .pinBtn a {
    font-size: 13px;
    width: 36px;
    padding: 10px 8px;
  }
  .pinBtn a img {
    width: 20px;
  }
}

.main {
  padding-top: 80px;
  padding-top: 75px;
}
@media screen and (max-width: 767px) {
  .main {
    padding-top: 78px;
    padding-top: 73px;
  }
}

/* === CSS Reset ========== */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
blockquote,
th,
td,
p {
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea,
a:fouse {
  outline: none;
}

li {
  list-style: none;
}

img {
  border: none;
}

textarea {
  resize: none;
}

body {
  margin: 0;
  background: #feecd4;
  background: #6fa228;
}

/* === End CSS Reset ========== */
body {
  min-width: 1000px;
  background: #124e76 url(../images/bg.jpg) top center no-repeat;
  background: #0c2549 url(../images/bg-pc.jpg) center center no-repeat;
  background-size: cover;
  background-size: 100% auto;
}

#content {
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  *zoom: 1;
}

.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  /*height: 198px;*/
}

/* 头部 */
/*.main{
    background: url("https://xcdn.php.cn/js/zhuanpan/jQuery老虎机转动抽奖程序/images/main.jpg") no-repeat center;
    background: #feecd4;
    height: 351px;
    _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1000?"1000px":"");
}*/
.main2 {
  background: url("../images/main2.png") no-repeat center;
  /*     background: none; */
  height: 689px;
  /*最小宽度*/
}

.main3 {
  /*background: url("https://xcdn.php.cn/js/zhuanpan/jQuery老虎机转动抽奖程序/images/main3.jpg") no-repeat center;
  height: 381px;*/
}

.main3-text {
  color: #744b00;
  font-size: 23px;
  font-weight: bold;
  position: absolute;
  left: 74px;
  top: 210px;
}

.main3-text2 {
  color: #744b00;
  font-size: 14px;
  position: absolute;
  left: 74px;
  top: 254px;
  line-height: 22px;
  width: 867px;
}

.main-text {
  position: absolute;
  left: 360px;
  top: 325px;
  color: #b03b01;
  font-size: 16px;
}

.main2-text1 {
  position: absolute;
  left: 79px;
  top: 45px;
  color: #ffffff;
  font-size: 16px;
}

.main2-text2 {
  position: absolute;
  left: 69px;
  top: 67px;
  color: #ffffff;
  font-size: 23px;
  font-weight: bold;
}

.main2-text2 span {
  color: #ffff00;
}

.main2-text3 {
  position: absolute;
  left: 69px;
  top: 97px;
  color: #ffffff;
  font-size: 18px;
}

.main2-text4 {
  position: absolute;
  left: 382px;
  top: 34px;
  color: #ffffff;
  font-size: 18px;
}

.main2-text4 span {
  color: #ffe700;
  font-weight: bold;
}

.main2-text5 {
  position: absolute;
  left: 665px;
  top: 34px;
  color: #ffffff;
  font-size: 18px;
}

.main2-text5 span {
  color: #ffe700;
  font-weight: bold;
}

.num {
  position: absolute;
  left: 248px;
  top: 171px;
  width: 124px;
  height: 198px;
  overflow: hidden;
}

.num-con {
  position: relative;
  top: -430px;
}

.num-img {
  background: url("../images/num.jpg") no-repeat;
  /*     background: none; */
  width: 124px;
  height: 1298px;
  margin-bottom: 4px;
}

.num2 {
  left: 399px;
}

.num3 {
  left: 551px;
}

.main3-btn {
  width: 293px;
  height: 80px;
  position: absolute;
  left: 309px;
  top: -285px;
  cursor: pointer;
  border-radius: 10px;
  line-height: 80px;
  text-align: center;
  font-weight: 900;
  font-size: 60px;
  background: #c14003;
  color: #fff;
}

.contentArea {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.slogin {
  position: relative;
  top: -80px;
}
.slogin img {
  display: block;
  margin: 0 auto;
}

.partyTit img,
.companyLogo img {
  display: block;
  margin: 0 auto;
}

.companyLogo {
  position: absolute;
  top: 40px;
  right: 50px;
}
.companyLogo img {
  width: 200px;
  width: 150px;
}

.partyTit {
  pointer-events: none;
  position: absolute;
  top: 40px;
  left: 50px;
  top: 10px;
  left: 10px;
}
.partyTit img {
  width: 510px;
  width: 370px;
  width: 290px;
}

h1 {
  width: 900px;
  margin: 40px auto;
  font: 32px "Microsoft Yahei";
  text-align: center;
  color: #fff;
}

.dowebok {
  margin: 0 auto;
}

.rotary {
  position: relative;
  width: 504px;
  height: 504px;
  margin: 0 auto;
  background-image: url(../images/g.png);
  border-radius: 100%;
  border: solid 20px #f6cd60;
  border: solid 20px #032042;
  background-size: 100%;
  width: 340px;
  height: 340px;
  margin-bottom: 30px;
}

.hand {
  position: absolute;
  left: 144px;
  top: 144px;
  width: 216px;
  height: 216px;
  cursor: pointer;
  line-height: 216px;
  text-align: center;
  -webkit-transition: 0s ease all;
  transition: 0s ease all;
  width: 104px;
  height: 104px;
  top: 121px;
  left: 121px;
}

.list {
  float: right;
  width: 300px;
  padding-top: 44px;
}

.list strong {
  position: relative;
  left: -45px;
  display: block;
  height: 65px;
  line-height: 65px;
  font-size: 32px;
  color: #ffe63c;
}

.list h4 {
  height: 45px;
  margin: 30px 0 10px;
  line-height: 45px;
  font-size: 24px;
  color: #fff;
}

.list ul {
  line-height: 36px;
  list-style-type: none;
  font-size: 12px;
  color: #fff;
}

.list span {
  display: inline-block;
  width: 94px;
}

.rotate1 {
  -webkit-transform: rotate(8670deg);
          transform: rotate(8670deg);
  -webkit-transition: 10s cubic-bezier(0.29, 0.13, 0, 0.96) all;
  transition: 10s cubic-bezier(0.29, 0.13, 0, 0.96) all;
}

.rotate2 {
  -webkit-transform: rotate(8730deg);
          transform: rotate(8730deg);
  -webkit-transition: 10s cubic-bezier(0.29, 0.13, 0, 0.96) all;
  transition: 10s cubic-bezier(0.29, 0.13, 0, 0.96) all;
}

.rotate3 {
  -webkit-transform: rotate(8790deg);
          transform: rotate(8790deg);
  -webkit-transition: 10s cubic-bezier(0.29, 0.13, 0, 0.96) all;
  transition: 10s cubic-bezier(0.29, 0.13, 0, 0.96) all;
}

.rotate4 {
  -webkit-transform: rotate(8850deg);
          transform: rotate(8850deg);
  -webkit-transition: 10s cubic-bezier(0.29, 0.13, 0, 0.96) all;
  transition: 10s cubic-bezier(0.29, 0.13, 0, 0.96) all;
}

.rotate5 {
  -webkit-transform: rotate(8910deg);
          transform: rotate(8910deg);
  -webkit-transition: 10s cubic-bezier(0.29, 0.13, 0, 0.96) all;
  transition: 10s cubic-bezier(0.29, 0.13, 0, 0.96) all;
}

.rotate6 {
  -webkit-transform: rotate(8970deg);
          transform: rotate(8970deg);
  -webkit-transition: 10s cubic-bezier(0.29, 0.13, 0, 0.96) all;
  transition: 10s cubic-bezier(0.29, 0.13, 0, 0.96) all;
}

.ansArea {
  text-align: center;
  line-height: 1;
  color: #fff;
  text-shadow: 0 0 5vw black;
}
.ansArea-tit {
  font-size: 3vw;
}
.ansArea-ans {
  font-weight: 900;
  font-size: 14vw;
  height: 196px;
  height: 144px;
  opacity: 0;
  -webkit-transform: scale(10);
          transform: scale(10);
  -webkit-transition: 1s cubic-bezier(0.68, 0.14, 0.54, 0.4) all;
  transition: 1s cubic-bezier(0.68, 0.14, 0.54, 0.4) all;
}

.showAns {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@-webkit-keyframes showAns {
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showAns {
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}