@charset "utf-8";
/* CSS Document */

/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dt, dd, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*//*修改部分 by kevin 20140822*/
	/*vertical-align: baseline;*//*修改部分 by kevin 20140822*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	/*list-style: none;*//*修改部分 by kevin 20140822 會影響到網邊*/
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{ 
	margin: 0; 
	padding: 0;
	background: #fff;
	color: #000;
	font-family: Arial, Helvetica, sans-serif, "Century Gothic", "Times New Roman", Times, serif, "新細明體";
	overflow-x: hidden;
	letter-spacing: 1px;
}

/* ~~ 元素/標籤選取器 ~~ */
ul, ol, dl { /* 由於瀏覽器之間的差異，最佳作法是在清單中使用零寬度的欄位間隔及邊界。為了保持一致，您可以在這裡指定所要的量，或在清單包含的清單項目 (LI、DT、DD) 上指定所要的量。請記住，除非您寫入較為特定的選取器，否則在此執行的作業將重疊顯示到 .nav 清單。 */
	padding: 0;
	margin: 0;
}

/*-----↓↓↓↓新增部分 by kevin 20150108 為了網編↓↓↓↓-----*/
ul, ol {
	padding-left:40px;
}
/*-----↑↑↑↑新增部分 by kevin 20150108 為了網編↑↑↑↑-----*/

/*h1, h2, h3, h4, h5, h6,*/ p {	margin: 0; padding: 0;}

/*img{ display:block;}*//*清除IE7下方溢位*/

a img { /* 這個選取器會移除某些瀏覽器在影像由連結所圍繞時，影像周圍所顯示的預設藍色邊框 */
	border: none;}

.clearfloat { /* 這個類別可放置在 <br /> 或空白的 Div 上，當做接在 #container 內最後一個浮動 Div 後方的最後一個元素 (如果從 #container 移除或取出 #footer) */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
a{ 
	/*color:#ccc;*//*修改部分 by kevin 20140814 會影響到網編區 不宜使用*/
	text-decoration: none;
	outline: none;/* for Firefox Google Chrome  *//*讓a點擊時不會出現框線*/
  	behavior:expression(this.onFocus=this.blur());  /* for IE *//*讓a點擊時不會出現框線*/
}
a:hover { 
	/*color:#ccc;*//*修改部分 by kevin 201450108 太醜了所以刪掉*/
	text-decoration:underline;
	/*opacity:0.9;新增部分 by kevin 20150121*//*會影響到輪播 刪除 by kevin 20150324*/
}
	
a:active, a:focus {/* 這個選取器群組可以讓使用鍵盤導覽的使用者，也和使用滑鼠的使用者一樣擁有相同的滑過體驗。 */
	text-decoration: none; }
	
area {
	outline:none;
}

/*Webkit,Opera9.5+,Ie9+ 控制文字選取時的顏色*/
::selection {
	background:#025ec4;
	color:#fff;
}

/*Mozilla Firefox 控制文字選取時的顏色*/
::-moz-selection {
	background:#025ec4;
	color:#fff;
}

.wrap{ width:956px; margin:0 auto; padding: 0;	}

/*icon-字型*/
@font-face {
    font-family: 'LigatureSymbols';
    src: url('../icon_fonts/ligature_symbols/LigatureSymbols-2.11.html');
    src: url('../icon_fonts/ligature_symbols/LigatureSymbols-2.11d41d.html?#iefix') format('embedded-opentype'),
         url('../icon_fonts/ligature_symbols/LigatureSymbols-2.11-2.html') format('woff'),
         url('../icon_fonts/ligature_symbols/LigatureSymbols-2.11-3.html') format('truetype'),
         url('../icon_fonts/ligature_symbols/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('../icon_fonts/ligature_symbols/LigatureSymbols-2.11-3.html') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content:attr(title);
  /*margin-right:0.3em;*/
}

/*-------input reset--------------------------------------------------------*/
input[type="text"], .input, input[type="password"], .input, input[type="search"] {
	margin:0;
	padding:0;
	outline:none;
	vertical-align: middle;
	height:28px;
	line-height:28px;
	border: solid 1px #cccccc;
	font-size:12px;
	width:322px;
	transition: 0.2s ease all;
	padding:0px 3px 0px 3px;
}
	input[type="text"]:hover, input[type="password"]:hover {
		border: solid 1px #d5d5d5;
	}
	
.input_but, input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance:none; /*讓iphome的button初始化*/
	-webkit-border-radius:0px;/*讓iphome的button初始化*/
	margin:0;
	padding:0;
	outline:none;
	cursor:pointer;
	vertical-align: middle;
	border:none;
	width:100%;
	height:40px;
	background:#025ec4;
	color:#fff;
	font-size:12px;
	border-radius:5px;
	line-height:40px;
	transition: 0.2s ease all;
}
	input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
		background:#002956;
	}
	
	input[type="reset"] {
		background:#7b7b7b;
	}
		input[type="reset"]:hover {
			background:#979797;
		}
	
	/*第二尺寸的按鍵*/
	input[type="button"].s_but {
		height:21px;
	}
	
input[type="radio"], input[type="checkbox"] {
	margin:0px;
	padding:0px;
	outline:none;
	vertical-align: middle;
}
textarea {
	margin:0;
	padding:0;
	outline:none;
	vertical-align: middle;
	line-height:24px;
	border: solid 1px #cccccc;
	width:100%;
	resize:none;
	height:168px;
	font-size:12px;
	transition: 0.2s ease all;
	padding: 10px 0px;
}
	
select {
	margin:0;
	padding:0;
	outline:none;
	vertical-align: middle;
	border: solid 1px #cccccc;
	font-size:12px;
	padding: 5px 0px 6px 0px;
	transition: 0.2s ease all;
	background:#fff;
}
	
label {
	cursor:pointer;
	display:inline-block;
}

		@media (max-width: 540px){
			.input_but, input[type="button"], input[type="submit"], input[type="reset"], select {
				font-size:15px;
			}
		}
	
/*-------輪播----------------------------------------------------------------------------*/
.banner {
	width:100%;
}
	.device {
		position:relative;
	}
		/*左右鍵*/
		.device .arrow-left, .device .arrow-right {
			position:absolute;
			z-index:9;
			top:50%;
			margin:-17px 0px 0px 0px;
		}
		
			/*左鍵*/
			.device .arrow-left {
				left:38px;
			}
			
			/*右鍵*/
			.device .arrow-right {
				right:38px;
			}
		
		/*輪播區*/
		.swiper-container {
			height:auto;
		}
			.swiper-wrapper {
			}
				.swiper-slide {
				}
					.swiper-slide img {
						width:100%;
						height:auto;
					}
		
		/*輪播點點*/
		.pagination {
		  position: absolute;
		  z-index: 20;
		  bottom: 10px;
		  width: 100%;
		  text-align: center;
		}
			.swiper-pagination-switch {
			  display: inline-block;
			  width: 8px;
			  height: 8px;
			  border-radius: 8px;
			  background: #555;
			  margin: 0 5px;
			  opacity: 0.8;
			  border: 1px solid #fff;
			  cursor: pointer;
			}
			.swiper-active-switch {/*輪播點點當前模式*/
			  background: #004694;
			}

/*手機版*/
.mobile_banner {
	display:none;
}
	.mobile_banner_pagination {
		position: absolute;
		bottom: 12px;
		z-index: 999;
		width: 100%;
		text-align: center;
	}
			@media (max-width: 960px){
				.banner {
					display:none;
				}
				.mobile_banner {
					display:block;
				}
			}
				
/*-------頁次--RWD版 by kevin 20150629------------------------------------------------------------------------*/			
.page_area {
	text-align:center;
	padding:10px 0px 0px 0px;
}
	.page_left_arrow, .page_right_arrow {
		width:83px;
		font-size:15px;
		background:#025ec4;
		line-height:34px;
		font-weight:bold;
		text-align:center;
		border-radius:2px;
		display: inline-block;
	}
		.page_left_arrow a, .page_right_arrow a {
			text-decoration:none;
			display:block;
			transition:0.2s ease all;
			color:#fff;
			height:34px;
		}
			.page_left_arrow a:hover, .page_right_arrow a:hover {
				background:#002956;
			}
	.page_select {
		display:inline-block;
		padding:0px 7px;
	}
		.page_select select {
			width: auto !important;
			font-size:15px !important;
			padding:7px 18px 7px 28px !important;
			border: solid 1px #a4a4a4 !important;
			background:#fff !important;
		}

/*-------驗證碼----------------------------------------------------------------------------*/
.captcha {
	font-size:12px;
}
	.captcha .form_list {
		width:93px;
		display:inline-block;
	}
		.captcha img {
			display:inline-block;
			vertical-align: middle;
			padding: 3px 0px 0px 10px;
		}
		.captcha a {
			text-decoration:underline;
			color:#0246d2;
		}
		.captcha span {
			color:#c30000;
		}

/*-------動畫時間----------------------------------------------------------------------------*/
.transition_02s {
	transition:0.2s ease all;
}
.transition_03s {
	transition:0.3s ease all;
}

/*-------字型----------------------------------------------------------------------------*/
.font_sans_serif {
	font-family: Arial, Helvetica, sans-serif, "Century Gothic", "Times New Roman", Times, serif, "微軟正黑體";
}

/*-------版頭----------------------------------------------------------------------------*/
.header {
	position:fixed;
	width:100%;
	z-index:999999999999;
}
	/*版頭上*/
	.header_top {
		background:#025ec4;
		height:42px;
		font-size:12px;
		line-height:42px;
	}
		/*logo*/
		.logo {
			float:left;
		}
			.logo img {
				display:block;
			}
		
		/*手機版logo*/
		.mobile_logo {
			display:none;
		}
			.mobile_logo img {
				display:block;
				width:80%;
				height:auto;
			}
		
		/*版頭上會員登入*/
		.header_top_member_login {
			float:right;
		}
			.header_top_member_login a {
				display:block;
				color:#fff;
				text-decoration:none;
				background:#004694;
				padding:0px 35px;
			}
				.header_top_member_login a:hover {
					background:#002956;
				}
		
		/*版頭上聯絡我們*/
		.header_top_contact {
			float:right;
		}
			.header_top_contact a {
				display:block;
				color:#fff;
				text-decoration:none;
				padding:0px 35px;
			}
				.header_top_contact a:hover {
					background:#004694;
				}
	
	/*主按鍵*/
	.navbar {
		background:#002956;
		padding:8px 0px;
	}
		.nav {
			float:left;
			border-right: solid 1px #6e859f;
			width: 190px;
			position: relative;
		}
			.nav:first-of-type {
				border-left: solid 1px #6e859f;
			}
			.nav > a {
				color:#fff;
				line-height:24px;
				text-decoration:none;
				font-size:13px;
				text-align:center;
				display:block;
			}
				.nav > a:hover {
					color:#1182ff;
					position:relative;
				}
				
			/*主選單展開*/
			.nav_open {
				position:absolute;
				width:190px;
				left:50%;
				margin:0px 0px 0px -95px;
				padding:8px 0px 0px 0px;
				display:none;
				z-index:999;
			}
				.nav_open_list {
					background: rgba(255,255,255,0.9);
					padding:0px 10px;
				}
					.nav_open_list a {
						display:block;
						text-align:center;
						font-size:12px;
						line-height:17px;
						color:#000;
						text-decoration:none;
						border-bottom: dotted 1px #5b6163;
						padding:13px 0px;
					}
						.nav_open_list a:hover {
							color:#025ec4;
						}
					
					.nav_open_list:last-of-type a {/*最後一個不要有底線*/
						border-bottom: none;
					}
					
			
			/*手機主按鍵*/
			.mobile_navbar {
				display:none;
				position: absolute;
				width: 60px;
				top: 0px;
				right: 0px;
			}
				.m_navbar_but_area {
					font-size: 15px;
					color: #fff;
					height: 44px;
				}
					.m_navbar_but {
						position: absolute;
						top: 0px;
						right: 45px;
					}
						.m_navbar_but span {
							display:inline-block;
							width:29px;
							height:2px;
							background:#fff;
							position:absolute;
							transition:0.3s ease all;
						}
							.m_navbar_but span:nth-child(1) {
								top:11px;
							}
							.m_navbar_but span:nth-child(2) {
								top:21px;
							}
							.m_navbar_but span:nth-child(3) {
								top:31px;
							}
							
						.menu_but_animaiton span:nth-child(1) {
							transform:rotate(45deg);
							transform-origin:left top;
							-webkit-transform:rotate(45deg);/* Safari 和 Chrome */
							-webkit-transform-origin:left top;/* Safari 和 Chrome */
						}
						.menu_but_animaiton span:nth-child(2) {
							display:none;
						}
						.menu_but_animaiton span:nth-child(3) {
							transform:rotate(-45deg);
							transform-origin:left bottom;
							-webkit-transform:rotate(-45deg);/* Safari 和 Chrome */
							-webkit-transform-origin:left bottom;/* Safari 和 Chrome */
						}
						
				/*手機主按鍵列表*/
				.header_height {
					height:100%;
				}
				.mobile_nav_list {
					position: absolute;
					z-index:9999;
					display: none;
					width:100%;
					background:rgba(255,255,255,0.9);
					/*height:100%;
					overflow-y:scroll;*/
				}
					.m_nav {
						border-bottom: solid 1px #e1e1e1;
					}
						.m_nav a {
							display:block;
							padding:20px 0px 20px 0px;
							text-decoration:none;
						}
							.m_nav a span {
							}
								.m_nav a span.m_n_tw {
									color:#025ec4;
									font-size:18px;
								}
						
					.m_nav_member_login {
						background:#002956;
						border:none;
						text-align:center;
					}
						.m_nav_member_login a {
							color:#fff;
							padding:15px 0px;
						}
					
						/*手機版主按彈談出次選單*/
						.m_nav_open {
							/*background: #E9E9E9;*/
							padding: 0px 15px;
							margin: -10px 0px 10px 0px;
						}
							.m_n_o_list {
							}
								.m_n_o_list a {
									color: #000;
									font-size: 15px;
									padding: 10px 0px;
									line-height: 20px;
								}
								
/*手機版不顯示*/
.mobile_none {
}
	@media (max-device-width: 960px){
		.mobile_none {
			display:none;
		}
	}

/*撐版頭高度用*/
.find_heder_height {
	width:100%;
}
								
/*-------首頁----------------------------------------------------------------------------*/
/*首頁3個按鍵*/
.index_3but_area {
	padding:39px 0px;
}
	.i_3_but {
		float:left;
		border: solid 4px #025ec4;
		position: relative;
		margin:0px 16px;
		width:277px;
	}
		.i_3_but a {
			text-decoration:none;
			color:#025ec4;
			display:block;
			height:111px;
		}
			.i_3_b_tit {
				font-size:20px;
				line-height:28px;
				padding:14px 122px 0px 19px;
			}
			.i_3_b_img {
				position:absolute;
				top:0px;
				right:0px;
			}
				.i_3_b_img img {
					display:block;
				}
			.i_3_b_read {
				font-size:12px;
				position:absolute;
				right:17px;
				bottom:11px;
			}
				.i_3_b_read .square_arrow {
				}
			
			/*方型鍵頭*/	
			.square_arrow {
				width:17px;
				height:17px;
				line-height:17px;
				font-size:12px;
				color:#fff;
				background:#025ec4;
				border-radius:2px;
				text-align:center;
				display:inline-block;
				text-indent:0px;
			}
			
				/*hover*/
				.i_3_but a:hover {
					background:#025ec4;
					color:#fff;
				}
					.i_3_but a:hover .i_3_b_read .square_arrow {
						background:#fff;
						color:#025ec4;
					}
						.i_3_but a:hover .i_3_b_img {
							display:none;
						}
						@media (max-width: 960px){
							.index_3but_area {
								padding:0px 0px;
							}
								.i_3_but {
									width:99%;
									float:none;
									margin:15px 0px;
									border: solid 2px #025ec4;
								}
									.i_3_but a {
										height: auto;
									}
										.i_3_but a .i_3_b_read {
											display:none;
										}
											.i_3_b_tit {
												font-size: 17px;
												padding: 6px 0px 7px 11px;
												text-align:center;
											}
												.i_3_b_tit br {
													display:none;
												}
											.i_3_b_img {
											}
												.i_3_b_img img {
													width: 46px;
													height: auto;
												}
						}


/*首頁最新消息區*/
.index_news_list_bg {
	padding:15px 0px;
	background: #025ec4 url(../images/bg.png) center center no-repeat;
	background-size: cover;
}
	/*最新消息列表*/
	.news_list_area {
	}
		.news_list {
			float:left;
			width:286px;
			margin:15px 16px;
			position:relative;
		}
			.news_list a {
				text-decoration:none;
				color:#000;
			}
			.n_l_time {
				font-size:12px;
				text-align:center;
				color:#fff;
				background:#3f3f3f;
				line-height:23px;
			}
			.n_l_img {
			}
				.n_l_img img {
					display:block;
					width:100%;
					height:auto;
				}
			.n_l_sort {
				position:absolute;
				font-size:12px;
				line-height:19px;
				padding:0px 8px;
				background:#e20020;
				color:#fff;
				display: inline-block;
				top:198px;
				left:13px;
			}
			.n_l_tit {
				font-size:13px;
				line-height:22px;
				background:#fff;
				height:66px;
				text-indent: -22px;
				padding:20px 14px 20px 35px;
			}
				.n_l_tit .square_arrow {
				}
				
			
			/*彈出的簡述*/
			.news_list:hover .n_l_open {
				opacity:1;
			}
			.n_l_open {
				position:absolute;
				top:0px;
				width:100%;
				height:100%;
				color:#fff;
				background:rgba(0,0,0,0.8);
				font-size:12px;
				line-height:24px;
				opacity:0;
			}
				.n_l_o_text {
					padding:76px 14px 0px 14px;
				}
				.n_l_o_icon {
					text-align:center;
					padding:25px 0px 0px 0px;
				}
					.n_l_o_icon img {
						display:inline-block;
					}
						@media (max-width: 960px){
							.news_list {
								width: 48%;
								margin: 15px 0px;
							}
								.news_list:nth-of-type(2n+0) {
									float: right;
								}
									.n_l_sort {
										top: -19px;
										left: 0px;
									}
									.n_l_open {
										display:none;
									}
						}
							@media (max-width: 625px){
								.news_list {
									width:100%;
								}
									.n_l_tit {
										font-size:15px;
										height:auto;
									}
							}
							
/*首頁關於我們*/
.index_about_area {
	padding:30px 0px 30px 0px;
}
	/*首頁關於我們大標題*/
	.index_about_tit {
		text-align:center;
		border-top: solid 6px #000;
		border-bottom: solid 1px #000;
		position:relative;
		cursor:pointer;
	}
		.i_a_tit_en {
			font-size:12px;
			color:#717171;
			padding:18px 0px 12px 0px;
		}
		.i_a_tit_tw {
			font-size:21px;
			font-weight:bold;
			padding:0px 0px 35px 0px;
		}
		.i_a_tit_arrow {
			position:absolute;
			left:50%;
			margin:0px 0px 0px -20px;
			bottom: -18px;
		}
			.i_a_tit_arrow img {
				display: inline-block;
			}
				.i_a_tit_arrow_active {
					transform: rotate(-180deg);
					-webkit-transform: rotate(-180deg);/* Safari 和 Chrome */
				}
	
	/*首頁關於我們列表*/
	.index_about_list_area {
		padding:34px 0px 0px 0px;
		display:none;
	}
		.i_a_list {
			float: left;
			width: 286px;
			margin: 15px 16px;
		}
			.i_a_l_tit {
				font-size:16px;
				font-weight:bold;
				border-bottom: solid 1px #000;
				padding:0px 0px 13px 0px;
			}
				.i_a_l_tit a {
					color:#000;
					display:block;
				}
			.i_a_l_text {
				font-size:12px;
				line-height:24px;
				color:#787878;
				padding:10px 0px;
			}
			.i_a_l_more {
				font-size:12px;
				padding: 0px 0px 20px 0px;
			}
				.i_a_l_more a {
					color:#000;
				}
					.i_a_l_more a img {
						display: inline-block;
						vertical-align:middle;
					}
					.i_a_l_tit a:hover, .i_a_l_more a:hover {
						text-decoration:none;
					}
						@media (max-width: 960px){
							/*首頁關於我們列表*/
							.i_a_list {
								width: 100%;
								margin: 15px 0px;
							}
								.i_a_l_more {
									text-align: right;
								}
						}
						
/*首頁友站連結區*/
.index_link_area_bg {
	background:#e2e2e2;
	padding:33px 0px;
	margin:10px 0px 0px 0px;
}
	/*首頁友站連結*/
	.index_link_area {
		width:864px;
		height:87px;
		background:#e2e2e2;
		padding: 0px 40px 0px 52px;
	}
		.index_link_area .arrow-left {
			left:-50px;
		}
		.index_link_area .arrow-right {
			right:-40px;
		}
		
		.index_link_area .swiper-slide img {
			border: solid 3px #025ec4;
			width:197px;
		}
		
			/*首頁友站連結-手機版*/
			.index_link_area_mobile_body {
				background: #E2E2E2;
			}
			.index_link_area_mobile {
				padding: 0px 0px 0px 0px;
				width:100%;
			}
				.index_link_area_mobile .arrow-left {
					left:0px;
				}
				.index_link_area_mobile .arrow-right {
					right:0px;
				}
				.index_link_area_mobile .swiper-slide {
					text-align:center;
				}
			
			@media (max-width: 930px){
				/*首頁友站連結*/
				.index_link_area {
					padding:0px;
					width:100%;
				}
					.index_link_area .arrow-left, .index_link_area .arrow-right {
						display:none;
					}
					
					/*手機版*/
					.index_link_area_mobile .arrow-left, .index_link_area_mobile .arrow-right {
						display:block;
					}
			}
				@media (max-width: 820px){
					.index_link_area_bg iframe {
						height:80px;
						width:1px;
						min-width:100%;
						*width:100%;
						background: #E2E2E2;
					}
						.index_link_area {
							width:820px;
							height:80px;
						}
							.index_link_area .swiper-slide img {
								width:180px;
							}
						
						/*手機版*/
						.index_link_area_mobile {
							width:100%;
						}
				}
			

/*-------footer----------------------------------------------------------------------------*/
.footer {
}
	
	/*下方主按鍵*/
	.footer_navbar {
	}
		.footer_navbar_top_line {
			text-align:center;
			background:#004694;
			cursor:pointer;
		}
			.footer_navbar_top_line img {
				display:inline-block;
			}
		.footer_navbar_top_bg {
			position:absolute;
			width:100%;
			height:39px;
			background:#363636;
			cursor:pointer;
		}
		.footer_navbar {
			background: #424242 url(../images/footer_bg.jpg) top left repeat-x;
		}
			.footer_nav_list {
				position:relative;
				z-index:9;
				float:left;
				width: 24%;
				padding: 0px 1% 0px 0px;
			}
				.f_n_l_tit {
					font-size:13px;
					font-weight:bold;
					line-height:39px;
					color:#fff;
					cursor:pointer;
				}
					.f_n_l_tit a {
						color:#fff;
						text-decoration:none;
					}
						.f_n_l_tit a:hover {
							color:#51a3ff;
						}
				
				.f_n_list_area {
					padding:5px 0px;
				}
					.f_n_list {
						font-size:12px;
						line-height:16px;
						padding:7px 0px;
					}
						.f_n_list a {
							display:block;
							color:#fff;
							text-decoration:none;
						}
							.f_n_list a:hover {
								color:#51a3ff;
							}
			.footer_nav_clearfloat {
				display:none;
			}
								@media (max-width: 625px){
									.footer_navbar_top_bg {
										display:none;
									}
									.footer_navbar {
										background: #424242;
									}
									.footer_nav_list {
										width:49%;
									}
										.f_n_list_area {
											padding:0px 0px 10px 0px;
										}
										
									.footer_nav_clearfloat {
										display:block;
									}
								}
								
	/*單位名稱*/
	.footer_tit {
		font-size:12px;
		color:#fff;
		text-align:center;
		line-height:18px;
		background:#004694;
		padding: 15px 15px 0px 15px;
	}
	
	
	/*copyright*/							
	.copyright_area {
		background:#004694;
	}
		.copyright_area .wrap {
			position:relative;
		}
			.copyright {
				float:left;
				font-size:12px;
				color:#fff;
				white-space:nowrap;
				line-height:51px;
			}
				.copyright a {
					color:#fff;
					text-decoration:none;
				}
			
			.footer_logo_area {
				float:right;
				padding:9px 20px;
			}
				.footer_logo_area a {
				}
					.footer_logo_area img {
						padding:0px 0px 0px 12px;
					}
						@media (max-width: 720px){
							.copyright {
								float: none;
								text-align:left;
								line-height: 25px;
								padding: 0px 0px 10px 0px;
							}
								.footer_logo_area img {
									padding:0px 12px 0px 0px;
								}
								
							.footer_logo_area {
								padding:10px 0px;
								float: none;
								text-align: left;
							}
						}
							@media (max-width: 410px){
								.copyright {
									transform: scale(0.9);
									transform-origin: left;
									-webkit-transform: scale(0.9);
									-webkit-transform-origin: left;
								}
							}
								@media (max-width: 370px){
									.copyright {
										-webkit-transform: scale(0.76);
									}
								}
			
			/*計數器*/
			.century_gothic {
				position:absolute;
				top: 18px;
				left: 530px;
				font-size:13px;
				color:#fff;
			}
				.century_gothic span {
					font-weight:bold;
				}
					@media (max-width: 960px){
						.century_gothic {
							display:none;
						}
					}
			
			
								
		/*返回最上面*/
		.top_but {
			position:fixed;
			bottom:-70px;
			right:40px;
		}
			.top_but a {
			}
				.top_but img {
					display:block;
				}
					@media (max-width: 960px){
						.top_but {
							display:none;
						}
					}


/*-------內頁----------------------------------------------------------------------------*/
/*內頁大標*/
.in_big_tit {
	position:relative;
	background: #025EC4 url(../images/bg.png) center center no-repeat;
	background-size: cover;
	background-position-y: -513px;
	text-align:center;
	font-size:30px;
	font-weight:bold;
	color:#fff;
	text-shadow:1px 1px 1px #000;
	padding:43px 0px 26px 0px;
}
	.in_big_tit:after {
		position:absolute;
		content:url(../images/in_tit_arrow.png);
		bottom: -9px;
		left: 50%;
		margin: 0px 0px 0px -11px;
	}
		@media (max-width: 960px){
			.in_big_tit {
				background-position-y: center;
				background-size: auto;
			}
		}
	
/*main*/
.main {
	min-height:500px;
	padding:30px 0px;
}
	@media (max-width: 540px){
		.main {
			min-height:initial;
		}
	}
	
	/*網編區*/
	.text_area {
		padding:15px 0px;
	}
	
	/*2個按鍵區*/
	.two_but_area {
		text-align:center;
		padding: 15px 0px 0px 0px;
	}
		.link_but {
			width:178px;
			display:inline-block;
			padding:0px 50px;
		}
			.link_but a {
				width:100%;
				height:40px;
				display:block;
				line-height:40px;
				color:#fff;
				background:#025ec4;
				text-decoration:none;
				text-align:center;
				font-size:12px;
				border-radius:5px;
			}
				.link_but a:hover {
					background:#002956;
				}
					a.go_home {
						background:#7b7b7b;
					}
					.link_but a.gray {
						background:#7b7b7b;
					}
						.link_but a.gray:hover {
							background:#474747;
						}
					
					@media (max-width: 590px){
						/*2個按鍵區*/
						.link_but {
							width:48%;
							padding:0px;
							float:right;
						}
							.link_but a {
								font-size:15px;
							}
							.link_but:first-of-type {
								float:left;
							}
					}
					
/*圓形icon*/
.round_icon {
	float:left;
	width:6px;
	height:6px;
	border: solid 3px #006fec;
	border-radius:100%;
}


/*-------活動訊息----------------------------------------------------------------------------*/
/*活動訊息內頁時間*/
.news_in_time {
	font-size:12px;
	color:#025ec4;
	padding:15px 0px 0px 0px;
}

/*活動訊息內頁標題*/
.news_in_tit {
	font-size:18px;
	line-height:24px;
	font-weight:bold;
	letter-spacing:1px;
	border-bottom: dotted 1px #000;
	padding:10px 0px 13px 0px;
}

/*下載列表區*/
.download_list_area {
	padding:20px 0px 0px 0px;
}
	.download_list {
		border: solid 1px #bfbfbf;
		border-radius:5px;
		padding:8px 125px 8px 38px;
		position:relative;
		margin:0px 0px 23px 0px;
	}
		.download_list .round_icon {
			position:absolute;
			left:12px;
			top:12px;
		}
		.d_l_tit {
			float:left;
			font-size:15px;
			line-height:22px;
			font-weight:bold;
		}
			.d_l_tit a {
				color:#000;
				display:block;
				text-decoration:none;
			}
				.d_l_tit a:hover {
					color:#025ec1;
				}
		.d_l_download_but {
			float:left;
			width:107px;
			height:22px;
			font-size:12px;
			background:#006fec;
			border-radius:5px;
			text-align:center;
			line-height:22px;
			position:absolute;
			top:8px;
			right:17px;
		}
			.d_l_download_but a {
				color:#fff;
				text-decoration:none;
			}
				.d_l_download_but a img {
					display: inline-block;
					vertical-align:middle;
				}
					.d_l_download_but:hover {
						background:#002956;
					}
						@media (max-width: 540px){
							.d_l_tit {
								/*font-size:18px;*/
							}
						}

/*-------雲端產業服務團----------------------------------------------------------------------------*/
/*雲端產業服務團banner*/
.corps_about_banner {
}
	.corps_about_banner .wrap {
	}
		.corps_about_banner img {
			display:block;
			width:100%;
			height:auto;
		}

/*雲端產業服務團五個icon區*/
.corps_5icon_area {
	padding:15px 0px 0px 0px;
}
	.c_5_but {
		width:180px;
		height:54px;
		line-height:54px;
		text-align:center;
		font-size:12px;
		float:left;
		margin:0px 12px 15px 0px;
	}
		.c_5_but.last {
			margin:0px;
		}
		
		.c_5_but a {
			display:block;
			color:#000;
			border: solid 1px #a7a7a7;
			text-decoration:none;
		}
			.c_5_but a span {
				font-size:20px;
				vertical-align:middle;
				position: relative;
				top: -2px;
			}
				span.search:before {
					content:"\E116";
				}
				span.edit:before {
					content:"\E041";
				}
				span.save:before {
					content:"\E115";
				}
				span.checkbox:before {
					content:"\E02a";
				}
				span.pc:before {
					content:"\E09e";
				}
					/*hover*/
					.c_5_but a:hover {
						background:#025ec4;
						border: solid 1px #025ec4;
						color:#fff;
					}
						@media (max-width: 960px){
							.c_5_but {
								width:19%;
								margin:0px 1% 15px 0px;
							}
						}
						@media (max-width: 760px){
							.c_5_but {
								width:100%;
								margin:0px 0px 15px 0px;
							}
						}
						@media (max-width: 540px){
							.c_5_but {
								font-size:18px;
							}
						}
						
/*廠商類別列表*/
.corps_sort_list_area {
	padding:15px 0px 0px 0px;
}
	.c_sort_list {
		text-align:center;
		font-size:20px;
		width:19%;
		margin:0px 1% 36px 0px;
		float:left;
	}
		/*.c_sort_list:nth-of-type(5n+0) {
			margin:0px 0px 36px 0px;
		}*/
		
		.c_sort_list a {
			display:block;
			text-decoration:none;
			color:#000;
			border: solid 1px #bcbcbc;
			padding:56px 0px 78px 0px;
		}
			.c_sort_list a:hover {
				color:#025ec4;
				border: solid 1px #1167c7;
			}
				.c_sort_list a img {
					display:block;
					width:100%;
					height:auto;
					display:inline-block;
					padding:0px 0px 9px 0px;
				}
					@media (max-width: 540px){
						.c_sort_list {
							width:49%;
						}
							.c_sort_list a {
								padding:10px 0px 30px 0px;
							}
					}

/*廠商類別標簽*/
.company_sort_icon_area {
}
	.c_s_icon {
		position:relative;
		font-size:12px;
		color:#fff;
		background:#025ec4;
		padding:0px 9px;
		line-height:21px;
		display:inline-block;
		margin:5px 30px 5px 0px;
	}
		.c_s_icon:after {
			content:url(../corps/images/company_sort_icon.png);
			position:absolute;
			top: 0px;
			right: -21px;
		}


/*廠商列表*/
/*廠商列表標題*/
.n_l_tit_company {
	background:#e2e2e2;
	padding: 18px 14px 18px 35px;
	height: 44px;
}

	/*彈出的簡述*/
	.n_l_o_text_company {
		padding: 53px 14px 0px 14px;
	}
		@media (max-width: 625px) {
			.n_l_tit_company {
				height: auto;
			}
		}
	
/*廠商內頁上*/
.company_top {
	padding:8px 0px 0px 0px;
}
	.company_top_logo {
		float:left;
	}
		.company_top_logo img {
			display:block;
		}
	
	.company_top_right {
		float:right;
		width:666px;
	}
		.c_t_r_tit {
			font-size:18px;
			font-weight:bold;
			line-height:24px;
			border-bottom: dotted 1px #000;
			padding:3px 0px 10px 0px;
		}
		.c_t_r_text {
			font-size:12px;
			line-height:25px;
			padding:5px 0px;
		}
		.c_t_r_fb {
			padding:0px 0px 13px 0px;
		}
		.c_t_r_but {
			text-align:right;
		}
			.c_t_r_but a {
				width:178px;
				height:40px;
				background:#025ec4;
				color:#fff;
				font-size:12px;
				text-align:center;
				line-height:40px;
				text-decoration:none;
				display:inline-block;
				border-radius:5px;
			}
				.c_t_r_but a:hover {
					background:#002956;
				}
					@media (max-width: 960px){
						.company_top_logo {
							width:29%;
						}
							.company_top_logo img {
								width:100%;
								height:auto;
							}
							
						.company_top_right {
							width:69%;
						}
					}
						@media (max-width: 540px){
							.company_top_logo {
								float: none;
								width:100%;
								padding:0px 0px 15px 0px;
							}
							.company_top_right {
								float:none;
								width:100%;
							}
								.c_t_r_tit {
									font-size:20px;
									line-height:28px;
								}
								.c_t_r_text {
									font-size:15px;
								}
									.c_t_r_but a {
										width:100%;
										font-size:15px;
									}
						}
						
/*廠商內頁網編區*/
.company_text_area {
	padding:25px 0px 0px 0px;
}
	.c_t_tit {
		font-size:15px;
		line-height:31px;
		font-weight:bold;
		color:#fff;
		background:#025ec4;
		text-align:center;
	}
	.company_text_area .text_area {
	}
		@media (max-width: 540px){
			.c_t_tit {
				font-size:17px;
				background:#004694;
			}
		}
	
/*回上一頁*/
.back_but {
	text-align:center;
	padding:15px 0px 0px 0px;
}
	.back_but a {
		width:178px;
		height:40px;
		line-height:40px;
		background: #025ec4;
		color:#fff;
		text-decoration:none;
		text-align:center;
		display:inline-block;
		border-radius:5px;
		font-size:12px;
	}
		.back_but a:hover {
			background:#004694;
		}
		
	.back_but_in {
		width:178px;
		display:inline-block;
	}
			@media (max-width: 540px){
				.back_but a {
					width:100%;
					font-size:15px;
				}
				.back_but_in {
					width:100%;
				}
			}
			
/*說明會列表區*/
.seminar_list_area {
	padding:15px 0px 0px 0px;
}
	/*說明會列表*/
	.seminar_list {
		border-bottom: solid 1px #999;
		padding:0px 0px 19px 0px;
		margin:0px 0px 19px 0px;
	}
		.seminar_list .company_top_logo {
			position:relative;
		}
			.s_c_t_l_number_area {
				position:absolute;
				bottom:-22px;
				left:0px;
			}
				.s_c_t_l_number {
					font-size:12px;
					line-height:22px;
					background:#006fec;
					color:#fff;
					padding:0px 7px;
					display:inline-block;
				}
					.s_c_t_l_number:nth-of-type(2) {
						background:#f20062;
					}
			
			.seminar_list .c_t_r_tit a {
				color:#000;
				text-decoration:none;
			}
				.seminar_list .c_t_r_tit a:hover {
					color:#025ec1;
				}
			
			/*說明會其他資訊區*/
			.c_t_r_other_info {
				padding:12px 0px 0px 0px;
			}
				.c_t_r_other_info_list {
					font-size:12px;
					line-height:24px;
					text-indent: -24px;
					padding: 5px 0px 5px 24px;
				}
					.c_t_r_other_info_list img {
						display: inline-block;
						vertical-align:middle;
						position:relative;
						top:-2px;
					}
			
			.c_t_r_but_area {
				padding:10px 0px 0px 0px;
			}
				.seminar_list .c_t_r_but {
					float:right;
					margin:0px 20px 0px 0px;
				}
						/*可報名的樣式*/
						.seminar_list .c_t_r_but.can a {
							background:#ec7500;
						}
							.seminar_list .c_t_r_but.can a:hover {
								background:#ec3800;
							}
						/*不可報名的樣式*/
						.seminar_list .c_t_r_but.cannot a {
							background:#666666;
							cursor:default;
						}
							@media (max-width: 605px){
								.seminar_list .c_t_r_but {
									width:49%;
									margin:0px;
								}
									.seminar_list .c_t_r_but:nth-of-type(2) {
										float:left;
									}
							}
								@media (max-width: 540px){
									.s_c_t_l_number_area {
										bottom: 0px;
									}
										.seminar_list .c_t_r_but_in {
											width:100%;
										}
								}


/*-------表格區----------------------------------------------------------------------------*/
/*表單區說明文字*/
.form_info_area {
	font-size:12px;
	line-height:24px;
}
	.red {
		color:#ff0000;
	}
		@media (max-width: 540px){
			.form_info_area {
				font-size:15px;
			}
		}


/*表單區*/
.form_area {
	padding:20px 83px 0px 83px;
}
	/*表單小標*/
	.form_s_tit {
		font-size:18px;
		padding:0px 0px 14px 0px;
		font-weight:bold;
	}
		/*表單小小標*/
		.form_s_tit_s {
			font-size:13px;
			line-height:18px;
			font-weight:bold;
			padding:0px 0px 15px 0px;
		}
			@media (max-width: 540px){
				.form_s_tit_s {
					font-size:15px;
				}
			}

	/*表單區左*/
	.form_area_left {
		width:372px;
		float:left;
	}
	/*表單區右*/
	.form_area_right {
		width:372px;
		float:right;
	}
		.form_list {
			border: solid 1px #1369c8;
			padding:0px 14px;
			font-size:12px;
			min-height:35px;
			line-height:35px;
			margin:0px 0px 14px 0px;
			position:relative;
		}
			.form_list_no_border {
				border: solid 1px #fff;
			}
			.form_list.form_list_unit {
			}
				.form_list.form_list_unit input[type="text"] {
					width:90%;
				}
			.form_list_name {
				word-break:break-all;
			}
				.form_list_name span {
					line-height: 24px;
					display:inline-block;
				}
				.form_list input[type="text"], .form_list input[type="password"] {
					border:none;
					height:35px;
					line-height:35px;
					width:100%;
					padding:0px;
				}
				.form_list textarea {
					border:none;
				}
				.form_list label {
					padding:0px 15px 0px 0px;
				}
				.form_list select {
					border:none;
					width:100%;
					padding: 9px 0px;
				}
				
					@media (max-width: 960px){
						.form_area_left, .form_area_right {
							width:100%;
							float:none;
						}
					}
						@media (max-width: 540px){
							.form_area {
								padding:20px 0px 0px 0px;
							}
								.form_list {
									font-size:15px;
									min-height:40px;
									line-height:40px;
								}
									.form_list input[type="text"], .form_list input[type="password"] {
										font-size:15px;
										height:40px;
										line-height:40px;
									}
									.form_list textarea {
										font-size:15px;
									}
						}
	
	/*表單區不分左右*/
	.form_area_main {
	}
		.form_list input[type="text"].form_other_text {
			border-bottom: solid 1px #000;
			height: 25px;
			line-height: 25px;
		}
	
	/*表單撐高度用*/
	.form_space_area {
		width:100%;
		height:30px;
	}

/*-------條款區----------------------------------------------------------------------------*/
.provision_area {
	padding:25px 0px 20px 0px;
}
	.provision_top_text {
		font-size:12px;
		padding:0px 0px 18px 0px;
	}
	.provision_text_area {
		padding:0px 14px;
		height:327px;
		border: solid 1px #c5c5c5;
		overflow-y:scroll;
	}
	.provision_check_area {
		font-size:12px;
		font-weight:bold;
		padding:18px 0px 0px 0px;
	}
		#no {
			background:#a8a8a8;
			cursor:default;
		}
			@media (max-width: 540px){
				.provision_top_text {
					font-size:15px;
				}
				.provision_check_area {
					font-size:15px;
				}
			}
			
/*-------入團申請完成頁列印區----------------------------------------------------------------------------*/
/*入團申請完成頁列印區-上方說明字*/
.a_c_p_top_text {
	text-align:center;
	font-size:12px;
	padding:20px 0px 30px 0px;
}

/*入團申請完成頁列印區*/
.apply_complete_print_area {
	width:698px;
	margin:0 auto;
}
	/*入團申請完成頁列印區-標題*/
	.a_c_p_tit {
		font-size:15px;
		font-weight:bold;
		text-align:center;
		padding:0px 0px 29px 0px;
	}
	
	/*入團申請完成頁列印區-申請日期*/
	.a_c_p_time {
		float:left;
		width:60%;
		font-size:12px;
		padding:0px 0px 10px 0px;
	}
	
	/*入團申請完成頁列印區-申請編號*/
	.a_c_p_number {
		float:right;
		width:40%;
		font-size:12px;
		padding:0px 0px 10px 0px;
	}
	
	/*入團申請完成頁列印區-表格*/
	.a_c_p_table {
	}
		.a_c_p_table table {
			background:#000;
			border: solid 1px #000;
			border-spacing: 1px;
			border-collapse: separate;
			font-size:13px;
			line-height:24px;
			word-break:break-all;
		}
			.a_c_p_table table tr {
				background:#fff;
			}
				.a_c_p_table table tr td {
					padding:5px;
				}
					td.a_c_p_t_tit {
						font-size:16px;
						line-height: 20px;
					}
						.a_c_p_table table tr td ol {
							line-height:17px;
							padding: 0px 0px 0px 23px;
						}
				tr.a_c_p_t_border_top {
				}
					tr.a_c_p_t_border_top td {
						border-top:solid 1px #000;
					}
					
						table.a_c_p_t_in_table {
							border-collapse: collapse;
							border-spacing: 0;
							border:0px;
						}
						
						td.a_c_p_t_data_area {
							font-size:12px;
							line-height:18px;
						}

/*-------會員專區----------------------------------------------------------------------------*/
/*會員登入區*/
.member_login_area {
	padding:30px 0px 0px 0px;
}
	.m_l_tit {
		text-align:center;
		font-size:18px;
		font-weight:bold;
		padding: 0px 0px 0px 0px;
	}
	.m_l_form_area {
		max-width:372px;
		margin:0 auto;
	}
		.m_l_form_area .form_list {
		}

/*會員登入虛線*/
.momber_login_dotted {
	width:100%;
	border-bottom: dotted 1px #000;
	padding:50px 0px 0px 0px;
	margin:0px 0px 30px 0px;
}

/*密碼強度檢測*/
#passwordStrengthDiv {
	position:absolute;
	right: -1px;
  	top: -1px;
}

/*會員專區的審查狀態查詢的說明字*/
.review_status_top_text {
	text-align:center;
	font-size:15px;
	font-weight:bold;
	color:#025ec4;
	padding:15px 0px 36px 0px;
	line-height:24px;
}


/*網頁編輯器*/
.editor_area {
	padding:0px 0px 14px 0px;
}
	.editor_area textarea {
		height:265px;
		padding:0px;
	}



/*手機版橫向 和 平版直向 和 手機版直向 共用區*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
@media (max-width: 960px){

.wrap{
	width:auto;
	padding:0px 15px;
}

/*-------版頭----------------------------------*/
.header {
	position:relative;
}
	/*版頭上*/
	.header_top {
		/*border-bottom: solid 5px #002956;*/
		background:#004694;
	}
		/*主按鍵*//*版頭上會員登入*//*版頭上聯絡我們*/
		.header_top_member_login, .header_top_contact, .navbar {
			display:none;
		}
		
		/*手機主按鍵*/
		.mobile_navbar {
			display:block;
		}
		
		/*手機主按鍵列表*/
		.mobile_nav_list {
			display:block;
		}
		
/*撐版頭高度用*/
.find_heder_height {
	display:none;
}
	
}


/*手機版橫向和平版直向*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
@media (min-width: 541px) and  (max-width: 960px){
}


/*手機版直向*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
@media (max-width: 540px){
	
/*-------版頭----------------------------------*/
/*版頭上*/
.header_top {
	height:auto;
}
	/*logo*/
	.logo {
		display:none;
	}
	/*手機版logo*/
	.mobile_logo {
		display:block;
	}
	
/*手機主按鍵*/
.mobile_navbar {
	top:1%;
}

}